<div class="flex flex-col">
    <div class="text-xl sm:text-2xl text-black/[0.85] font-medium mb-4 sm:mb-[34px] w-full inline-flex flex-wrap">
        <span class="mr-3.5">Please add title and describe your challenge</span>
    </div>
    <div class="flex flex-col lg:flex-row grow space-y-6 lg:space-y-0 lg:space-x-9">
        <div class="flex flex-col w-full space-y-4">
            <!-- Title Field -->
            <div class="flex flex-col">
                <label for="{{ form.title.id_for_label }}" class="text-lg text-black/[0.85] mb-2">
                    {{ form.title.label }}
                    <sup class="text-sm text-[#FF4D4F]">*</sup>
                </label>
                {{ form.title }}
            </div>

            <!-- Description Field -->
            <div class="flex flex-col">
                <label for="{{ form.description.id_for_label }}" class="text-lg text-black/[0.85] mb-2">
                    {{ form.description.label }}
                    <sup class="text-sm text-[#FF4D4F]">*</sup>
                </label>
                {{ form.description }}
            </div>

            <!-- Product Area Field -->
            <div class="flex flex-col w-1/3">
                <label for="{{ form.product_area.id_for_label }}" class="text-lg text-black/[0.85] mb-2">
                    {{ form.product_area.label }}
                </label>
                {{ form.product_area }}
            </div>

            <!-- Initiative Field -->
            <div class="flex flex-col w-1/3">
                <label for="{{ form.initiative.id_for_label }}" class="text-lg text-black/[0.85] mb-2">
                    {{ form.initiative.label }}
                </label>
                {{ form.initiative }}
            </div>
        </div>
    </div>
</div> 