<div class="steps flex flex-col px-4 py-2.5 sm:pt-[34px] sm:px-5 sm:pb-[46px] border-2 sm:border-[3px] border-solid border-[#F4F6F7]">
    <!-- Step 1 -->
    <div class="active step-numb relative" data-step-numb="1">
        <span class="step-numb__divider" aria-hidden="true"></span>
        <div class="relative flex space-x-3">
            <div class="step-numb__item"> <span>1</span> </div>
            <div class="flex min-w-0 flex-1 ml-4">
                <div class="step-numb__text text-sm leading-6 text-black/[0.85] font-semibold sm:font-normal">
                    Choose challenge type
                </div>
            </div>
        </div>
    </div>

    <!-- Step 2 -->
    <div class="step-numb relative" data-step-numb="2">
        <span class="step-numb__divider" aria-hidden="true"></span>
        <div class="relative flex space-x-3">
            <div class="step-numb__item"> <span>2</span> </div>
            <div class="flex min-w-0 flex-1 ml-4">
                <div class="step-numb__text text-sm leading-6 text-black/[0.85] sm:text-[#8C8C8C] font-semibold sm:font-normal">
                    Describe Challenge
                </div>
            </div>
        </div>
    </div>

    <!-- Step 3 -->
    <div class="step-numb relative" data-step-numb="3">
        <span class="step-numb__divider" aria-hidden="true"></span>
        <div class="relative flex space-x-3">
            <div class="step-numb__item"> <span>3</span> </div>
            <div class="flex min-w-0 flex-1 ml-4">
                <div class="step-numb__text text-sm leading-6 text-black/[0.85] sm:text-[#8C8C8C] font-semibold sm:font-normal">
                    Specify requirements
                </div>
            </div>
        </div>
    </div>

    <!-- Step 4 -->
    <div class="step-numb relative" data-step-numb="4">
        <span class="step-numb__divider" aria-hidden="true"></span>
        <div class="relative flex space-x-3">
            <div class="step-numb__item"> <span>4</span> </div>
            <div class="flex min-w-0 flex-1 ml-4">
                <div class="step-numb__text text-sm leading-6 text-black/[0.85] sm:text-[#8C8C8C] font-semibold sm:font-normal">
                    Add additional info
                </div>
            </div>
        </div>
    </div>

    <!-- Step 5 -->
    <div class="step-numb relative" data-step-numb="5">
        <div class="relative flex space-x-3">
            <div class="step-numb__item"> <span>5</span> </div>
            <div class="flex min-w-0 flex-1 ml-4">
                <div class="step-numb__text text-sm leading-6 text-black/[0.85] sm:text-[#8C8C8C] font-semibold sm:font-normal">
                    Review and publish
                </div>
            </div>
        </div>
    </div>
</div> 