<div class="lg:hidden">
    <div class="flex items-center justify-between border-b border-gray-200 bg-white px-4 py-2">
        <div>
            <img class="h-8 w-auto" src="{% static 'images/logo.png'  %}" alt="OpenUnited">
        </div>
        <div>
            <button type="button" class="mobile-menu-button text-gray-500 hover:text-gray-600">
                <span class="sr-only">Open menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
    </div>
</div> 