<meta charset="UTF-8" />
<link
        rel="shortcut icon"
        href="/assets/images/logo/favicon-dark.png"
        media="(prefers-color-scheme: dark)" />
<link
        rel="shortcut icon"
        href="/assets/images/logo/favicon-light.png"
        media="(prefers-color-scheme: light)" />

<link rel="stylesheet" href="/assets/css/main.css" />
<script>
  try {
    document.documentElement.setAttribute("data-theme", JSON.parse(localStorage.getItem("__NEXUS__HTML__ADMIN__LAYOUT__")).theme)
  } catch (e) {}
</script>
