<div
  role="navigation"
  aria-label="Navbar"
  class="topbar-wrapper navbar z-10 border-b border-base-200 px-3">
  <div class="navbar-start gap-3">
    <!--  Start: Left Menu Toggle -->

    <button
      aria-label="Leftmenu toggle"
      data-action="leftbar-toggle"
      class="btn btn-square btn-ghost btn-sm">
      <iconify-icon icon="lucide:menu" height="20"></iconify-icon>
    </button>

    <!--  End: Left Menu Toggle -->
    <!--  Start: Search Button -->

    <button
      aria-label="Search button"
      onclick="search_modal.showModal()"
      class="btn btn-outline btn-sm hidden h-9 w-48 items-center justify-start gap-3 border-base-content/20 hover:border-transparent hover:bg-base-content/20 sm:flex">
      <iconify-icon icon="lucide:search" height="16" class="text-base-content/60"></iconify-icon>

      <span class="text-base-content/60">Search</span>
    </button>

    <!--  End: Search Button -->
    <button
      aria-label="Search button"
      onclick="search_modal.showModal()"
      class="btn btn-circle btn-outline btn-sm flex border-base-content/20 hover:border-transparent hover:bg-base-content/20 sm:hidden">
      <iconify-icon icon="lucide:search" height="16" class="text-base-content/60"></iconify-icon>
    </button>
    <!--  Start: Search Modal -->

    <dialog aria-label="Modal" class="modal" id="search_modal">
      <div class="modal-box p-0">
        <div class="form-control flex-row items-center rounded-box p-2 px-5">
          <iconify-icon
            icon="lucide:search"
            height="18"
            class="text-base-content/70"></iconify-icon>

          <input
            placeholder="Search along files"
            class="input input-sm w-full text-base focus:border-transparent focus:outline-0 focus:outline-offset-0" />
          <form method="dialog">
            <button aria-label="Close search modal" class="btn btn-circle btn-ghost btn-sm gap-2">
              <iconify-icon icon="lucide:x" height="16"></iconify-icon>
            </button>
          </form>
        </div>
        <div class="border-t border-base-content/10">
          <ul class="menu">
            <li class="menu-title">Actions</li>
            <li class="">
              <div>
                <iconify-icon icon="lucide:folder-plus" height="18"></iconify-icon>

                <p class="grow text-sm">Create a new folder</p>
              </div>
            </li>
            <li class="">
              <div>
                <iconify-icon icon="lucide:file-plus" height="18"></iconify-icon>

                <p class="grow text-sm">Upload new document</p>
              </div>
            </li>
            <li class="">
              <div>
                <iconify-icon icon="lucide:user-plus" height="18"></iconify-icon>

                <p class="grow text-sm">Invite to project</p>
              </div>
            </li>
            <hr class="-mx-2 mt-3 h-px border-base-content/10" />
            <li class="menu-title">Quick Links</li>
            <li class="">
              <div>
                <iconify-icon icon="lucide:folders" height="18"></iconify-icon>

                <p class="grow text-sm">File Manager</p>
              </div>
            </li>
            <li class="">
              <div>
                <iconify-icon icon="lucide:user" height="18"></iconify-icon>

                <p class="grow text-sm">Profile</p>
              </div>
            </li>
            <li class="">
              <div>
                <iconify-icon icon="lucide:layout-dashboard" height="18"></iconify-icon>

                <p class="grow text-sm">Dashboard</p>
              </div>
            </li>
            <li class="">
              <div>
                <iconify-icon icon="lucide:help-circle" height="18"></iconify-icon>

                <p class="grow text-sm">Support</p>
              </div>
            </li>
            <li class="">
              <div>
                <iconify-icon icon="lucide:keyboard" height="18"></iconify-icon>

                <p class="grow text-sm">Keyboard Shortcuts</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>

    <!--  End: Search Modal -->
  </div>
  <div class="navbar-center"></div>
  <div class="navbar-end gap-1.5">
    <!--  Start: Theme Toggle -->

    <button
      aria-label="Theme toggler"
      class="btn btn-circle btn-ghost btn-sm"
      data-action="theme-toggle">
      <iconify-icon icon="lucide:sun" height="20" class="hidden dark:inline"></iconify-icon>
      <iconify-icon icon="lucide:moon" height="20" class="inline dark:hidden"></iconify-icon>
    </button>

    <!--  End: Theme Toggle -->

    <div>
      <!--  Start: Notification -->

      <div class="dropdown dropdown-end dropdown-bottom">
        <label tabindex="0" class="btn btn-circle btn-ghost btn-sm">
          <iconify-icon icon="lucide:bell" height="20"></iconify-icon>
        </label>
        <ul
          tabindex="0"
          class="menu card dropdown-content card-compact m-1 w-96 rounded-box bg-base-100 p-3 shadow"
          role="menu">
          <div class="flex items-center justify-between px-2">
            <p class="text-base font-medium">Notification</p>
            <button class="btn btn-circle btn-ghost btn-sm gap-2">
              <iconify-icon icon="lucide:x" height="16"></iconify-icon>
            </button>
          </div>
          <div class="flex items-center justify-center">
            <div class="rounded-full border border-base-content/10 px-3 text-center">
              <p class="text-xs text-base-content/80">Today</p>
            </div>
          </div>
          <div class="mt-3">
            <div
              class="my-0.5 flex cursor-pointer items-center gap-3 rounded-box p-1.5 transition-all hover:bg-base-content/5 active:scale-[.98]">
              <img
                alt=""
                loading="lazy"
                class="mask mask-circle size-9 bg-base-content/10 p-0.5"
                src="/assets/images/avatars/1.png" />
              <div class="grow">
                <p class="text-sm">Customer has requested a return for item</p>
                <p class="text-xs text-base-content/60">1 Hour ago</p>
              </div>
            </div>
            <div
              class="my-0.5 flex cursor-pointer items-center gap-3 rounded-box p-1.5 transition-all hover:bg-base-content/5 active:scale-[.98]">
              <img
                alt=""
                loading="lazy"
                class="mask mask-circle size-9 bg-base-content/10 p-0.5"
                src="/assets/images/avatars/2.png" />
              <div class="grow">
                <p class="text-sm">A new review has been submitted for product</p>
                <p class="text-xs text-base-content/60">1 Hour ago</p>
              </div>
            </div>
          </div>
          <div class="mt-2 flex items-center justify-center">
            <div class="rounded-full border border-base-content/10 px-3 text-center">
              <p class="text-xs text-base-content/80">Yesterday</p>
            </div>
          </div>
          <div class="mt-3">
            <div
              class="my-0.5 flex cursor-pointer items-center gap-3 rounded-box p-1.5 transition-all hover:bg-base-content/5 active:scale-[.98]">
              <img
                alt=""
                loading="lazy"
                class="mask mask-circle size-9 bg-base-content/10 p-0.5"
                src="/assets/images/avatars/3.png" />
              <div class="grow">
                <p class="text-sm">Prepare for the upcoming weekend promotion</p>
                <p class="text-xs text-base-content/60">1 Hour ago</p>
              </div>
            </div>
            <div
              class="my-0.5 flex cursor-pointer items-center gap-3 rounded-box p-1.5 transition-all hover:bg-base-content/5 active:scale-[.98]">
              <img
                alt=""
                loading="lazy"
                class="mask mask-circle size-9 bg-base-content/10 p-0.5"
                src="/assets/images/avatars/4.png" />
              <div class="grow">
                <p class="text-sm">Product 'ABC123' is running low in stock.</p>
                <p class="text-xs text-base-content/60">1 Hour ago</p>
              </div>
            </div>
            <div
              class="my-0.5 flex cursor-pointer items-center gap-3 rounded-box p-1.5 transition-all hover:bg-base-content/5 active:scale-[.98]">
              <img
                alt=""
                loading="lazy"
                class="mask mask-circle size-9 bg-base-content/10 p-0.5"
                src="/assets/images/avatars/5.png" />
              <div class="grow">
                <p class="text-sm">Payment received for Order ID: #67890</p>
                <p class="text-xs text-base-content/60">1 Hour ago</p>
              </div>
            </div>
          </div>
          <hr class="-mx-2 mt-2 border-base-content/10" />
          <div class="flex items-center justify-between pt-2">
            <button class="btn btn-ghost btn-sm text-primary hover:bg-primary/10">View All</button>
            <button class="btn btn-ghost btn-sm text-base-content/80 hover:bg-base-content/10">
              Mark as read
            </button>
          </div>
        </ul>
      </div>

      <!--  End: Notification -->
    </div>
    <!--  Start: Profile With Action Item -->

    <div class="dropdown dropdown-end dropdown-bottom">
      <label tabindex="0" class="btn btn-ghost rounded-btn px-1.5 hover:bg-base-content/20">
        <div class="flex items-center gap-2">
          <div aria-label="Avatar photo" class="avatar">
            <div class="mask mask-squircle" style="width: 30px; height: 30px">
              <img src="/assets/images/avatars/1.png" alt="Avatar" />
            </div>
          </div>
          <div class="flex flex-col items-start">
            <p class="text-sm/none">Deep</p>
            <p class="mt-1 text-xs/none text-primary">Edit</p>
          </div>
        </div>
      </label>
      <ul
        tabindex="0"
        class="menu dropdown-content mt-4 w-52 rounded-box bg-base-100 p-2 shadow"
        role="menu">
        <li>
          <div>
            <iconify-icon icon="lucide:user" height="16"></iconify-icon>

            My Profile
          </div>
        </li>
        <li>
          <div>
            <iconify-icon icon="lucide:bell" height="16"></iconify-icon>
            Notification
          </div>
        </li>
        <hr class="-mx-2 my-1 border-base-content/10" />
        <li>
          <div class="text-error">
            <iconify-icon icon="lucide:log-out" height="16"></iconify-icon>
            Logout
          </div>
        </li>
      </ul>
    </div>

    <!--  End: Profile With Action Item -->
  </div>
</div>
