{% extends 'base.html' %}

{% block content %}

<style>
  .mt-16 {
    margin-top: 4rem;
}
</style>

<div class="bg-white px-6 py-32 lg:px-8">
    <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
      <p class="text-base font-semibold leading-7 text-indigo-600">Introduction</p>
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Shaping the Future of Product Excellence with FreshLatte</h1>
      <p class="mt-6 text-xl leading-8">The world of software development and product management has seen a stream of frameworks, from the waterfall models of yesteryears to the agility introduced by Scrum. Yet, as times change and challenges diversify, we find gaps that need bridging, and opportunities that await innovative solutions.</p>
      <div class="mt-10 max-w-2xl">
        <p>FreshLatte emerges at this pivotal moment, not just as another guide but as a trailblazing collection of practices engineered for the future of product-minded cultures. But what really sets FreshLatte apart? In today's fast-paced product landscape, staying competitive requires dynamic approaches. First, envision a 'Product Tree' that not only defines your products and their capabilities in a structured way, but also becomes an anchor for continuous discovery. Over time, the Product Tree accumulates insights, serving as an analytical backbone that aids in discerning areas ripe for investment or those due for review.</p>
      </div>
      <div class="mt-10 max-w-2xl">
        <p>Next, picture a fluid development approach where teams aren't static. Imagine a world where product development isn't bound by fixed teams and siloed responsibilities. Envision a fluid ecosystem where a core team is complemented by a vibrant community of cross-functional contributors, both within and beyond organisational boundaries, that “pull” well-defined work on professionally managed products towards them. This is the paradigm shift that FreshLatte champions. We are fostering a movement that embraces both stability and dynamism, striking a balance between dedicated core teams and the flexibility of a diverse contributor base.</p>
      </div>
      <div class="mt-10 max-w-2xl">
        <p>With FreshLatte, we dive deep into uncharted territories, exploring avant-garde approaches such as talent marketplace dynamics in combination with product management to optimise outcomes for all stakeholders, product budgeting through a points system, novel mechanisms to incentivise the completion of the most valuable challenges rapidly, and community-driven development.</p>
      </div>
      <div class="mt-10 max-w-2xl">
        <p>FreshLatte is more than just a framework; it's an invitation to be part of the next generation of product excellence. If you're as passionate about paving new pathways as we are, join us on this journey.</p>
      </div>
    </div>

  </div>
  <div class="mt-10 flex items-center justify-center gap-x-6">
    <a href="https://940f5a5a.sibforms.com/serve/MUIFAGUEz5gvD9TPt0qpwv1jbDR0d-63n7uT8GDTRZUyEHQIidWDisNVDu6XtEWmkRnZPq72nwLGn1xRJT5ysYxjgHX4yzagbf1J70NQR6UP6ntm6O95srvlEYrYtlr5RstR17rJsij22QvAcj2zb6aBGc2pYp8s_jqBXxl50DvsfoXKMAGIP-MK9Iq1U6Han1u4sffF_qzF_Pb1" target="_blank" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Receive FreshLatte Email Updates</a>
    <a href="{{ url('chapter1')}}" class="text-sm font-semibold leading-6 text-gray-900">Chapter 1 of the FreshLatte book <span aria-hidden="true">→</span></a>
  </div>

{% endblock %}