{% extends 'security/base_security.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}

{% include 'logo.html' %}

<div class="flex flex-col-reverse lg:flex-row grow items-center justify-center py-8 lg:py-14 sm:gap-8">
    <div class="w-full lg:w-1/2">
        <div class="flex items-center justify-center w-full h-[320px] lg:h-auto">
            <img src="{{ static('images/login-ai-preview.png') }}"
                class="w-full h-full object-cover lg:object-contain object-center sm:rounded-lg" alt="Cover Image">
        </div>
    </div>
    <div class="w-full lg:w-1/2">
        <div class="flex flex-col sm:mx-auto sm:w-full sm:max-w-[512px]">
            <div class="bg-white px-6 py-8 sm:shadow sm:rounded-lg sm:px-8">
                <div class="text-xl text-black/[0.85] inline-flex font-semibold mb-6">You need to reset your password
                </div>

                <p class="mt-6 text-left text-sm text-gray-500">
                    It seems like there has been a couple of attempts to access your account.
                </p>

                <p class="mt-6 text-left text-sm text-gray-500">
                    Even though these attempts might have been made by you, we wanted to make sure your account is safe.
                    For that reason,
                    we are asking you to reset your password.
                </p>
                <p class="mt-6 text-left text-sm">
                    <a href="{{ url('password_reset') }}"
                        class="font-medium transition-all text-[#1890ff] hover:text-text-[#1890ff] hover:underline underline-offset-2">
                        Reset my passsword
                    </a>
                </p>

            </div>
        </div>
    </div>
</div>

{% endblock %}