{% if not product_slug %}
    <form id="shareable_product_tree" class="hidden" hx-post="{{url('update_product_tree',args=(product_tree.pk,) )}}" hx-swap="none">
        <div class="flex">
            <div class="relative w-3/5">
                <input type="text" name="name"  value="{{product_tree.name}}" class="block p-2.5 w-full z-20 py-1.5 px-3 h-9 p-3  text-gray-900 bg-gray-50 rounded-e-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500" placeholder="Name ..." required />
                <button type="submit" class="absolute top-0 end-0 px-2.5 h-full text-sm font-medium text-white bg-indigo-700 rounded-e-lg border border-indigo-700 bg-white">
                    <i class="fa fa-check-circle text-indigo-500" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <p class="text-red-500" id="shareable_product_tree_error"> </p>
    </form>
{% endif %}
