boto3==1.28.68
celery==5.3.1
dj-database-url==2.1.0
Django==4.2.2
django-ckeditor==6.7.0
django-cors-headers==4.3.1
django-debug-toolbar==4.1.0
django-extensions==3.2.3
django-filter==23.5
django-formtools==2.4.1
django-jinja==2.10.2
django-storages==1.14.2
django-treebeard==4.7
factory-boy==3.3.0
Faker==19.2.0
fastapi==0.101.0
gunicorn==21.1.0
htmx==0.0.0
Jinja2==3.1.2
Pillow==10.0.0
psycopg2-binary==2.9.6
requests==2.31.0
sendgrid==6.10.0
sentry-sdk==1.32.0
websockets==11.0.3
whitenoise==6.6.0
django_htmx==1.17.3
social-auth-app-django==5.4.1
django-model-utils==4.5.1
django_lifecycle==1.2.3
black==24.4.2
jsonformat==0.0.11

