<script type="text/script" id="empty_attachment_script">
    <tr id="" class="border-b border-gray-200">
        <td class="py-2">
            <input type="file" name="form-__attachment_prefix__-file" accept=".pdf,.PNG,.GIF,.JPG,.JPEG" class="shadow appearance-none border rounded text-gray-700 leading-tight focus:outline-none w-4/5 py-2 px-3" id="id_form-__attachment_prefix__-file">
        </td>
        <td class="py-2">
            <input type="text" name="form-__attachment_prefix__-title" class="shadow appearance-none border rounded w-4/5 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Title.." maxlength="300" id="id_form-__attachment_prefix__-title">
        </td>

        <td class="py-2">
            <textarea name="form-__attachment_prefix__-description" cols="40" rows="2" class="shadow appearance-none border rounded w-4/5 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Description.." id="id_form-__attachment_prefix__-description"></textarea>
        </td>

        <td class="py-3  text-left">
            <input type="checkbox" class="hidden" data-delete-id="" name="form-{{__attachment_prefix__}}-DELETE" id="form-__attachment_prefix__-DELETE">
            <button type="button"  class="bg-red-700 text-white py-1 px-2 rounded-full" onclick="checkCheckbox({{__attachment_prefix__}})">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
</script>
