<div class="max-w-lg mx-auto flex justify-left">
    <button
        class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 text-center inline-flex items-center"
        type="button" data-dropdown-toggle="dropdown_{{elem.bounty.pk}}"><svg class="w-4 h-4" fill="none"
            stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
        </svg>
    </button>


    <!-- Dropdown menu -->
    <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded-xl shadow my-4 p-4"
        id="dropdown_{{elem.bounty.pk}}">
        <ul class="py-1" aria-labelledby="dropdown">
            <li>
                {% if elem.can_be_claimed %}
                    {% with bounty=elem.bounty %}
                        {% include 'product_management/partials/buttons/create_bounty_claim_button.html' %}
                    {% endwith %}
                {% endif %}
            </li>
            <li class="mt-2">
                {% if elem.can_be_modified %}
                    <a href="{{ url('update-bounty', args=(challenge.product.slug, challenge.id, bounty.id,)) }}"
                        class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1 text-center me-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-900 mr-1">Edit</a>
                {% endif %}
            </li>

            <li class="mt-2">
                {% if elem.created_bounty_claim_request %}
                    {% with bounty_claim=elem.bounty_claim %}
                        {% include 'product_management/partials/buttons/delete_bounty_claim_button.html' %}
                    {% endwith %}
                {% endif %}
            </li>
            <li class="mt-2">
                {% if elem.can_be_modified %}
                    <a hx-get="{{ url('delete-bounty', args=(challenge.product.slug, challenge.id, bounty.id,)) }}"
                        hx-confirm="Are you sure to delete this bounty?" hx-target="body" hx-swap="innerHTML"
                        hx-push-url="true"
                        class="text-red-700 cursor-pointer hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-1 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900 mr-1">Delete
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>