<table class="min-w-full divide-y divide-gray-300">
    <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Challenge</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Bounty</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Assignee</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                <span class="sr-only">Visit</span>
            </th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
        {% for delivery_attempt in delivery_attempts %}
        <tr>
            <td class="max-w-xs px-3 py-4 text-sm text-gray-500">
                <a href="{{ delivery_attempt.bounty_claim.bounty.challenge|call:get_absolute_url  }}" 
                   class="font-medium text-blue-600 hover:underline">
                    {{ delivery_attempt.bounty_claim.bounty.challenge.title  }}
                </a>
            </td>
            <td class="max-w-xs px-3 py-4 text-sm text-gray-500">
                <a href="{{ delivery_attempt.bounty_claim.bounty|call:get_absolute_url  }}" 
                   class="font-medium text-blue-600 hover:underline">
                    {{ delivery_attempt.bounty_claim.bounty.title  }}
                </a>
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <a href="{{ delivery_attempt.bounty_claim.person|call:get_absolute_url  }}"
                   class="font-medium text-blue-600 hover:underline">
                    {{ delivery_attempt.bounty_claim.person.name  }}
                </a>
            </td>
            <td>
                <a href="{{ delivery_attempt|call:get_absolute_url  }}"
                   class="font-medium text-sm text-blue-600 hover:underline">
                    Review work
                </a>
            </td>
        </tr>
        {% endfor  %}
    </tbody>
</table>
