{% extends 'base_html.html'  %}

{% block title   %}Enterprise Customers{% endblock  %}

{% block header   %}

{% include 'header_without_discord.html'  %}

{% endblock  %}

{% block content   %}

<h1 class="text-3xl font-bold mb-4 text-center mt-3 mb-6">OpenUnited for Enterprise Customers</h1>
<!-- Why Choose OpenUnited -->
<h3 class="text-2xl font-medium mb-3">Product Management x Talent Marketplace, in one platform.</h3>
<div class="mt-10 flex flex-col sm:flex-row sm:items-center gap-y-4 sm:gap-y-0 sm:gap-x-6">
        <a href="{% static 'pdf/OpenUnited-Flyer-v2.4.pdf' %}" target="_blank" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 flex items-center justify-center text-left w-fit">Download Brochure</a>
</div>
<p class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">
<p class="text-lg mb-4">Deployed within your company, the OpenUnited platform can be leveraged as a fully branded internal product management and talent marketplace platform, transcending organisational and geographic boundaries.</p>
<p class="text-lg mb-4">Unlock significant value by capturing and developing the untapped potential of your employees, channelling this previously lost value into the asynchronous co-creation of digital products. Provide opportunities for individuals to find meaningful new challenges, develop new skills, and to create new connections in your company.</p>
<p class="text-lg mb-4">Boost the happiness and retention of your employees whilst developing valuable new assets, with OpenUnited.</p>

</p>


{% endblock  %}

{% block footer   %}

{% include 'footer.html'  %}

{% endblock  %}
