{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- tailwind version 3.3.2 -->
  <script src="https://cdn.tailwindcss.com?plugins=line-clamp"></script>

  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

  <title>{% block title %}{% endblock %}</title>
</head>

<!--
    
    TODOs:

    -> make the background gray and the form white
    -> make "Remember Me" checkbox work

-->
<body>
    <div class="max-w-md mx-auto bg-white p-5 rounded-md shadow-sm mt-5">
        <div class="text-center">
            <h1 class="my-3 text-3xl font-semibold text-gray-700">Sign In</h1>
            <p class="text-gray-600">Access your account</p>
        </div>
        <div class="m-7">
            <form method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="text-red-600">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                    <div class="mb-6">
                        <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm text-gray-600">
                            {{ form.username.label }}:
                        </label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="text-red-600">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-6">
                        <label for="{{ form.password.id_for_label }}" class="block mb-2 text-sm text-gray-600">
                            {{ form.password.label }}:
                        </label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class="text-red-600">
                                {{ form.password.errors }}
                            </div>
                        {% endif %}
                    </div>

                <div class="mb-6">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <input id="remember_me" name="remember_me" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                            <label for="remember_me" class="ml-2 block text-sm text-gray-800">
                                Remember me
                            </label>
                        </div>
                        <div class="text-sm">
                            <a href="{% url 'reset_password' %}" class="font-medium text-indigo-600 hover:text-indigo-500">
                                Forgot your password?
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mb-6">
                    <button type="submit" class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none">Sign In</button>
                </div>
                <div class="mb-6 text-center">
                    <p class="text-sm text-gray-600">Don't have an account? <a href="{% url 'sign_up' %}" class="font-medium text-indigo-600 hover:text-indigo-500">Sign up</a></p>
                </div>
                <div class="mb-6 text-center">
                    <p class="text-sm text-gray-600">Or go back to <a href="{% url 'home' %}" class="font-medium text-indigo-600 hover:text-indigo-500">Home</a></p>
                </div>
            </form>
        </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>

  <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>

</body>

</html>
