{% load static %}
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- tailwind version 3.3.2 -->
  <script src="https://cdn.tailwindcss.com?plugins=line-clamp"></script>

  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css" />
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

  <title>{% block title %}{% endblock %}</title>
</head>


<body>
    <div class="max-w-lg mx-auto bg-white p-5 rounded-md shadow-sm mt-5">
        <div class="text-center">
            <h1 class="my-3 text-3xl font-semibold text-gray-700">Sign Up</h1>
            <p class="text-gray-600">Start your open-source journey</p>
        </div>
        <div class="m-7">
            <form method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="text-red-600">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                    <div class="grid gap-4 grid-cols-2">
                        <div class="my-2">
                            <label for="{{ form.first_name.id_for_label }}" class="block mb-2 text-sm text-gray-600">
                                {{ form.first_name.label }}
                            </label>
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                                <div class="text-red-600">
                                    {{ form.first_name.errors }}
                                </div>
                            {% endif %}
                        </div>
            
                        <div class="my-2">
                            <label for="{{ form.last_name.id_for_label }}" class="block mb-2 text-sm text-gray-600">
                                {{ form.last_name.label }}
                            </label>
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                                <div class="text-red-600">
                                    {{ form.last_name.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
            
                    <div class="my-2">
                        <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm text-gray-600">
                            {{ form.username.label }}
                        </label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="text-red-600">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                    </div>
        
                    <div class="my-2">
                        <label for="{{ form.email.id_for_label }}" class="block mb-2 text-sm text-gray-600">
                            {{ form.email.label }}
                        </label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="text-red-600">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>
        
                    <div class="my-2">
                        <label for="{{ form.password1.id_for_label }}" class="block mb-2 text-sm text-gray-600">
                            {{ form.password1.label }}
                        </label>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="text-red-600">
                                {{ form.password1.errors }}
                            </div>
                        {% endif %}
                    </div>
        
                    <div class="my-2">
                        <label for="{{ form.password2.id_for_label }}" class="block mb-2 text-sm text-gray-600">
                            {{ form.password2.label }}
                        </label>
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="text-red-600">
                                {{ form.password2.errors }}
                            </div>
                        {% endif %}
                    </div>
        
                    <div class="mt-4">
                        <button type="submit" class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none">Sign Up</button>
                    </div>    
            </form>
        </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>

    <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>

</body>


</html>
