{% extends 'base_html.html'  %}

{% block title   %}Privacy Policy{% endblock  %}

{% block header   %}

{% include 'header_without_discord.html'  %}

{% endblock  %}

{% block content   %}

<h1 class="text-3xl font-bold text-center mt-3 mb-6">OpenUnited Privacy Policy</h1>

<p class="text-lg leading-7 mb-4">
        This document should be read in conjunction with our
        <a href="https://openunited.com/terms-of-use/" target="_blank" class="text-blue-500 hover:underline">Terms of
                Use</a>
</p>

<p class="text-lg leading-7 mb-4">
        There are many different ways you can use our services - for example to find and share information, to
        communicate with other people or to create new content. As you use our services, we want you to be clear how we
        are using information and the ways in which you can protect your privacy.
</p>

<h2 class="text-2xl font-bold mb-4">Information we collect</h2>

<p class="text-lg leading-7 mb-4">
        We collect information to provide better services to our users.
</p>

<p class="text-lg leading-7 mb-4">
        We collect information in two ways:
</p>

<ul class="list-disc ml-6 mb-4">
        <li class="mb-4">
                <strong class="font-bold">Information you give us.</strong>
                <p class="text-lg leading-7 mb-4">
                        For example, many of our services require you to sign up for an account. When you do, we'll ask
                        for personal information, like your name, email address, telephone number or credit card. If you
                        want to take full advantage of the sharing features we offer, we might also ask you to create a
                        publicly visible profile, which may include your name and photo.
                </p>
        </li>
        <li>
                <strong class="font-bold">Information we obtain from your use of our services.</strong>
                <p class="text-lg leading-7">
                        We may collect information about the services that you use and how you use them.
                </p>
        </li>
</ul>

<h2 class="text-2xl font-bold mb-4">How we use information we collect</h2>

<p class="text-lg leading-7 mb-4">
        We use the information we collect from all of our services to provide, maintain, protect and improve them, to
        develop new ones, and to protect OpenUnited and our users. We also use this information to offer you a tailored
        experience in using our services.
</p>

<p class="text-lg leading-7 mb-4">
        When you contact OpenUnited, we may keep a record of your communication to help solve any issues you might be
        facing. We may use your email address to inform you about our services, such as letting you know about upcoming
        changes or improvements.
</p>

<p class="text-lg leading-7 mb-4">
        We use information collected from cookies and other technologies for security purposes and to improve your user
        experience and the overall quality of our services.
</p>

<p class="text-lg leading-7 mb-4">
        We may combine personal information from one service with information, including personal information, from
        other OpenUnited services.
</p>

<p class="text-lg leading-7 mb-4">
        OpenUnited processes personal information on our servers in many countries around the world. We may process your
        personal information on a server located outside the country where you live.
</p>

<h2 class="text-2xl font-bold mb-4">Choice</h2>

<p class="text-lg leading-7 mb-4">
        You may decide to set your browser to block all cookies, including cookies associated with our services.
        However, it is important to remember that many of our services may not function properly if your cookies are
        disabled. For example, we may not remember your location or other preferences.
</p>

<h2 class="text-2xl font-bold mb-4">Information you share</h2>

<p class="text-lg leading-7 mb-4">
        Many of our services let you share information with others. Remember that when you share information publicly,
        it may be indexable by search engines and other online services.
</p>

<h2 class="text-2xl font-bold mb-4">Accessing and updating your personal information</h2>

<p class="text-lg leading-7 mb-4">
        Whenever you use our services, we aim to provide you with access to your personal information. If that
        information is wrong, we strive to give you ways to update it quickly or to delete it – unless we have to keep
        that information for legitimate business or legal purposes. When updating your personal information, we may ask
        you to verify your identity before we can act on your request.
</p>

<p class="text-lg leading-7 mb-4">
        We may reject requests that are unreasonably repetitive, require disproportionate technical effort (for example,
        developing a new system or fundamentally changing an existing practice), risk the privacy of others, or would be
        extremely impractical (for instance, requests concerning information residing on backup tapes).
</p>

<p class="text-lg leading-7 mb-4">
        Where we can provide information access and correction, we will do so for free, except where it would require a
        disproportionate effort. We aim to maintain our services in a manner that protects information from accidental
        or malicious destruction. Therefore after you delete information from our services, we may not immediately
        delete residual copies from our active servers and may not remove information from our backup systems.
</p>

<h2 class="text-2xl font-bold mb-4">Information we share</h2>

<p class="text-lg leading-7 mb-4">
        We do not share personal information with companies, organizations, and individuals outside of OpenUnited unless
        one of the following circumstances apply:
</p>

<ul class="list-disc ml-6 mb-4">
        <li class="mb-4">
                <strong class="font-bold">With your consent</strong>
                <p class="text-lg leading-7 mb-4">
                        We will share personal information with companies, organizations or individuals outside of
                        OpenUnited when we have your consent to do so.
                </p>
        </li>
        <li>
                <ul class="list-disc ml-6">
                        <li class="mb-4">
                                <strong class="font-bold">For external processing</strong>
                                <p class="text-lg leading-7 mb-4">
                                        We provide personal information to our affiliates or other trusted businesses or
                                        persons to process it for us, based on our instructions and in compliance with
                                        our Privacy Policy and any other appropriate confidentiality and security
                                        measures.
                                </p>
                        </li>
                        <li>
                                <strong class="font-bold">For legal reasons</strong>
                                <p class="text-lg leading-7">
                                        We will share personal information with companies, organizations or individuals
                                        outside of OpenUnited if we have a good-faith belief that access, use,
                                        preservation or disclosure of the information is reasonably necessary to:
                                </p>
                                <ul class="list-disc ml-6">
                                        <li class="mb-4">meet any applicable law, regulation, legal process or
                                                enforceable governmental request.</li>
                                        <li class="mb-4">enforce applicable Terms of Service, including investigation of
                                                potential violations.</li>
                                        <li class="mb-4">detect, prevent, or otherwise address fraud, security or
                                                technical issues.</li>
                                        <li>protect against harm to the rights, property or safety of OpenUnited, our
                                                users or the public as required or permitted by law.</li>
                                </ul>
                        </li>
                </ul>
        </li>
</ul>

<h2 class="text-2xl font-bold mb-4">Information security</h2>

<p class="text-lg leading-7 mb-4">
        We strive to protect OpenUnited and our users from unauthorized access to or unauthorized alteration, disclosure
        or destruction of information we hold. In particular:
</p>

<ul class="list-disc ml-6 mb-4">
        <li class="mb-4">
                We encrypt many of our services using SSL.
        </li>
        <li>
                We restrict access to personal information to OpenUnited employees, contractors and agents who need to
                know that information in order to process it for us, and who are subject to strict contractual
                confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations.
        </li>
</ul>

<h2 class="text-2xl font-bold mb-4">Application</h2>

<p class="text-lg leading-7 mb-4">
        Our Privacy Policy applies to all of the services offered by OpenUnited, but excludes services that have
        separate privacy policies that do not incorporate this Privacy Policy.
</p>

<p class="text-lg leading-7 mb-4">
        Our Privacy Policy does not apply to services offered by other companies or individuals, including products or
        sites that may include OpenUnited services, or other sites linked from our services. Our Privacy Policy does not
        cover the information practices of other companies and organizations who advertise our services, or advertise
        within our services.
</p>

<h2 class="text-2xl font-bold mb-4">Changes</h2>

<p class="text-lg leading-7">
        Our Privacy Policy may change from time to time. You should look at this policy and our
        <a href="https://openunited.com/terms-of-use" target="_blank" class="text-blue-500 hover:underline">Terms of
                Use</a> regularly. If you do not agree to the modified terms or privacy policies for a Service, you
        should discontinue your use of that Service.
</p>


{% endblock  %}

{% block footer   %}

{% include 'footer.html'  %}

{% endblock  %}
