<div class="relative">
    <a href="{{ url('create-contributor-agreement-template', args=(product.slug,)) }}">
        <button
            type="button"
            class="absolute right-0 items-center justify-center rounded-md bg-blue-400 px-3 py-2
                text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-blue-500">
            Add Contributor Agreement Template
        </button>
    </a>
</div>

{% if contributor_agreement_templates %}
    {% include 'product_management/dashboard/partials/contributor_agreement/search_area.html' %}
    {% include 'product_management/dashboard/partials/contributor_agreement/table.html' %}
{% else %}
    <p class="mt-5 italic ml-2">Currently, there are no contributor agreement templates for this product.</p>
{% endif  %}
