<!-- Page title & actions -->
<div class="hidden lg:block">
    <div class="border-b border-gray-200 px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
        <div class="min-w-0 flex-1">
            <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">Dashboard</h1>
        </div>

        <div class="relative inline-block px-3 text-left">
            <div>
                <button type="button" _="on click toggle .hidden on #navbar-dropdown-menu end" class=" group w-full rounded-md px-3.5 py-2 text-left text-sm font-medium
                            text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-purple-500
                            focus:ring-offset-2 focus:ring-offset-gray-100" id="navbar-menu-button"
                    aria-expanded="false" aria-haspopup="true">
                    <span class="flex w-full items-center justify-between">
                        <span class="flex min-w-0 items-center justify-between space-x-3">
                            <img class="h-10 w-10 flex-shrink-0 rounded-full bg-gray-300"
                                src="{{ person.get_photo_url() }}" alt="Profile Picture">
                            <span class="flex min-w-0 flex-1 flex-col">
                                <span
                                    class="truncate text-sm font-medium text-gray-900">{{ person.get_full_name() }}</span>
                                <span class="truncate text-sm text-gray-500">@{{ person.get_username() }}</span>
                            </span>
                        </span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                </button>
            </div>

            <div _="on mouseenter from <a/> in me
                                remove .text-gray-700 from <a/> in me
                                tell the target
                                    add .bg-gray-100 .text-gray-900
                            end
                            on mouseleave from <a/> in me
                                remove .bg-gray-100 .text-gray-900 from <a/> in me
                                tell the target
                                    add .text-gray-700
                            end" id="navbar-dropdown-menu" class="hidden absolute left-0 right-0 z-10 mx-3 mt-1 origin-top
                        divide-y divide-gray-200 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5
                        focus:outline-none" role="menu" aria-orientation="vertical"
                aria-labelledby="navbar-menu-button" tabindex="-1">
                <div class="py-1" role="none">
                    <a href="{{ url('profile', args=(request.user.person.pk,) ) }}"
                        class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                        id="options-menu-item-1">Your Profile</a>
                    <a href="{{ url('portfolio', args=(request.user.username,) ) }}"
                        class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                        id="options-menu-item-2">Visit Portfolio</a>
                </div>
                <div class="py-1" role="none">
                    <form id="logout-form" method="post" action="{{ url('log_out') }}">
                        {% csrf_token %}
                        <button type="submit" class="text-gray-700 block px-4 py-2 text-sm">Log out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-6 px-4 sm:px-6 lg:px-8">
    <h2 class="text-xl font-medium text-gray-900">My Products</h2>
    {% if products %}
    <ul role="list" class="mt-3 grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-6 xl:grid-cols-4">
        {% for product in products %}
        <li class="relative col-span-1 flex rounded-md shadow-sm">
            <div
                class="flex w-16 flex-shrink-0 items-center justify-center bg-pink-600 rounded-l-md text-sm font-medium text-white">
                {{ product.get_initials_of_name() }}</div>
            <div
                class="flex flex-1 items-center justify-between truncate rounded-r-md border-b border-r border-t border-gray-200 bg-white">
                <div class="flex-1 truncate px-4 py-2 text-sm">
                    <a href="{{ product.get_absolute_url() }}"
                        class="font-medium text-gray-900 hover:text-gray-600">{{ product.name }}</a>
                    <!-- Get the following information from the database -->
                    <p class="text-gray-500">12 People</p>

                    <a hx-get="{{ url('dashboard-product-detail', args=(product.slug, default_tab)) }}" hx-target="#dashboard-tabs"
                        hx-swap="innerHTML" class="cursor-pointer font-medium text-gray-900 hover:text-gray-600"
                        id="manage-product-{{product.id}}">Manage Product</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="text-center">
        <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            aria-hidden="true">
            <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
        </svg>
        <h3 class="mt-2 text-sm font-semibold text-gray-900">No products</h3>
        <p class="mt-1 text-sm text-gray-500">Get started by creating a new product.</p>
        <div class="mt-6">
            <a href="{{ url('create-product') }}">
                <button type="button"
                    class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    <svg class="-ml-0.5 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path
                            d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    New Product
                </button>
            </a>
        </div>
    </div>
    {% endif %}
</div>

<div class="mt-5">
    <hr class="h-1 border-t-4 bg-neutral-100 opacity-100" />
</div>

<div class="px-4 sm:px-6 lg:px-8 mt-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-base font-semibold leading-6 text-gray-900">Active Bounty Claims</h1>
            <p class="mt-2 text-sm text-gray-700">A list of all the active bounty claims you have</p>
        </div>
    </div>
    {% if active_bounty_claims %}
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                        <tr>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Challenge
                                Title</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Expected
                                Finish Date</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Product
                                Name</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Points
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Skills
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                Expertise</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">
                        {% for bounty_claim in active_bounty_claims %}
                        <tr>
                            <td class="whitespace-nowrap py-3.5 pl-4 pr-3 text-sm font-medium text-gray-900">
                                <a href="{{ bounty_claim.get_challenge_detail_url() }}"
                                    class="font-medium text-blue-600 hover:underline">{{ bounty_claim.bounty.challenge.title }}</a>
                            </td>
                            <td class="whitespace-nowrap px-3 py-3.5 text-sm text-gray-500">
                                {{ bounty_claim.expected_finish_date|date }}</td>
                            <td class="whitespace-nowrap px-3 py-3.5 text-sm text-gray-500">
                                <a href="{{ bounty_claim.get_product_detail_url() }}"
                                    class="font-medium text-blue-600 hover:underline">{{ bounty_claim.bounty.challenge.product.name }}</a>
                            </td>
                            <td class="whitespace-nowrap px-3 py-3.5 text-sm text-gray-500">
                                {{ bounty_claim.bounty.points }}</td>
                            <td class="whitespace-nowrap px-3 py-3.5 text-sm text-gray-500">
                                {{ bounty_claim.bounty.skill }}</td>
                            <td class="whitespace-nowrap px-3 py-3.5 text-sm text-gray-500">
                                {{ bounty_claim.bounty.get_expertise_as_str() }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <p>Currently, there are no active bounties.</p>
    {% endif %}
</div>

<script>
{% if product %}
setTimeout(function() {
    htmx.trigger("#manage-product-{{product.id}}", "click");
}, 500);
{% else %}
document.getElementById("dashboard-tabs").classList.remove("hidden");
{% endif %}
</script>
