<div class="mt-5 px-4 sm:px-6 lg:px-8">
    <div id="manage-bounties-tabs" class="mt-2 mb-4">
        <div class="relative">
            <a href="{{ url('create-contributor-agreement-template', args=(product.slug,)) }}">
                <button
                    type="button"
                    class="absolute right-0 items-center justify-center rounded-md bg-blue-400 px-3 py-2
                        text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-blue-500">
                    Add User
                </button>
            </a>
        </div>
        <div class="sm:flex sm:items-center mt-3 mb-8">
            <div class="sm:flex-auto">
                <p class="mt-2 text-md text-gray-700">A list of users associated with this product.</p>
            </div>
        </div>

        {% if product_users %}
            {% include 'product_management/dashboard/partials/user_management/table.html' %}
        {% else %}
            <p class="mt-5 italic ml-2">Currently, there are no users for this product.</p>
        {% endif  %}
    </div>
</div>
