<div class="grid md:grid-cols-2 gap-4 md:gap-7">
    <div class="flex flex-col">
        <label for="{{ form.full_name.id_for_label  }}"
            class="text-lg text-black/[0.85] mb-2 font-semibold">{{ form.full_name.label  }}</label>
        {{ form.full_name  }}
    </div>
    <div class="flex flex-col">
        <label for="{{ form.preferred_name.id_for_label  }}"
            class="text-lg text-black/[0.85] mb-2 font-semibold">{{ form.preferred_name.label  }}</label>
        {{ form.preferred_name  }}
    </div>
    <div class="md:col-span-2">
        <label for="{{ form.current_position.id_for_label  }}"
            class="text-lg text-black/[0.85] mb-2 inline-flex font-semibold">{{ form.current_position.label  }}</label>
        {{ form.current_position  }}
    </div>
    <div class="md:col-span-2">
        <label for="{{ form.location.id_for_label  }}"
            class="text-lg text-black/[0.85] mb-2 inline-flex font-semibold">{{ form.location.label  }}</label>
        {{ form.location  }}
    </div>
    <div class="md:col-span-2">
        <label for="{{ form.headline.id_for_label  }}"
            class="text-lg text-black/[0.85] mb-2 inline-flex font-semibold">{{ form.headline.label  }}</label>
        {{ form.headline  }}
    </div>
    <div class="md:col-span-2">
        <label for="{{ form.overview.id_for_label  }}"
            class="text-lg text-black/[0.85] mb-2 inline-flex font-semibold">{{ form.overview.label  }}</label>
        {{ form.overview  }}
    </div>
</div>
