{% extends 'base.html' %}

{% block title %}Homepage - Challenges Listed{% endblock %}
{% block content %}

{% include 'toast.html' %}

<div class="flex flex-col">

  <div class="flex items-center justify-between w-full mb-12">
    <div class="flex items-center space-x-8 tabs-top">
      <a href="{{ url('bounties') }}"
        class="active font-semibold py-3 text-sm inline-flex relative -mb-px text-[#1890ff] border-b-2 border-solid border-[#1890ff]">
        Bounties
      </a>
      <a href="{{ url('products') }}"
        class="font-semibold py-3 text-sm inline-flex relative -mb-px text-gray-900 border-b-2 border-solid border-transparent">Products</a>
    </div>


  </div>

  <div id="item-container">
      {% block  item_container%}{% endblock %}
  </div>

</div>
{% endblock %}
