{% with bounty=elem.bounty   %}


<div class="bg-white space-y-3 p-4  rounded-lg shadow border-gray-2 border border-solid border-gray grid grid-cols-3 md:grid-cols-3 gap-4">
    <div class="col-span-full">
        <a class="text-indigo-900 font-bold "
            href="{% url bounty-detail challenge.product.slug, challenge.id, bounty.id,   %}">
            {{ bounty.title  }}
        </a>
        <div class="mt-1 text-gray-500">{{ bounty.skill  }}
            {% if bounty.get-expertise_as_str() %}
                ({{ bounty.get-expertise_as_str() }})
            {% endif  %}

        </div>
    </div>

    <div class="flex items-center space-x-2 text-sm">
        <div class="text-sm font-medium text-black">
            <strong> Points </strong>
            <div class="text-gray-500">
                {{ elem.bounty.points  }}
            </div>
        </div>
    </div>

    <div class="flex items-center space-x-2 text-sm">
        <div class="text-sm font-medium text-black">
            <strong> Status </strong>
            <div class="text-gray-500">
                {{ elem.status  }}
            </div>
        </div>
    </div>

    <div class="flex items-center space-x-2 text-sm">
        <div class="text-sm font-medium text-black">
            <strong> Claimed By </strong>
            <div class="text-gray-500">
                {% with claimed_by = elem.claimed_by   %}

                {% if elem.bounty.status  == BountyStatus.AVAILABLE %}
                    Unclaimed
                {% elif claimed_by  %}
                <div class="flex items-center text-xs text-black/[0.85]">
                    <a href="{{ claimed_by.get_absolute_url }}" class="flex items-center">
                        <div class="flex items-center justify-center shrink-0 w-8 h-8 mr-1.5">
                            <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                                src="{{ claimed_by.get_photo_url }}" alt="Created By">
                        </div>
                        <div class="text-neutral-800">
                            {{ claimed_by.get_full_name }}
                        </div>
                    </a>
                </div>
                {% endif  %}
                <p>
                </p>

            </div>
        </div>
    </div>


    <div class="flex items-center justify-end  space-x-2 text-sm col-span-full">
        {% with elem=elem  %}
            {% include "product_management/partials/buttons/dropdown_actions.html"  %}
        {% endwith  %}

    </div>


</div>
