<tr class="border-b border-gray-200">
    <td class="py-2">
        <input accept=".zip,.PNG,.GIF,.JPG,.JPEG"
            class="shadow appearance-none border rounded text-gray-700 leading-tight focus:outline-none w-4/5 py-2 px-3"
            type="file" name="bounties-{{ index }}-file" id="id_bounties-{{ index }}-file">
    </td>

    <td class="py-3  text-left">
        <input type="checkbox" class="hidden" name="bounties-{{ index }}-DELETE" id="id_bounties-{{ index }}-DELETE">
        <button type="button" id="id_bounties-{{ index }}-button" class="bg-red-700 text-white py-1 px-2 rounded-full"
            onclick="removeClosestRow(this)">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </td>

</tr>