<form method="post">
    {% csrf_token %}
    <!-- TODO: add a dropdown to select the reviewer -->
    <div class="space-y-12">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
            <div>
                <h2 class="text-base font-semibold leading-7 text-gray-900">Overview</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">General details about the challenge.</p>
            </div>

            <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
                <div class="col-span-full">
                    {% if form.non_field_errors() %}
                    <div
                        class="w-fit mx-auto flex items-center px-3 py-1.5 py-2.5 rounded-md border border-solid border-[#F5222D] text-sm text-black/[0.85] bg-[#f5222d]/[0.08]">
                        <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-3">
                            <img src="{{ static('images/error.svg') }}" alt="Error Icon">
                        </span>
                        {% for error in form.non_field_errors() %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="col-span-full">
                    <label for="{{ form.title.id_for_label }}"
                        class="block text-sm font-medium leading-6 text-gray-900">{{ form.title.label }}</label>
                    <div class="mt-2">
                        {{ form.title }}
                    </div>
                </div>

                <div class="col-span-full">
                    <label for="{{ form.description.id_for_label }}"
                        class="block text-sm font-medium leading-6 text-gray-900">{{ form.description.label }}</label>
                    <div class="mt-2">
                        {{ form.description }}
                    </div>
                </div>

                <div class="col-span-4">
                    <label for="{{ form.product.id_for_label }}"
                        class="block text-sm font-medium leading-6 text-gray-900">{{ form.product.label }}</label>
                    <div class="mt-2">
                        {{ form.product }}
                    </div>
                    <p class="text-xs leading-6 text-red-900">
                        Don't have product. <a class="font-semibold" href="{{ url('create-product') }}">Create
                            one.</a>
                    </p>
                </div>

                <div class="col-span-3">
                    <label for="{{ form.status.id_for_label }}"
                        class="block text-sm font-medium leading-6 text-gray-900 mb-2">{{ form.status.label }}</label>
                    {{ form.status }}
                </div>

                <div class="col-span-full">
                    <label for="{{ form.reward_type.id_for_label }}"
                        class="block text-sm font-medium leading-6 text-gray-900 mb-2">{{ form.reward_type.label }}</label>
                    {% for radio in form.reward_type %}
                    <div class="flex items-center gap-x-3 mt-2">
                        {{ radio.tag() }}
                        <label for="{{ radio.id_for_label }}"
                            class="block text-sm font-medium leading-6 text-gray-900">{{ radio.choice_label }}</label>
                    </div>
                    {% endfor %}

                    <p class="text-xs leading-6 mt-2 text-black-900">
                        {{ form.reward_type.help_text }}
                    </p>

                    <p class="text-xs leading-6 text-red-900">
                        <span class="text-bold"> Note:</span> The points will be assigned when creating a bounty for the
                        challenge.
                    </p>
                </div>

                <div class="col-span-2">
                    <label for="{{ form.priority.id_for_label }}"
                        class="block text-sm font-medium leading-6 text-gray-900 mb-2">{{ form.priority.label }}</label>
                    {{ form.priority }}
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
            <button type="submit"
                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
        </div>
</form>