<form id="update-user-form" action="{{ url('update-product-user', args=(product.slug, product_role_assignment.id)) }}" method="POST">
    {% csrf_token %}
    <div class="flex flex-col sm:w-full md:w-1/2  mt-2">
        <label for="{{ form.person.id_for_label }}"
            class="block my-2 text-sm font-medium leading-6 text-gray-900">{{ form.person.label }}</label>
            {% set selected_person=form.person.field.queryset.filter(id=form.person.value()).first() %}

            {% with inital_data=form.person.field.queryset, form_name="person", select_value=selected_person %}
                {% include "selectable_dropdown.html" %}
            {% endwith %}
    </div>

    <div class="flex flex-col sm:w-full md:w-1/2  mt-2">
        <label for="{{ form.role.id_for_label }}"
            class="block my-2 text-sm font-medium leading-6 text-gray-900">{{ form.role.label }}</label>
        {{ form.role }}
    </div>
</form>

<script>
document.getElementById('update-user-form').addEventListener('submit', async (e) => {
    e.preventDefault();
    const form = e.target;
    const response = await fetch(form.action, {
        method: 'POST',
        body: new FormData(form)
    });
    if (response.ok) {
        window.location.reload();
    }
});
</script>
