
{% include "product_management/product_area_detail_helper/product_area_detail/product_area_breadcrumbs.html" %}

<div class="mt-2.5 mb-4 w-full text-neutral-800 text-xl col-span-full flex items-center">
    <span>{{ product_area.name }}</span>
</div>

<div class="space-y-2.5 text-sm text-black/[0.85] mb-5">
    <div>
        <p>{{ product_area.description|linebreaks }}</p>
    </div>
</div>


{% if  product_area.video_link %}
    <div class="flex justify-end w-full h-[320px] sm:h-[340px] mb-5">
        <iframe width="100%" height="100%" src="{{product_area.video_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
    </div>
{% endif %}

{% with read_only=True %}
    {% include "attachments.html" %}
{% endwith %}

{% if children %}
    <div class="mt-5 w-full">
        <h2 class="mt-1 mb-4 w-full text-neutral-800 text-xl font-semibold leading-7 text-indigo-600">Child product areas</h2>
        <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 gap-4">
            {% for child in  children %}
                {% with index=loop.index0 %}
                    {% include "product_management/product_area_detail_helper/product_area_detail/card.html" %}
                {% endwith %}
            {% endfor %}
    </div>
{% endif %}

</div>
