{% extends 'security/base_security.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}

{% include 'logo.html' %}

<div class="flex flex-col-reverse lg:flex-row grow items-center justify-center py-8 lg:py-14 sm:gap-8">
    <div class="w-full lg:w-1/2">
        <div class="flex items-center justify-center w-full h-[320px] lg:h-auto">
            <img src="{{ static('images/password-ai.png') }}"
                class="w-full h-full object-cover lg:object-contain object-center sm:rounded-lg"
                alt="Password Reset Cover Image">
        </div>
    </div>
    <div class="w-full lg:w-1/2">
        <div class="flex flex-col sm:mx-auto sm:w-full sm:max-w-[512px]">
            <div class="bg-white px-6 py-8 sm:shadow sm:rounded-lg sm:px-8">
                <div class="text-xl text-black/[0.85] inline-flex font-semibold mb-6">
                    In order to reset your password, you need to enter your email.
                </div>

                {% include 'security/password_reset/password_reset_form.html' %}

                <p class="mt-6 text-left text-sm text-gray-500">
                    Don’t have an account yet?
                    <a href="{{ url('sign-up') }}"
                        class="font-medium leading-6 text-[#1890ff] transition-all hover:text-text-[#1890ff] hover:underline underline-offset-2">
                        Sign up here
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}