<!-- Pagination -->
{% if page_obj %}
    <div class="flex justify-center gap-x-2 mt-10">
        {% if page_obj|call:has_previous %}
        <div class="flex items-center justify-center w-8 h-8 text-md hover:text-blue-400">
            <a href="?page={{ page_obj|call:previous_page_number  }}">&laquo;</a>
        </div>
        {% endif  %}

        {% for i in paginator.page_range %}
        {% if page_obj.number  == i %}
        <div class="flex items-center justify-center w-8 h-8 text-md bg-blue-400 rounded-md text-white">{{ i  }}</div>
        {% else %}
        <div class="flex items-center justify-center w-8 h-8 text-md hover:text-blue-400">
            <a href="?page={{ i  }}">{{ i  }}</a>
        </div>
        {% endif  %}
        {% endfor  %}

        {% if page_obj|call:has_next %}
        <div class="flex items-center justify-center w-8 h-8 text-md hover:text-blue-400">
            <a href="?page={{ page_obj|call:next_page_number  }}">&raquo;</a>
        </div>
        {% endif  %}
    </div>
{% endif  %}
