<div class="relative z-10 modal-wrap-filter hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">

    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity modal-wrap__overlay"></div>

    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div class="flex min-h-full items-end sm:items-center justify-center p-4 text-center sm:p-0">
        <div
          class="relative transform rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 w-full max-w-[620px] sm:pt-6 sm:px-6 pb-[44px]">
          <div class="flex items-center pb-3 mb-3 border-b border-solid border-slate-100">
            <div class="font-semibold text-lg text-gray-900">Filter</div>
            <div
              class="btn-modal__close relative -mt-1.5 -mr-2.5 ml-auto w-5 h-5 mb-2.5 cursor-pointer hover:opacity-80">
              <svg class="w-full h-full" viewBox="0 0 24 24" focusable="false">
                <path
                  d="m12.71 12 8.15 8.15-.71.71L12 12.71l-8.15 8.15-.71-.71L11.29 12 3.15 3.85l.71-.71L12 11.29l8.15-8.15.71.71L12.71 12z">
                </path>
              </svg>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-5 w-full">
            {% for home_filter in home_filter_listings %}
            <div class="flex flex-col">
              <label for="{{ home_filter.labelID }}" class="font-semibold text-sm text-gray-900">
                {{ home_filter.labelName }}
              </label>
              <div class="js-choice relative mt-2">
                <select {{ home_filter.selectType }} id="{{ home_filter.labelID }}" name="{{ home_filter.labelID }}"
                  class="appearance-none block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-[#1890ff] focus-visible:outline-0 text-sm sm:leading-6 text-gray-500">
                  <option value="">Make your choose</option>
                  {% for home_filter_option in home_filter.children %}
                  <option value="{{ home_filter_option.id }}">
                    {{ home_filter_option.title }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>