<div class="expertise-selection">
    {% for category_name, expertises in expertise_categories|call:items %}
        <div class="expertise-category">
            <h4>{{ category_name  }}</h4>
            <div class="expertise-options">
                {% for expertise in expertises %}
                    <div class="form-check">
                        <input type="checkbox" 
                               class="form-check-input" 
                               name="expertise[]" 
                               value="{{ expertise.id  }}" 
                               id="expertise_{{ expertise.id  }}">
                        <label class="form-check-label" for="expertise_{{ expertise.id  }}">
                            {{ expertise.name  }}
                        </label>
                    </div>
                {% endfor  %}
            </div>
        </div>
    {% endfor  %}
</div> 