/*--  Overrides  --*/
.btn {
    @apply font-medium;
}

.card .card-title {
    font-size: 1rem;
    font-weight: 500;
}

.dropdown .dropdown-content {
    z-index: 10;
    @apply shadow hover:shadow-md;
}

.timeline-vertical.timeline-hr-sm > li > hr {
    width: 2px;
}
