<script type="text/template" id="add-new-node">
    <li  draggable="true" ondragstart="drag(event)" id="li-__prefix__">
        <div class="flex justify-start">
            <button onclick="toggleVisibility(event)">
                <i class="fa fa-chevron-circle-right text-gray-400" aria-hidden="true"></i>
            </button>
        <a class="w-full flex flex-col items-start gap-2 group/item block border border-gray-300 p-3 mb-2 rounded-md text-blue-500">
            <div class="w-full">
                <div class="flex justify-between w-full">
                    {% with name="" %}{% include "product_management/tree_helper/rename_name.html" %}{% endwith %}

                    {% include "product_management/tree_helper/edit_button.html" %}

                </div>
                <div class="description text_desc flex text-sm leading-6 text-gray-700 font-normal mt-0.5">
                    {% with description="" %}{% include "product_management/tree_helper/rename_description.html" %}{% endwith %}

                </div>
            </div>
        </a>
    </li>
    </li>
</script>

