<div class="flex gap-3 items-center">
    <button class="add_node w-5 h-5">
      <img src="{{ static('/images/add.svg') }}" class="" alt="#">
    </button>
    <button class="edit_node w-5 h-5">
      <img src="{{ static('/images/edit_icon.svg')}}" class="edit" alt="#">
    </button>
    <button class="check_node w-5 h-5 hidden">
      <img src="{{ static('/images/check-green.svg')}}" class="check" alt="#">
    </button>
    <button class="delete_node w-5 h-5 ">
      <img src="{{ static('/images/delete.svg')}}" class="" alt="#">
    </button>
</div>