
{% import "product_management/tree_helper/product_tree_macros.html" as product_area_macros %}

<li draggable="true" id="li_node_{{node.id}}" class="ml-{{margin_left}}">
    <div  class="flex flex-col items-start gap-2 group/item block border border-gray-300 p-3 mb-2 rounded-md text-blue-500 w-full">
        <div class="flex justify-between w-full gap-2 group/item inline-flex">
            <div class="flex justify-start">
                <button onclick="toggleVisibility(event)" class="mr-2">
                    <i class="fa fa-chevron-circle-right text-gray-400" aria-hidden="true"></i>
                </button>

                <a href="#" >
                    <span class="w-full">
                        {% include "product_management/tree_helper/drag.html" %} {{ node.name }}
                        {% with child=node %}
                            {% include "product_management/tree_helper/video.html" %}
                        {% endwith %}
                    </span>
                </a> 
            </div>
            {% with id=node.id %}
                {% include "product_management/tree_helper/action_buttons.html" %}
            {% endwith %}
        </div>

        <div class="description view-node-group text_desc flex text-sm leading-6 text-gray-700 font-normal mt-0.5">{{ node.description }}</div>
    </div>

    <ul class="hidden pl-{{depth * 4}}">
        {{ product_area_macros.generate_product_area_tree(descendants, depth+1) }}
    </ul>

</li>
