{% if not parent_id %} <ul ondrop="drop(event)" class="pl-0"> {% endif %}
    <li draggable="false" id="li_node_{{id}}" class="ml-{{margin_left}}">
        <form method="post" hx-post="{{ url('product_area', args=(product_slug,) ) }}" 
            hx-target="#li_node_{{id}}">
            <div class="p-2 pl-2 pr-2 mt-1 block border border-gray-300 rounded-md text-blue-500 mb-2">
              <div class="w-full mb-2">
                <label for="name" class="block text-sm font-medium text-gray-900 dark:text-white mb-1">Name</label>
                <input type="text" name="name" id="name" class="bg-gray-50 border rounded-lg focus:ring-blue-500 block w-full" placeholder="Name..." required />
                
                <input type="hidden" name="parent_id" value="{{ parent_id }}"/>
                <input type="hidden" name="depth" value="{{ depth }}"/> 
                <input type="hidden" name="product_slug" value="{{ product_slug }}"/> 
              </div>
              
              <div>
                <label for="description" class="block text-sm font-medium text-gray-900 dark:text-white mb-1">Description</label>
                <textarea id="description" name="description" rows="4" class="bg-gray-50 border rounded-lg focus:ring-blue-500 block w-full p-2.5" placeholder="Write your description here..." required></textarea>        
              </div>
          
              <div class="flex justify-end mr-2 mt-2 mb-2">
                <button type="submit" class="bg-gray-700 text-white py-2 px-4 rounded mr-2">Save</button>
                <button type="button" class="bg-red-700 text-white py-2 px-4 rounded" onclick="event.target.closest('li').remove()">Cancel</button>
              </div>
            </div>
        </form>
    </li>
{% if not parent_id %} </ul> {% endif %}
