<li data-jstree='{ "opened" : false }' 
  id="{{item['name']}}" 
  data-id="{{ item["id"] }}"
  data-parent-li-id={{id}}
  data-url-with-id="{{ url('product_area_with_pk', args=(product_slug, item['id'],)) }}"
  data-url-post="{{ url('product_area', args=(product_slug,)) }} "
  class="nested-item py-3 flex flex-col {% if depth > 1 %}pl-4 lg:pl-8{% endif %}"
  >
  <div
    class="nested-item__label shadow-inner h-max flex items-start w-max sm:w-full gap-2 group/item py-3 hover:bg-light-blue px-2 transition-all ease-linear duration-200 rounded">
    <div class="flex flex-col w-full">
      <div class="flex w-full justify-between items-center">
        <div class="flex items-center gap-1">

          {% include "product_management/tree_helper/drag.html" %}

          {% include "product_management/tree_helper/video.html" %}
          
        </div>
            {% include "product_management/tree_helper/action_buttons.html" %}
      </div>
      
      <span class="text_desc flex text-sm leading-6 text-gray-700 font-normal mt-0.5">{{item['description']}}</span>
      <input type="text"
        class="hidden ml-4 mr-2 text-base text-dark renameDesc_input border border-light-gray rounded mt-2"
        placeholder="Add description" />
    </div>
  </div>


  {% if item["children"] %}
  <ul class="nested-item__child ml-10 h-0 opacity-0 transition-all duration-300 ease-linear">
    {{ generate_summary_structure(item["children"], depth + 1, item["id"]) }}
  </ul>
  {% endif %}
  
</li>