
<div class="">
    <h3 class="text-xl text-gray-900 font-bold mb-2">Product Tree-Interactive</h3>
    <div class="flex flex-col sm:flex-row gap-4 mb-6">
      <div class="flex items-center">
        <input type="text" name="search-field" id="search-field"
          class="block w-full sm:max-w-[320px] rounded-l-md border-0 py-1.5 px-3 text-gray-900 text-sm shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus-visible:outline-none sm:text-sm sm:leading-6 h-9"
          placeholder="Search text">
        <button type="submit"
          class="bg-indigo-600 search_btn appearance-none inline-flex items-center justify-center rounded-r-md bg-blue-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-600/[0.85] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400/[0.85] sm:mt-0 w-auto h-9 transition-all delay-600">
        </button>
      </div>
      {% if can_modify_product %}
        <button id="AddFirst"
          class="py-1 sm:py-0 transition-all duration-300 ease-linear text-indigo-600 rounded bg-white border border-indigo-600 px-4 transition-all ease-linear duration-100 hover:bg-indigo-600 hover:text-white">Add
          Product
          Area</button>
      {% endif %}
    </div>
    <div class="flex flex-col flex-grow nested">
      <div class="hidden search_empty flex justify-center items-center flex-col gap-5 ">
        <img src="{{ static('images/no-data.svg') }}" alt="no data">
        <span class="text-base text-gray-900 font-medium mb-2">There is no product area</span>
      </div>
      <div class="mt-4 lg:mt-6">
        <div id="product_tree"
          class="tree-demo flex flex-col gap-4 tree_container overflow-x-auto sm:overflow-x-hidden overflow-y-hidden">
          <ul>
            {{ generate_summary_structure(tree_data) }}
          </ul>
        </div>
      </div>
    </div>
  
  </div>