    <span class="flex flex-wrap items-center font-semibold">
        
        {% include "product_management/tree_helper/name.html" %}

        {% if item['video_link'] %}
            <button 
                class="btn-video__open appearance-none rounded border border-light-gray flex items-center whitespace-nowrap px-6 py-2"
                data-video="{{item['video_link']}}"
            >
                <img src="{{ static('images/play.svg') }}" class="btn-video__open w-[14px] h-[15px]" alt="#">
                <span class="btn-video__open text-dark text-sm ml-[9px] font-normal font-medium">
                    {% if item['video_name'] %} 
                        {{ item['video_name'] }} 
                    {% endif %}

                    <span class="text-gray-dark">
                        {% if item['video_duration'] %} 
                            ({{ item['video_duration'] }})
                        {% endif %}
                    </span>
                </span>
            </button>
        {% endif %}
    </span>

