{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- tailwind version 3.3.2 -->
    <link rel="stylesheet" href="{% static 'styles/tailwind.css' %}">

    <!-- Favicon stuff -->
    <link rel="icon" href="{{ static ('images/favicon/favicon.ico')  }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static ('images/favicon/apple-touch-icon.png')  }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static ('images/favicon/favicon-32x32.png')  }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static ('images/favicon/favicon-16x16.png')  }}">
    <link rel="manifest" href="{{ static ('images/favicon/site.webmanifest')  }}">

    <title>Oops...</title>

</head>

<body class="my-auto mx-auto">
    <div class="lg:px-24 lg:py-24 md:py-20 md:px-44 px-4 py-24 items-center flex justify-center flex-col-reverse lg:flex-row md:gap-28 gap-16">
        <div class="xl:pt-24 w-full xl:w-1/2 relative pb-12 lg:pb-0">
            <div class="relative">
                <div class="absolute">
                        <h1 class="my-2 text-gray-800 font-bold text-2xl">
                            Looks like you've found the doorway to the great nothing
                        </h1>
                        <p class="my-2 text-gray-800">Sorry about that! Please visit our homepage to get where you need to go.</p>
                        <a href="/" class="sm:w-full lg:w-auto my-2 border inline-block rounded md py-4 px-8 text-center bg-indigo-600 text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">Take me there!</a>
                </div>
                <div>
                    <img src="{% static 'images/404-2.png' %}">
                </div>
            </div>
        </div>
        <div>
            <img src="{% static 'images/404-1.png' %}">
        </div>
    </div>
</body>

</html>
