<nav class="mx-auto flex max-w-7xl items-center justify-between lg:justify-start px-4 pt-6 pb-4 lg:px-8 border-b border-slate-900/5 relative"
    aria-label="Global">
    <div class="hidden lg:flex lg:gap-x-12 relative z-[2]">
        <a href="{{ url('product_management:bounty-list') }}" class="text-sm font-semibold leading-6 text-gray-900">
            Claim a Bounty
        </a>
        <a href="{{ url('about') }}" class="text-sm font-semibold leading-6 text-gray-900">
            About
        </a>
    </div>
    <div class="flex justify-start lg:justify-center grow w-full h-8 lg:inset-x-0 lg:absolute z-[1]">
        <a href="{{ url('home') }}" class="-m-1.5 p-1.5">
            <span class="sr-only">OpenUnited</span>
            <img class="h-8 w-auto" src="{{ static('images/logo.svg') }}" alt="OpenUnited Logo">
        </a>
    </div>
    <div class="flex lg:hidden">
        <button type="button" _="on click add .menu-open to #mobile-menu-wrap end"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 btn-open-menu">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
    </div>
    <div class="hidden lg:flex lg:items-center lg:justify-end lg:gap-x-5 relative z-[2] ml-auto">
        {% if request.user.is_authenticated %}
        {% set person = request.user.person %}
        <div class="relative inline-block px-3 text-left">
            <div>
                <button type="button" _="on click toggle .hidden on #navbar-dropdown-menu end" class=" group w-full rounded-md px-3.5 py-2 text-left text-sm font-medium
                            text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-purple-500
                            focus:ring-offset-2 focus:ring-offset-gray-100" id="navbar-menu-button"
                    aria-expanded="false" aria-haspopup="true">
                    <span class="flex w-full items-center justify-between">
                        <span class="flex min-w-0 items-center justify-between space-x-3">
                            <img class="h-10 w-10 flex-shrink-0 rounded-full bg-gray-300"
                                src="{{ person.get_photo_url() }}" alt="Profile Picture">
                            <span class="flex min-w-0 flex-1 flex-col">
                                <span
                                    class="truncate text-sm font-medium text-gray-900">{{ person.get_full_name() }}</span>
                                <span class="truncate text-sm text-gray-500">@{{ person.get_username() }}</span>
                            </span>
                        </span>
                        <svg class="h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                </button>
            </div>

            <div _="on mouseenter from <a/> in me
                                remove .text-gray-700 from <a/> in me
                                tell the target
                                    add .bg-gray-100 .text-gray-900
                            end
                            on mouseleave from <a/> in me
                                remove .bg-gray-100 .text-gray-900 from <a/> in me
                                tell the target
                                    add .text-gray-700
                            end" id="navbar-dropdown-menu" class="hidden absolute left-0 right-0 z-10 mx-3 mt-1 origin-top
                        divide-y divide-gray-200 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5
                        focus:outline-none" role="menu" aria-orientation="vertical"
                aria-labelledby="navbar-menu-button" tabindex="-1">
                <div class="py-1" role="none">
                    <a href="{{ url('portal:home') }}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem"
                        tabindex="-1" id="options-menu-item-0">Portal</a>
                    <a href="{{ url('profile', args=(request.user.person.pk,) ) }}"
                        class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                        id="options-menu-item-1">Your Profile</a>
                    <a href="{{ url('showcase', args=(request.user.username,) ) }}"
                        class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                        id="options-menu-item-2">Visit Showcase</a>
                </div>
                <div class="py-1" role="none">
                    <form id="logout-form" method="post" action="{{ url('log_out') }}">
                        {% csrf_token %}
                        <button type="submit" class="text-gray-700 block px-4 py-2 text-sm">Log out</button>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <a href="{{ url('sign_in') }}" class="text-sm font-semibold leading-6 text-gray-900">Sign in <span
                aria-hidden="true">&rarr;</span></a>
        <a href="{{ url('sign-up') }}"
            class="text-sm font-semibold leading-6 transition-all delay-600 rounded bg-indigo-600 px-3.5 py-1.5 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Sign up
        </a>
        {% endif %}
    </div>

    <div id="mobile-menu-wrap" class="lg:hidden menu-wrap" role="dialog" aria-modal="true">

        <div class="fixed inset-y-0 w-full z-10 menu-overlay"></div>
        <div
            class="fixed inset-y-0 z-[11] overflow-y-auto bg-white px-4 py-6 sm:max-w-sm w-full sm:ring-1 sm:ring-gray-900/10 menu">
            <div class="flex items-center justify-between">
                <a href="{{ url('home') }}" class="-m-1.5 p-1.5">
                    <span class="sr-only">OpenUnited</span>
                </a>
                <button _="on click remove .menu-open from #mobile-menu-wrap" type="button"
                    class="appearance-none -m-2.5 rounded-md p-2.5 text-gray-700 focus-visible:outline-none btn-close-menu">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        type="button" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            {% if  request.user.is_authenticated %}
            {% set person = request.user.person %}
            <div>
                <div class=" group w-full rounded-md px-3.5 py-2 text-left text-sm font-medium
                            text-gray-700 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-purple-500
                            focus:ring-offset-2 focus:ring-offset-gray-100" id="navbar-menu-button"
                    aria-expanded="false" aria-haspopup="true">
                    <span class="flex w-full items-center justify-between">
                        <span class="flex min-w-0 items-center justify-between space-x-3">
                            <img class="h-10 w-10 flex-shrink-0 rounded-full bg-gray-300"
                                src="{{ person.get_photo_url() }}" alt="Profile Picture">
                            <span class="flex min-w-0 flex-1 flex-col">
                                <span
                                    class="truncate text-sm font-medium text-gray-900">{{ person.get_full_name() }}</span>
                                <span class="truncate text-sm text-gray-500">@{{ person.get_username() }}</span>
                            </span>
                        </span>

                    </span>
                </div>
            </div>

            <div class="py-1" role="none">
                <a href="{{ url('portal:home') }}" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem"
                    tabindex="-1" id="options-menu-item-0">Dashboard</a>
                <a href="{{ url('profile', args=(request.user.person.pk,) ) }}"
                    class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                    id="options-menu-item-1">Your Profile</a>
                <a href="{{ url('showcase', args=(request.user.username,) ) }}"
                    class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                    id="options-menu-item-2">Visit Showcase</a>
            </div>
            <div class="py-1" role="none">
                <form id="logout-form" method="post" action="{{ url('log_out') }}">
                    {% csrf_token %}
                    <button type="submit" class="text-gray-700 block px-4 py-2 text-sm">Log out</button>
                </form>
            </div>

            {% endif %}

            <ul class="space-y-5 flex flex-col pt-4 sm:pt-[30%] pb-10">

                <li class="flex">
                    <a href="{{ url('product_management:bounty-list') }}" class="text-sm font-semibold leading-6 text-gray-900">Claim a
                        Bounty</a>
                </li>
                <li class="flex">
                    <a href="{{ url('about') }}" class="text-sm font-semibold leading-6 text-gray-900">About</a>
                </li>


                {% if not request.user.is_authenticated %}
                <li class="flex">
                    <a href="{{ url('sign_in') }}" class="text-sm font-semibold leading-6 text-gray-900">
                        Sign in <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
                <li class="flex">
                    <a href="{{ url('sign-up') }}"
                        class="text-sm font-semibold leading-6 text-gray-900 transition-all delay-600 rounded bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Sign up
                    </a>
                </li>
                {% endif %}

            </ul>
        </div>
</nav>
