  <div class="relative text-black w-full sm:w-full" id="select-menu">
      <input type="hidden" value="{{select_value.id}}" name="{{form_name}}" id="selectfield-selectfield">
      <span class="inline-block w-full rounded-md shadow-sm">
          <button type="button" onclick="toggleMenu(event)" id="select-button" class="relative w-full z-0 py-2 pl-3 pr-10 text-left transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md cursor-default focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:w-full sm:text-sm sm:leading-5">
                <span id="searchable-dropdown-label" class="block truncate">
                    {% if select_value %} {{select_value}} {% else %} Please Select{% endif %}
                </span>
                <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-400" viewBox="0 0 20 20" fill="none" stroke="currentColor">
                        <path d="M7 7l3-3 3 3m0 6l-3 3-3-3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
          </button>
      </span>

      <div id="searchable-dropdown" class="absolute z-10 w-full mt-1 bg-white rounded-md shadow-lg overflow-y-auto sm:w-screen sm:left-0 sm:right-0 sm:max-h-[20vh] hidden">
            <input type="search" onkeyup="searchableDropdownFilterInput(event, '{{url('add-product-user', args=(product.slug,))}}')" id="searchable-dropdown-input" class="w-full rounded-md py-1 px-2 mb-1 border border-red-400" placeholder="Search...">
            <ul id="searchable-dropdown-list" class="py-1" style="max-height:60vh; overflow-y-auto">
            </ul>
      </div>
  </div>
