{% extends 'base.html'  %}

{% block title   %}Challenge Detail{% endblock  %}

{% block content   %}

{% include 'toast.html'  %}

<div class="flex flex-col">
    {% include 'product_management/partials/breadcrumbs_challenge-detail.html'  %}
    <h2 class="mt-2.5 mb-4 w-full text-neutral-800 text-xl">{{ challenge.title  }}</h2>
    <div class="space-y-3.5 text-sm text-black/[0.85]">
        {% if challenge.short_description %}
        <div class="my-2">
            <p>{{ challenge.short_description|linebreaks  }}</p>
        </div>
        {% endif  %}

        <div class="flex items-center mb-2">
            <p>{{ challenge.description|linebreaksbr|safe  }}</p>
            {% if request.user.is_authenticated %}
            {% if request.user.person  == challenge.created_by or challenge.can_delete_challenge(request.user.person) %}
            <div class="ml-auto">
                <a href="{{ url 'update-challenge' challenge.product.slug, challenge.pk,  }}">
                    <button type="button"
                        class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-2 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Edit
                        Challenge</button>
                </a>
                <a href="{{ url 'delete-challenge' challenge.product.slug, challenge.pk,  }}">
                    <button type="button"
                        class="focus:outline-none text-white bg-red-400 hover:bg-red-500 focus:ring-2 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Delete
                        Challenge</button>
                </a>
            </div>
            {% endif  %}
            {% endif  %}
        </div>

    </div>
    <div class="flex flex-col space-y-2.5 my-6">
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Created By:</strong>
            <a href="{{ challenge.created_by|call:get_absolute_url  }}" class="flex items-center ml-4">
                <div class="flex items-center justify-center shrink-0 w-8 h-8 mr-1.5">
                    <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                        src="{{ challenge.created_by|call:get_photo_url  }}" alt="Created By">
                </div>
                <div class="text-neutral-800">{{ challenge.created_by|call:get_full_name  }}</div>
            </a>
            <span>&nbsp;at {{ challenge.created_at|date  }}</span>
        </div>
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Status:</strong>
            {% if current_user_created_claim_request %}
            <span class="font-bold ml-1">Claim Request Under Review</span>
            {% else %}
            <span class="font-bold ml-1">{{ challenge.status  }}</span>
            {% endif  %}
        </div>
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Priority:</strong> <span class="text-green-400 ml-1">{{ challenge.priority  }}</span>
        </div>
    </div>

    <div class="flex flex-col">
        {% include 'product_management/partials/bounty_detail_table.html'  %}
    </div>

</div>

<!---Modal -->
<div class="relative z-10 modal-wrap hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity modal-wrap__overlay"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:px-0 ">
            <div
                class="relative transform rounded-lg bg-white
                    px-4 pt-5 text-left shadow-xl transition-all
                    sm:my-8 sm:w-full max-w-[568px]
                    lg:max-w-[808px] px-5 lg:px-[30px] py-[30px] lg:py-[30px] sm:mx-5">
                <div
                    class="btn-modal__close relative -mt-0.5 sm:-mt-1.5 -mr-1 sm:-mr-2.5 ml-auto
                        w-5 h-5 cursor-pointer hover:opacity-80">
                    <svg class="w-full h-full" viewBox="0 0 24 24" focusable="false">
                        <path
                            d="m12.71 12 8.15 8.15-.71.71L12 12.71l-8.15 8.15-.71-.71L11.29 12 3.15 3.85l.71-.71L12 11.29l8.15-8.15.71.71L12.71 12z">
                        </path>
                    </svg>
                </div>

                <div class="mb-5 border-b rounded-t dark:border-gray-600 pb-5">
                    <h2 class="text-2xl font-semibold leading-7 text-gray-900">Contribution Agreement</h2>
                </div>

                <div class="relative overflow-y-auto p-4 h-[400px]">
                    <div class="mt-10">
                        {% autoescape off  %}
                        {{ agreement_template.content  }}
                        {% endautoescape  %}
                    </div>

                </div>

                <div class="max-w-full">
                    <div class="flex items-center justify-end mt-[34px]">
                        <button type="button" id="bounty-add-btn" onclick="acceptAgreement(event)"
                            class="appearance-none w-fit md:min-w-[96px] bg-[#1890ff]
                                text-sm font-semibold leading-6 transition-all delay-600
                                rounded px-3 md:px-3.5 py-1.5 text-white shadow-sm hover:bg-blue-500
                                focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
                                focus-visible:outline-blue-600 cursor-pointer">
                            I agree
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <input id="clicked_bounty" type="hidden" value="" {% if agreement_status %}agreement-status="true"{% endif  %}>
</div>

<script>
const modalCloseBtn = document.querySelector(".btn-modal__close");
modalCloseBtn.addEventListener("click", () => {
    document.getElementById("clicked_bounty").value = "";
    document.querySelector(".modal-wrap").classList.add("hidden");
});

function acceptAgreement() {
    document.querySelector(".modal-wrap").classList.add("hidden");
    let inputClickedBounty = document.getElementById("clicked_bounty");
    let clickedBountyId = inputClickedBounty.value;
    inputClickedBounty.setAttribute("agreement-status", "true");
    htmx.trigger(`#${clickedBountyId}`, "click");
}

</script>

{% endblock  %}
