<table class="min-w-full divide-y divide-gray-300">
    <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Role</th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
        {% for product_role in product_users %}
        <tr>
            <td class="max-w-xs px-3 py-4 text-sm text-gray-500">
                {{ product_role.person }}
            </td>
            <td class="max-w-xs px-3 py-4 text-sm text-gray-500">
                {{ product_role.role }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
