
<div class="flex flex-col">
    <div
        class="text-xl sm:text-2xl text-black/[0.85] font-medium mb-4 sm:mb-[34px] w-full inline-flex flex-wrap">
        <span class="mr-3.5">Please add title and describe your challenge</span>
        <a href=""
            class="text-xs text-[#1890FF] transition-all underline underline-offset-2 hover:no-underline inline-flex items-center pt-1">
            See an example</a>
    </div>
    <div class="flex flex-col lg:flex-row grow space-y-6 lg:space-y-0 lg:space-x-9">
        <div class="flex flex-col w-full space-y-4">

            <div class="flex flex-col">
                <label for="{{ form.title.id_for_label }}" class="text-lg text-black/[0.85] mb-2">{{ form.title.label }}
                    <sup class="text-sm text-[#FF4D4F]">*</sup></label>
                {{ form.title }}
            </div>
            <div class="flex flex-col">
                <label for="{{ form.description.id_for_label }}" class="text-lg text-black/[0.85] mb-2">{{ form.description.label }}
                    <sup class="text-sm text-[#FF4D4F]">*</sup></label>
                {{ form.description }}
            </div>
        </div>
    </div>
</div>
