<div class="flex flex-col sm:max-w-[400px] w-full">
    <div class="text-xl sm:text-2xl text-black/[0.85] font-medium mb-4 sm:mb-[38px] w-full">
        Additional important information
    </div>

    <div class="flex flex-col mb-6">
        {% include "attachments.html" %}
    </div>

    <div class="flex flex-col mb-6">
        <label for="{{ form.status.id_for_label }}"
            class="text-lg text-black/[0.85] mb-2 inline-flex items-center">
            {{ form.status.label }}
        </label>
        {{ form.status }}
    </div>

    <div class="flex flex-col mb-6">
        <label for="{{ form.priority.id_for_label }}"
            class="text-lg text-black/[0.85] mb-2 inline-flex items-center">
            {{ form.priority.label }}
        </label>
        {{ form.priority }}
    </div>

</div>
