{% include "talent/helper/macro_fun.html" %}

<button id="dropdownSearchButton_{{ index }}" onclick="document.getElementById('dropdownSearch_{{ index }}').classList.toggle('hidden')" data-dropdown-toggle="dropdownSearch_{{ index }}" data-dropdown-placement="bottom"
    class="flex items-center block w-full px-2 py-1.5 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-indigo-500 flex justify-between" type="button">
    <div>
        <span id="selected_counter_{{ index }}" class="text-indigo-500 font-bold">0</span> selected expertise
    </div>
    <i id="view_more_{{ pk }}_icon" class="fa fa-chevron-down w-3 h-3 text-gray-500"></i>
</button>
<div id="dropdownSearch_{{ index }}" class="mt-2 absolute z-10 hidden bg-white rounded-lg shadow dropdownSearch">
    <div class="p-3">
        <label for="input-group-search_{{ index }}" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <i class="fa fa-search w-4 h-4 text-gray-500"></i>
            </div>
            <input type="text" id="input-group-search_{{ index }}" onkeyup="searchFunc(event, {{ index }})" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-indigo-500" placeholder="Search expertise">
        </div>
    </div>

    <ul id="ul_expertise_{{ index }}" class="max-h-48 px-3 overflow-y-auto text-sm text-gray-700">
        {% for expertise in expertises %}
            {% if not expertise.parent %}
                <li class="py-1 ps-0">
                    {% if expertise.get_children %}
                        <span class="text-sm text-gray-500">{{ expertise.name }}</span>
                        <ul>
                            {% for child in expertise.get_children %}
                                <li class="py-1 ps-4">
                                    <div class="flex items-center">
                                        <input id="{{ child.id }}" 
                                               type="checkbox" 
                                               value="{{ child.id }}"
                                               class="w-4 h-4 text-indigo-600 bg-gray-100 border-gray-300 rounded focus:ring-indigo-500"
                                               {% if not child.selectable %}disabled{% endif %}>
                                        <label for="{{ child.id }}" 
                                               class="ms-2 text-sm font-medium text-gray-900">
                                            {{ child.name }}
                                        </label>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="flex items-center">
                            <input id="{{ expertise.id }}" 
                                   type="checkbox"
                                   value="{{ expertise.id }}"
                                   class="w-4 h-4 text-indigo-600 bg-gray-100 border-gray-300 rounded focus:ring-indigo-500"
                                   {% if not expertise.selectable %}disabled{% endif %}>
                            <label for="{{ expertise.id }}"
                                   class="ms-2 text-sm font-medium text-gray-900">
                                {{ expertise.name }}
                            </label>
                        </div>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <a onclick="addExpertise(event, {{ index }})" class="flex items-center justify-center p-3 text-sm font-medium border border-gray-200 rounded-b-lg cursor-pointer">
        Apply
    </a>
</div>


<script>
    function searchFunc(event, index){
        var dropdownMenu = document.getElementById(`dropdownSearch_${index}`);
        var searchInput = document.getElementById(`input-group-search_${index}`);

        const searchTerm = searchInput.value|call:toLowerCase;
        const items = dropdownMenu.querySelectorAll('li');
        items.forEach((item) => {
            item.removeAttribute("has_parent");
        })
        items.forEach((item) => {
          const text = item.textContent|call:toLowerCase;
          const children = item.querySelectorAll('li');
          const checkbox = item.querySelector('input[type="checkbox"]');

          if (text.includes(searchTerm)) {
            item.classList.remove("hidden");
            children.forEach((child) => {
                child.classList.remove("hidden");
                child.setAttribute("has_parent", true);
            });

          } else if (!item.getAttribute("has_parent")) {
            item.classList.add("hidden");
          }
        });
    }

    function addExpertise(event, index){
        const expertiseContainer = document.getElementById(`ul_expertise_${index}`)
        const checkedCheckboxes = expertiseContainer.querySelectorAll('input[type="checkbox"]:checked');
        const expertiseElement = document.getElementById(`id_skills-${index}-expertise`);
        const expertiseIdsElement = document.getElementById(`id_expertise_ids`);
        while (expertiseElement && expertiseElement.firstChild) {
            expertiseElement.removeChild(expertiseElement.firstChild);
        }
        if(expertiseElement)
            expertiseIdsElement.value = "";
        checkedCheckboxes.forEach((checkbox) => {
            const option = document.createElement('option');
            const nodeId = checkbox.getAttribute("id");
            const nodeTitle = checkbox.parentElement.querySelector('label').textContent|call:trim;
            option.value = nodeId;
            option.textContent = nodeTitle;
            option.selected = true;
            if(expertiseElement)
                expertiseElement.appendChild(option);
            if(expertiseIdsElement) {
                if(expertiseIdsElement.value.length > 0)
                    expertiseIdsElement.value += ',';
                expertiseIdsElement.value += nodeId;
            }
        })

        document.getElementById(`dropdownSearch_${index}`).classList.add("hidden")
        document.getElementById(`selected_counter_${index}`).textContent = checkedCheckboxes.length;
    }


</script>
