{% include '"talent/helper/macro_fun.html" as macros_fun  ' %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token  %}
    <div class="space-y-12">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
            <div>
                <h2 class="text-base font-semibold leading-7 text-gray-900">Bounty Details</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">General details about the bounty.</p>
            </div>

            <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
                <div class="col-span-full">
                    {% if form|call:non_field_errors %}
                    <div
                        class="w-fit mx-auto flex items-center px-3 py-1.5 py-2.5 rounded-md border border-solid border-[#F5222D] text-sm text-black/[0.85] bg-[#f5222d]/[0.08]">
                        <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-3">
                            <img src="{{ static 'images/error.svg'  }}" alt="Error Icon">
                        </span>
                        {% for error in form|call:non_field_errors %}
                        <p>{{ error  }}</p>
                        {% endfor  %}
                    </div>
                    {% endif  %}
                </div>

                <div class="col-span-full">
                    <label for="{{ form.title.id_for_label  }}"
                        class="block text-sm font-medium leading-6 text-gray-900">{{ form.title.label  }}</label>
                        {{ form.title  }}
                </div>

                <div class="col-span-full">
                    <label for="{{ form.description.id_for_label  }}"
                        class="block text-sm font-medium leading-6 text-gray-900">{{ form.description.label  }}</label>
                    <div class="mt-2">
                        {{ form.description  }}
                    </div>
                </div>

                <div class="col-span-full">
                    <label for="{{ form.points.id_for_label  }}"
                        class="block text-sm font-medium leading-6 text-gray-900">{{ form.points.label  }}</label>
                    <div class="mt-2">
                        {{ form.points  }}
                    </div>
                </div>

                <div class="col-span-full">
                    <label class="block text-sm font-medium leading-6 text-gray-900">
                        Skills & Expertise
                    </label>
                    <div class="mt-2">
                        <div class="grid grid-cols-1 md:grid-cols-2 sm:grid-cols-3 gap-4 gap-y-6"
                            id="person_skill_container">
                            <input type="hidden" name="skills-0-id" value="{{ form.instance.pk  }}" class="row">
                            <div id="id_skills-0-container"
                                class="relative bg-white border border-gray-200 p-4 rounded-md shadow-md">
                                <div class="mt-2">
                                    <select id="id_skill" name="skill"
                                        class="focus-visible:outline-transparent w-full rounded-md border-0 py-1.5 px-2
                                            text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset
                                            focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                        hx-get="{{ url 'get-expertise'  }}" hx-vals=''
                                        hx-trigger="change" hx-target="#ul_expertise_0">
                                        {{ macros_fun.skill_filter_tree(skills, [], True)  }}
                                    </select>
                                </div>
                                <div id="td_expertise" class="mt-4">
                                    {% with index=0  %}
                                        {% include "talent/helper/expertises.html"  %}
                                    {% endwith  %}
                                    <select class="hidden" id="id_skills-0-expertise" name="skills-0-expertise" multiple></select>
                                    <input type="hidden" id="id_expertise_ids" name="expertise_ids">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-span-full">
                    <label for="{{ form.status.id_for_label  }}"
                        class="block text-sm font-medium leading-6 text-gray-900">{{ form.status.label  }}</label>
                    <div class="mt-2">
                        {{ form.status  }}
                    </div>
                </div>

                <div class="col-span-3">
                    {% comment  %}
                    <div class="mt-6 space-y-6">
                        <div class="relative flex gap-x-3">
                            <div class="flex h-6 items-center">
                                {{ form.is_active  }}
                            </div>
                            <div class="text-sm leading-6">
                                <label for="{{ form.is_active.id_for_label  }}"
                                    class="font-medium text-gray-900">{{ form.is_active.label  }}</label>
                                <p class="text-gray-500">{{ form.is_active.help_text  }}</p>
                            </div>
                        </div>
                    </div>
                    {% endcomment  %}
                </div>

                <div class="col-span-full">
                    {% include "attachments.html"  %}
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <a href="javascript:history.go(-1)">
                <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
            </a>
            <button type="submit"
                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
        </div>
</form>
