{% extends 'base.html' %}

{% block content %}

<div class="flex flex-col">
    <div class="breadcrumbs flex flex-wrap items-start text-sm leading-6">
        <a href="#" class="transition-all text-black/[0.45] hover:text-black/[0.85]">{{ challenge.product.name }}</a>
        <span class="mx-2 text-black/[0.45]">/</span>
        <a href="#" class="transition-all text-black/[0.45] hover:text-black/[0.85]">Challenges</a>
        <span class="mx-2 text-black/[0.45]">/</span>
        <a href="#" class="text-black/[0.85] pointer-events-none">{{ challenge.title }}</a>
    </div>
    <h2 class="mt-2.5 mb-[50px] max-w-[536px] w-full text-neutral-800 text-xl">{{ challenge.title }}</h2>
    <div class="flex flex-col mb-6 space-y-3.5 text-sm text-black/[0.85]">
        <p{{ challenge.short_description }}>
            </p>

            <p>{{ challenge.description }}</p>
    </div>
    <div class="flex flex-col">
        <div class="mb-2.5 font-medium text-sm text-black/[0.85]">Bounty:</div>
        <div class="flex flex-col w-full overflow-x-auto pb-3">
            <div class="min-w-[440px] flex flex-col">
                <div class="flex flex-col">
                    <div class="flex items-center grow">
                        <div
                            class="w-[30%] min-w-[30%] bg-gray-50 font-medium border-b border-solid border-gray-300 whitespace-nowrap py-2.5 pl-3 pr-2 text-sm text-gray-900">
                            Skill</div>
                        <div
                            class="w-[30%] min-w-[30%] bg-gray-50 font-medium border-b border-solid border-gray-300 whitespace-nowrap py-2.5 pl-3 pr-2 text-sm text-gray-900">
                            Expertise</div>
                        <div
                            class="w-[15%] min-w-[15%] bg-gray-50 font-medium border-b border-solid border-gray-300 whitespace-nowrap py-2.5 pl-3 pr-2 text-sm text-gray-900">
                            Points</div>
                        {% if bounty_claim %}
                        <div
                            class="w-[25%] min-w-[25%] bg-gray-50 font-medium border-b border-solid border-gray-300 whitespace-nowrap py-2.5 pl-3 pr-2 text-sm text-gray-900">
                            Claimed By</div>
                        {% else %}
                        <div
                            class="w-[25%] min-w-[25%] bg-gray-50 font-medium border-b border-solid border-gray-300 whitespace-nowrap py-2.5 pl-3 pr-2 text-sm text-gray-900">
                            Action</div>
                        {% endif %}
                    </div>
                    <div class="flex items-center grow">
                        <div
                            class="h-[54px] flex items-center w-[30%] min-w-[30%] border-b border-solid border-gray-300 whitespace-nowrap py-2.5 pl-3 pr-2 text-sm text-gray-900">
                            {{ challenge.skill }}
                        </div>
                        <div
                            class="h-[54px] flex items-center w-[30%] min-w-[30%] border-b border-solid border-gray-300 whitespace-nowrap py-2.5 pl-3 pr-2 text-sm text-gray-900">
                            {{ challenge.expertise.all()|join(", ") }}
                        </div>
                        <div
                            class="h-[54px] flex items-center w-[15%] min-w-[15%] border-b border-solid border-gray-300 whitespace-nowrap py-2.5 pl-3 pr-2 text-sm text-gray-900">
                            {{ challenge.get_bounty_points() }}
                        </div>
                        {% if bounty_claim %}
                        <div
                            class="h-[54px] flex items-center w-[25%] min-w-[25%] border-b border-solid border-gray-300 whitespace-nowrap py-2.5 pl-3 pr-2 text-sm text-gray-900">
                            {{ bounty_claim.person.get_full_name() }}
                        </div>
                        {% else %}
                        <div
                            class="h-[54px] flex items-center w-[25%] min-w-[25%] border-b border-solid border-gray-300 whitespace-nowrap py-2.5 pl-3 pr-2 text-sm text-gray-900">
                            <button type="button" hx-get="{{ url('claim-challenge') }}"
                                hx-target="#claim-challenge-modal" hx-swap="innerHTML" name="claim-button"
                                value="claim-button"
                                class="appearance-none w-fit flex items-center justify-center rounded-md bg-blue-400 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-400/[0.85] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400/[0.85] transition-all">
                                Claim
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col space-y-2.5 my-6">
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Created By:</strong>
            <a href="#" class="flex items-center ml-4">
                <div class="flex items-center justify-center shrink-0 w-8 h-8 mr-1.5">
                    <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                        src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                        alt="Challenge Owner Photo">
                </div>
                <div class="text-neutral-800">{{ challenge.created_by.get_full_name() }}</div>
            </a>
        </div>
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Status:</strong> <span class="font-bold ml-1">{{ challenge.get_status_display() }}</span>
        </div>
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Priority:</strong> <span class="text-green-400 ml-1">{{ challenge.get_priority_display() }}</span>
        </div>
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Reviewer:</strong>
            <a href="#" class="flex items-center ml-4">
                <div class="flex items-center justify-center shrink-0 w-8 h-8 mr-1.5">
                    <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                        src="{{ static('images/user.png') }}" alt="Reviewer Photo">
                </div>
                <div class="text-neutral-800">{{ challenge.reviewer.get_full_name() }}</div>
            </a>
        </div>
    </div>
    <form action="" class="flex flex-col">
        <label for="comments" class="block text-sm font-medium leading-6 text-gray-900">Ask a question or make a
            comment about the challenge</label>
        <div class="mt-2">
            <textarea id="comments" name="comments" rows="3"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-transparent sm:text-sm sm:leading-6"></textarea>
        </div>

        <button type="submit"
            class="appearance-none w-fit flex items-center justify-center mt-6 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition-all">Add
            Comment</button>
    </form>
</div>

<!-- Modal for challenge claim form -->
<div id="claim-challenge-modal" hx-target="this"></div>

{% endblock %}