{% extends 'base.html' %}

{% block title %}Create a Bounty{% endblock %}

{% block media %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/treeselectjs@0.9.2/dist/treeselectjs.css" />
{% endblock %}


{% block content %}

{% include 'product_management/forms/bounty_form.html' %}

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/treeselectjs@0.9.2/dist/treeselectjs.umd.js"></script>
<script src="{{ static('scripts/tree-select.js') }}"></script>
{% endblock %}