<!-- <h1>Coming soon - Initiative</h1> -->

{% extends 'base.html' %}

{% block title %}Initiative Detail{% endblock %}

{% block content %}

{% include 'toast.html' %}

<div class="flex flex-col">
    {% include 'product_management/partials/breadcrumbs_initiative_detail.html' %}
    <h2 class="mt-2.5 mb-4 w-full text-neutral-800 text-xl">{{ initiative.name }}</h2>
    <div class="space-y-3.5 text-sm text-black/[0.85]">
        <div class="flex items-center mb-2">
            <p>{{ initiative.description|linebreaksbr|safe }}</p>
        </div>

        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Status:</strong>
            <span class="font-bold ml-1">{{ initiative.get_status_display() }}</span>
        </div>
    </div>

    <div class="flex flex-col my-5">
        {% include 'product_management/partials/initiative_challenge_table.html' %}
    </div>

</div>

{% endblock %}