{% extends 'product_management/product_detail_base.html' %}

{% block title %}Product - Ideas&Bugs{% endblock %}
{% block product_content %}

<div class="border-b border-gray-200 flex items-center justify-between grow w-full">
    <nav class="-mb-px flex space-x-3 md:space-x-8" aria-label="Tabs">
        <a href="#"
            class="tab-link tab-link-ideas border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium active"
            aria-current="page">
            Ideas
            <span
                class="bg-gray-100 text-gray-900 ml-1 md:ml-3 rounded-full py-0.5 px-1.5 md:px-2.5 text-xs font-medium inline-block">{{ ideas|length }}</span>
        </a>
        <a href="#"
            class="tab-link tab-link-bugs border-transparent text-gray-500 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">
            Bugs
            <span
                class="bg-gray-100 text-gray-900 ml-1 md:ml-3 rounded-full py-0.5 px-1.5 md:px-2.5 text-xs font-medium inline-block">{{ bugs|length }}</span>
        </a>
    </nav>
    <a href="{{ url('add_product_idea', args=(product_slug,)) }}"
        class="ideas-btn-modal btn-add-modal__open appearance-none w-fit flex items-center rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 transition-all hover:bg-gray-50">
        Add Idea</a>
</div>

<div class="tab-content">
    <div class="tab-body active">
        <div class="pt-6 text-gray-700 text-lg leading-6 font-semibold">Ideas Tab</div>
        {% if ideas|length %}
        <ul role="list" class="divide-y divide-gray-100">
            {% for idea in ideas %}
            <li class="flex flex-col items-start justify-between gap-y-4 py-5">
                <a href="{{ url('product_idea_detail', args=(product_slug, idea.pk,)) }}">
                    <div class="flex flex-col gap-y-2">
                        <div class="flex items-start justify-between gap-x-4 xl:gap-x-6">
                            <h3 class="text-sm font-semibold leading-6 text-gray-900">
                                {{ idea.title }}
                            </h3>
                            <div class="flex items-center justify-center shrink-0 w-6 h-6">
                                <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                                    src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                    alt="Emma Dorsey">
                            </div>
                        </div>
                        <div class="mt-1 flex flex-col gap-y-2 text-xs leading-5 text-gray-500 ideas-list__text">
                            {{ idea.description|safe }}
                        </div>
                    </div>
                </a>
                <div class="flex grow items-center justify-end text-sm font-medium leading-6 text-gray-900">
                    <div class="heart mr-2.5 ml-0.5">
                        <input type="checkbox" class="heart__checkbox">
                        <div class="heart__icon"></div>
                    </div>
                    <span class="pb-1">{{ idea.vote_count }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="flex flex-col text-center items-center mt-5">
            <div class="flex items-center justify-center w-[184px] h-[152px] mb-2">
                <img class="w-full h-full" src="{{ static('images/empty.svg') }}" alt="Empty Icon">
            </div>
            <div class="text-xs leading-5 text-gray-500">The ideas list is empty</div>
        </div>
        {% endif %}
    </div>
    <div class="tab-body">
        <div class="pt-6 text-gray-700 text-lg leading-6 font-semibold">Bugs Tab</div>
        {% if bugs|length %}

        {% else %}
        <div class="flex flex-col text-center items-center mt-5">
            <div class="flex items-center justify-center w-[184px] h-[152px] mb-2">
                <img class="w-full h-full" src="{{ static('images/empty.svg') }}" alt="Empty Icon">
            </div>
            <div class="text-xs leading-5 text-gray-500">The bugs list is empty</div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}