{% extends 'product_management/product_detail_base.html' %}

{% block title %}Product - Ideas&Bugs{% endblock %}
{% block product_content %}

<!-- TODO: fix the color on ideas and bugs -->
<div class="border-b border-blue-200 flex items-center justify-between grow w-full">
    <nav class="-mb-px flex space-x-3 md:space-x-8">
        <a hx-get="{{ url('product_idea_list', args=(product_slug,)) }}" hx-target="#ideas_and_bugs_content"
            hx-swap="innerHTML"
            _="on click set { innerText: 'Add Idea', href: '{{ url("add_product_idea", args=(product_slug,)) }}' } on #idea-bug-button"
            class="cursor-pointer border-transparent border-blue-900 text-blue-500 hover:border-blue-900 hover:text-blue-700 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">
            Ideas
            <span
                class="bg-blue-100 text-blue-900 ml-1 md:ml-3 rounded-full py-0.5 px-1.5 md:px-2.5 text-xs font-medium inline-block">{{ ideas|length }}</span>
        </a>
        <a hx-get="{{ url('product_bug_list', args=(product_slug,)) }}" hx-target="#ideas_and_bugs_content"
            hx-swap="innerHTML"
            _="on click set { innerText: 'Add Bug', href: '{{ url("add_product_bug", args=(product_slug,)) }}' } on #idea-bug-button"
            class="cursor-pointer border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 flex
            whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium">
            Bugs
            <span
                class="bg-gray-100 text-gray-900 ml-1 md:ml-3 rounded-full py-0.5 px-1.5 md:px-2.5 text-xs font-medium inline-block">{{ bugs|length }}</span>
        </a>
    </nav>
    <a href="{{ url('add_product_idea', args=(product_slug,)) }}" id="idea-bug-button"
        class="idea-btn-modal btn-add-modal__open appearance-none w-fit flex items-center rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-blue-900 shadow-sm ring-1 ring-inset ring-blue-300 transition-all hover:bg-blue-50"
        data-id="modal-idea">
        Add Idea</a>
</div>

<div id="ideas_and_bugs_content">

</div>
{% endblock %}