{% extends 'product_management/product_detail_base.html' %}

{% block title %}Product - Summary{% endblock %}
{% block product_content %}

{% macro generate_summary_structure(data, depth = 0) %}
{% for item in data %}
{% if depth == 0 %}
<div class="sm:px-4 md:px-0 py-5 lg:py-6 sm:grid sm:grid-cols-3 sm:gap-4">
    <dt class="text-sm font-medium leading-6 text-gray-900">
        <span class="flex flex-col">
            <span class="flex flex-wrap items-center font-semibold">
                <a href="{{item['link']}}" class="mr-2">{{item['name']}}</a>
                <button
                    class="btn-video__open appearance-none transition px-1.5 py-0.5 bg-[#F5F5F5] rounded border border-solid border-[#D9D9D9] flex items-center whitespace-nowrap"
                    data-video="{{item['linkYoutubeVideo']}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 border border-solid border-white"
                        viewBox="0 0 12 12" fill="none">
                        <path
                            d="M0.875 11.125H11.125V0.875H0.875V11.125ZM4.625 3.55156C4.625 3.40469 4.79531 3.32188 4.91094 3.41406L8.02656 5.8625C8.04736 5.87888 8.06418 5.89976 8.07574 5.92358C8.0873 5.94739 8.09331 5.97353 8.09331 6C8.09331 6.02647 8.0873 6.0526 8.07574 6.07642C8.06418 6.10024 8.04736 6.12112 8.02656 6.1375L4.91094 8.5875C4.79531 8.67812 4.625 8.59687 4.625 8.45V3.55156Z"
                            fill="#FA541C" />
                    </svg>
                    <span class="text-neutral-950 text-xs ml-1 font-normal">
                        {{item['nameToutubeVideo']}} <span class="text-gray-500">{{item['durationYoutubeVideo']}}</span>
                    </span>
                </button>
            </span>
            <span class="flex text-sm leading-6 text-gray-700 font-normal mt-0.5">
                {{item['description']}}
            </span>
        </span>
    </dt>
    <dd class="mt-1 flex text-sm leading-6 text-gray-700 font-normal sm:col-span-2 sm:mt-0 ">
        <span class="flex flex-col grow nested-item__wrap">
            {{ generate_summary_structure(item["children"], depth + 1) }}
        </span>
    </dd>
</div>
{% endif %}

{% if not depth == 0 %}
<div class="nested-item flex flex-col {% if depth > 1 %}pl-4 lg:pl-8{% endif %}">
    <div class="nested-item__label flex items-start py-1.5 border-t border-solid border-gray-100">

        <button type="button"
            class="{% if not item["children"] %}opacity-0 pointer-events-none{% endif %} nested-item__label-icon h-[22px] w-4 mr-1 flex items-center justify-center shrink-0 rounded-full focus:outline-none focus:ring-0 p-0.5 appearance-none">
            <div class="w-full h-4 text-[#1890FF] category-close-btn">
                <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 495 495" xml:space="preserve">
                    <polygon class="fill-[#1890FF]"
                        points="495,227.5 267.5,227.5 267.5,0 227.5,0 227.5,227.5 0,227.5 0,267.5 227.5,267.5 227.5,495   267.5,495 267.5,267.5 495,267.5 " />
                </svg>
            </div>
            <div class="w-full h-4 text-[#1890FF] category-open-btn hidden">
                <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 495 495" xml:space="preserve">
                    <rect class="fill-[#1890FF]" y="227.5" width="495" height="40" />
                </svg>
            </div>
        </button>
        <span class="flex flex-col">
            <span class="flex flex-wrap items-center font-semibold">
                <a href="{{item['link']}}" class="mr-2">{{item['name']}}</a>
                <button
                    class="btn-video__open appearance-none transition px-1.5 py-0.5 bg-[#F5F5F5] rounded border border-solid border-[#D9D9D9] flex items-center whitespace-nowrap"
                    data-video="{{item['linkYoutubeVideo']}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 border border-solid border-white"
                        viewBox="0 0 12 12" fill="none">
                        <path
                            d="M0.875 11.125H11.125V0.875H0.875V11.125ZM4.625 3.55156C4.625 3.40469 4.79531 3.32188 4.91094 3.41406L8.02656 5.8625C8.04736 5.87888 8.06418 5.89976 8.07574 5.92358C8.0873 5.94739 8.09331 5.97353 8.09331 6C8.09331 6.02647 8.0873 6.0526 8.07574 6.07642C8.06418 6.10024 8.04736 6.12112 8.02656 6.1375L4.91094 8.5875C4.79531 8.67812 4.625 8.59687 4.625 8.45V3.55156Z"
                            fill="#FA541C" />
                    </svg>
                    <span class="text-neutral-950 text-xs ml-1 font-normal">
                        {{item['nameToutubeVideo']}} <span class="text-gray-500">{{item['durationYoutubeVideo']}}</span>
                    </span>
                </button>
            </span>
            <span class="flex text-sm leading-6 text-gray-700 font-normal mt-0.5">
                {{item['description']}}
            </span>
        </span>
    </div>
    {% if item["children"] %}
    <div class="nested-item__child hidden">
        {{ generate_summary_structure(item["children"], depth + 1) }}
    </div>
    {% endif %}
</div>
{% endif %}
{% endfor %}
{% endmacro %}

<div class="flex flex-col">
    <h2 class="text-xl md:text-2xl font-semibold tracking-tight text-gray-900">About {{ product.name  }}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10 mt-3">
        <div class="flex flex-col w-full">
            <div class="flex flex-col gap-y-1.5 md:gap-y-2.5 text-sm leading-6 text-gray-700 pr-10 md:pr-0">
                <div id="productFullDescription" class="overflow-hidden line-clamp-3">
                    <p>{{ product.full_description }}</p>
                </div>
                {% if product.full_description|length > 170 %}
                <button id="showMore"
                    class="appearance-none transition-all delay-600 text-blue-400 hover:text-blue-400/[0.85] mr-auto text-xs">Show
                    more</a>
                    {% endif %}
            </div>
        </div>
        <div class="w-full h-[232px]">
            <iframe width="100%" height="100%" src="{{ product.video_url }}"
                title="OpenUnited Short Explainer Contributor Focus" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="flex border-y border-solid border-gray-300 mt-3 mb-4 pt-4 pb-5 font-semibold text-sm md:text-base">
        {% set available_challenges = product.challenge_set.all()|length %}
        {% if available_challenges == 0 %}
        <p class="transition-all delay-600 text-blue-400 hover:text-blue-400/[0.85]">No available challenge is
            found.</p>
        {% elif available_challenges == 1 %}
        <a href="#" class="transition-all delay-600 text-blue-400 hover:text-blue-400/[0.85]">1
            Available Challenge </a>
        {% else %}
        <a href="#" class="transition-all delay-600 text-blue-400 hover:text-blue-400/[0.85]">{{ available_challenges }}
            Available Challenges</a>
        {% endif %}
    </div>
    <div>
        <h3 class="text-xl text-gray-900">Product Tree</h3>
        <form class="mt-4 mb-4 lg:mb-7 flex items-center">
            <input type="text" name="search-field" id="search-field"
                class="block w-full sm:max-w-[200px] rounded-l-md border-0 py-1.5 px-3 text-gray-900 text-sm shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus-visible:outline-none sm:text-sm sm:leading-6 h-9"
                placeholder="Search text">
            <button type="submit"
                class="appearance-none inline-flex items-center justify-center rounded-r-md bg-blue-400 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-400/[0.85] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400/[0.85] sm:mt-0 w-auto h-9 transition-all delay-600">
                <svg viewBox="64 64 896 896" focusable="false" data-icon="search" width="1em" height="1em"
                    fill="currentColor" aria-hidden="true">
                    <path
                        d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0011.6 0l43.6-43.5a8.2 8.2 0 000-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z">
                    </path>
                </svg>
            </button>
        </form>

        <div class="flex flex-col flex-grow">
            <div class="mt-4 lg:mt-6 border-t border-gray-100">
                <dl class="divide-y divide-gray-100">
                    {{ generate_summary_structure(product_summary_listings) }}
                </dl>
            </div>
        </div>

    </div>
</div>

<script>
    const showMoreButton = document.getElementById('showMore');
    const contentElement = document.getElementById('productFullDescription');

    showMoreButton.addEventListener('click', function () {
        if (contentElement.classList.contains('line-clamp-3')) {
            contentElement.classList.remove('line-clamp-3');
            showMoreButton.textContent = 'Show less';
        } else {
            contentElement.classList.add('line-clamp-3');
            showMoreButton.textContent = 'Show more';
        }
    });
</script>

{% endblock %}