{% extends 'product_management/product_detail_base_with_macro.html' %}

{% block title %}Product - Summary{% endblock %}
{% block product_content %}
{% import "product_management/tree_helper/product_tree_macros.html" as tree_macros %}

<ul ondrop="drop(event)" class="pl-0">
    {{ tree_macros.generate_product_area_tree(tree_data) }}
</ul>

<script>
    
    function toggleVisibility(event) {
        event.preventDefault()
        const targetElement = event.target.closest("li");
        const ul = targetElement.querySelector("ul");
        const icon = targetElement.querySelector("i");

        if (icon.classList.contains("fa-chevron-circle-right")){
            icon.classList.remove("fa-chevron-circle-right");
            icon.classList.add("fa-chevron-circle-down");
        }
        else{
            icon.classList.remove("fa-chevron-circle-down");
            icon.classList.add("fa-chevron-circle-right");
        }
        if (ul) {
            ul.classList.toggle("hidden");
        }
    }

    function drop(event) {     
        var data = event.dataTransfer.getData("text");
        console.log(data)
        var draggedElement = document.getElementById(data)
        var targetElement = event.target.closest("li")
        var existingUl = targetElement.querySelector("ul");
        var parentUl = targetElement.closest("ul"); 

        var parentClass = parentUl.className;

        var currentMarginLeft = parseInt(parentClass.match(/pl-([0-9]+)/)[1])
        var childMargin = currentMarginLeft + 4
        var childClass = parentClass.replace(/pl-[0-9]+/, "pl-" + childMargin);

        if (!existingUl) {
            existingUl = document.createElement("ul");
            existingUl.className = childClass;
            targetElement.appendChild(existingUl);
        }
        existingUl.appendChild(draggedElement);

        const targetId = draggedElement.getAttribute("data-id")
        const parentId = targetElement.getAttribute("data-id")

        document.getElementById(`drop_parent_${targetId}`).value = parentId
        document.getElementById(`drop_submit_${targetId}`).click()
        event.stopPropagation();
    }

    function allowDrop(event) {
        event.preventDefault();
    }

    function drag(event) {
        event.dataTransfer.setData("text", event.target.id);
    }


</script>

{% endblock product_content %}

