<div class="pt-6 text-gray-700 text-lg leading-6 font-semibold">Ideas Tab</div>
{% if ideas|length %}
<ul role="list" class="divide-y divide-gray-100">
    {% for idea in ideas %}
    <li class="flex flex-col items-start justify-between gap-y-4 py-5">
        <a href="{{ url('product_idea_detail', args=(product_slug, idea.pk,)) }}">
            <div class="flex flex-col gap-y-2">
                <div class="flex items-start justify-between gap-x-4 xl:gap-x-6">
                    <h3 class="text-sm font-semibold leading-6 text-gray-900">
                        {{ idea.title }}
                    </h3>
                    <div class="flex items-center justify-center shrink-0 w-6 h-6">
                        <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                            src="{{ idea.person.get_photo_url() }}" alt="Idea Owner">
                    </div>
                </div>
                <div class="mt-1 flex flex-col gap-y-2 text-xs leading-5 text-gray-500 ideas-list__text">
                    {{ idea.description|safe }}
                </div>
            </div>
        </a>
        <div class="flex grow items-center justify-end text-sm font-medium leading-6 text-gray-900">
            <div class="heart mr-2.5 ml-0.5">
                <input type="checkbox" class="heart__checkbox">
                <div class="heart__icon"></div>
            </div>
            <span class="pb-1">{{ idea.vote_count }}</span>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="flex flex-col text-center items-center mt-5">
    <div class="flex items-center justify-center w-[184px] h-[152px] mb-2">
        <img class="w-full h-full" src="{{ static('images/empty.svg') }}" alt="Empty Icon">
    </div>
    <div class="text-xs leading-5 text-gray-500">The ideas list is empty</div>
</div>
{% endif %}