{% extends 'product_management/product_detail_base.html' %}

{% block title %}Product - Challenges{% endblock %}
{% block product_content %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    {% if challenges|length > 0 %}
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Short Desription
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Priority
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Visit</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for challenge in challenges %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ challenge.title }}
                </th>
                <td class="px-6 py-4">
                    {{ challenge.short_description }}
                </td>
                <td class="px-6 py-4">
                    {{ challenge.get_status_display() }}
                </td>
                <td class="px-6 py-4">
                    {{ challenge.get_priority_display() }}
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="{{ url('challenge_detail', args=(product_slug, challenge.id)) }}"
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Visit</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}

    <p>This product has no active challenges</p>

    {% endif %}
</div>

{% endblock %}