{% extends 'product_management/product_detail_base.html' %}

{% block title %}Product - Ideas&Bugs{% endblock %}
{% block product_content %}

<div class="">
    <div class="flex items-center">
        <div class="mr-3 w-10 h-10">
            <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt="Emma Dorsey">
        </div>

        <!-- TODO: Later, create a jinja filter to time formatting -->
        <div>
            <span>
                <!-- Add a link to the person's profile -->
                <a href="#" class="font-semibold">{{ idea.person.user.username }}</a> commented on
                <span class="text-gray-500">{{ idea.created_at.strftime("%d/%m/%Y, %H:%M:%S") }}</span>
            </span>
        </div>

        <div class="flex justify-end px-3 py-1.5 py-2.5 cursor-pointer ml-auto">
            <div id="idea-menu-button" class="relative inline-block text-left">
                <div class="w-fit flex justify-end px-3 py-1.5 py-2.5 cursor-pointer ml-auto">
                    <span class="w-4 h-4 mr-3">
                        <img src="{{ static('images/three-dots.svg') }}" alt="Three dots">
                    </span>
                </div>

                <div id="idea-menu"
                    class="absolute right-0 z-10 mt-2 w-56 hidden origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                    role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-1" role="none">
                        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                            id="menu-item-0">Copy</a>
                        <a href="{{ url('update_product_idea', args=(product_slug, pk)) }}"
                            class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                            id="menu-item-1">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="my-4">
        <h1 class="font-medium">{{ idea.title }}</h1>
        <br>
        <p class="font-normal">{{ idea.description }}</p>
    </div>

</div>

<hr>

{% if request.user.is_authenticated %}
<button type="submit"
    class="appearance-none w-fit flex items-center justify-center mt-6 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition-all">Add
    Comment
</button>
{% else %}
<div class="">
    <a href="{{ url('sign-up') }}"
        class="appearance-none w-fit inline-block justify-center mt-6 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition-all">Sign
        up for free </a><span class="font-semibold"> to join this conversation.</span> Already have an account?
    <a href="{{ url('sign_in') }}" class="text-blue-800">Sign in to comment</a>
</div>
{% endif %}

<script>
    const ideaMenuButton = document.getElementById("idea-menu-button");
    const ideaMenu = document.getElementById("idea-menu");

    ideaMenuButton.addEventListener("click", () => {
        ideaMenu.classList.toggle("hidden");
    });
</script>

{% endblock %}