{% extends 'base.html' %}
{% import "unauthenticated_tree/helper/tree_macros.html" as tree_macros %}

{% block content %}

<div class="flex justify-center">
    <div id="product_tree" class="w-full sm:w-full md:w-3/5 flex flex-col">
        <h3 class="text-xl font-bold mb-3 text-blue-500 mb-2">{{product_tree.name}}</h3>
        <div class="flex justify-between w-full mb-2">
            {% include "unauthenticated_tree/helper/add_product_area_button.html" %}
            {% include "unauthenticated_tree/helper/tooltip.html" %}
        </div>
      <ul ondrop="drop(event)" class="pl-0" id="">
          {{ tree_macros.generate_product_area_tree(tree_data, can_modify_product) }}
      </ul>

        <!-- Container to hold the new form -->
        <div id="form_container" class="w-full"></div>
    </div>
  </div>



<script>
    function copyReferralLink() {
        const copyText = document.getElementById("sharable_link");
        navigator.clipboard.writeText(copyText.value);
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copied!";
    }

    function toggleVisibility(event) {
        event.preventDefault()
        const targetElement = event.target.closest("li");
        const ul = targetElement.querySelector("ul");
        const icon = targetElement.querySelector(".icon-arrow");
        if (icon.getAttribute("data-icon")=="circle-chevron-down"){
            icon.setAttribute("data-icon","circle-chevron-right");
            ul.classList.add("hidden");
        }
        else{
            icon.setAttribute("data-icon","circle-chevron-down");
            ul.classList.remove("hidden");
        }
    }

    function drop(event) {
        var data = event.dataTransfer.getData("text");
        var draggedElement = document.getElementById(data)
        var targetElement = event.target.closest("li")
        var existingUl = targetElement.querySelector("ul");
        var parentUl = targetElement.closest("ul");

        var parentClass = parentUl.className;

        var currentMarginLeft = parseInt(parentClass.match(/pl-([0-9]+)/)[1])
        var childMargin = currentMarginLeft + 4
        var childClass = parentClass.replace(/pl-[0-9]+/, "pl-" + childMargin);

        if (!existingUl) {
            existingUl = document.createElement("ul");
            existingUl.className = childClass;
            targetElement.appendChild(existingUl);
        }
        existingUl.appendChild(draggedElement);

        const targetId = draggedElement.getAttribute("data-id")
        const parentId = targetElement.getAttribute("data-id")

        document.getElementById(`drop_parent_${targetId}`).value = parentId
        document.getElementById(`drop_submit_${targetId}`).click()
        event.stopPropagation();
    }

    function allowDrop(event) {
        event.preventDefault();
    }

    function drag(event) {
        event.dataTransfer.setData("text", event.target.id);
    }

    var searchEmptyElement = document.querySelector(".search_empty");
    var treeContainer = document.getElementById("product_tree");
    var treeNodes = treeContainer.querySelectorAll("li");

</script>
{% endblock content %}
