<div class="max-w-2xl mx-auto">
    <form method="post" enctype="multipart/form-data" class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
        {% csrf_token %}
        
        <div class="px-4 py-6 sm:p-8">
            <div class="space-y-6">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Create Product</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">
                    Provide the basic information about your product.
                </p>

                <!-- Name field -->
                <div class="sm:col-span-4">
                    <label for="{{ form.name.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">
                        Product Name
                    </label>
                    <div class="mt-2">
                        {{ form.name }}
                    </div>
                    {% if form.name.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ form.name.errors.0 }}</p>
                    {% endif %}
                </div>

                <!-- Short Description field -->
                <div class="sm:col-span-4">
                    <label for="{{ form.short_description.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">
                        Short Description
                    </label>
                    <div class="mt-2">
                        {{ form.short_description }}
                    </div>
                    {% if form.short_description.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ form.short_description.errors.0 }}</p>
                    {% endif %}
                </div>

                <!-- Full Description field -->
                <div>
                    <label for="{{ form.full_description.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">
                        Full Description
                    </label>
                    <div class="mt-2">
                        {{ form.full_description }}
                    </div>
                    {% if form.full_description.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ form.full_description.errors.0 }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6 px-4 py-4 sm:px-8">
            <a href="javascript:history.go(-1)">
                <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
            </a>
            <button type="submit"
                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Save
            </button>
        </div>
    </form>
</div>
