{% set TASK_TYPES = ["Draft", "Blocked", "Available", "Claimed", "Done", "In Review"] %}
{% set CHALLENGE_PRIORITY = ["High", "Medium", "Low"] %}
{% set product = bounty.challenge.product %}
{% set challenge = bounty.challenge %}

<li class="col-span-1 rounded-t-lg bg-white relative divide-y divide-gray-200 border">
    <div class="flex w-full items-center justify-between space-x-6 p-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3 justify-between">
          <a href="{{ url('challenge_detail', args=(product.slug, challenge.pk)) }}"
            class="truncate text-sm font-medium text-gray-900">{{ bounty.title }}</a>
        </div>
        <p class="mt-1 truncate text-sm text-gray-500"> {{ bounty.description }}</p>
        <p class="mt-1 truncate text-sm text-gray-500 mt-2"> {{ bounty.skill }} 
          {% if bounty.get_expertise_as_str() %}
            ({{bounty.get_expertise_as_str()}})
          {% endif %}
        </p>
        <div
        class="inline-flex flex-shrink-0 items-center rounded-full bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 mt-4">
        {% if bounty.has_claimed %}
            Claimed by <a class="text-blue-400 pl-1" href="{{ bounty.claimed_by.get_absolute_url() }}">{{ bounty.claimed_by }}</a>
        {% elif TASK_TYPES[challenge.status] == 'In Review' %}
        In Review <a class="text-blue-400" href="/{{ challenge.reviewer.username }}">{{
            challenge.reviewer.firstName }}</a>
        {% else %}
        {{ TASK_TYPES[bounty.status] }}
        {% endif %}
      </div>
        
      </div>
    </div>
    
    <div>
      <div class="-mt-px flex divide-x divide-gray-200">
        <div class="flex w-0 flex-1">
          <span
            class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
            {{bounty.points}} Points
          </span>
        </div>
        
        {% if  TASK_TYPES[bounty.status]=="Available" %}
            <div class="-ml-px flex w-0 flex-1">
              <a href="{{ url('challenge_detail', args=(product.slug, challenge.pk))}}"
                class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-gray-900">
                <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg class="h-6 w-6 text-gray-400 fill-gray-400" fill="" width="20" height="20" viewBox="0 0 100 100"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect x="43.93" y="68.27" width="36.07" height="7.99" rx="2" ry="2" />
                  <path d="M33.82,76.26h-4a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h4a2,2,0,0,1,2,2v4A1.9,1.9,0,0,1,33.82,76.26Z"
                    fill-rule="evenodd" />
                  <path d="M33.82,58.41h-4a2,2,0,0,1-2-2v-4a2,2,0,0,1,2-2h4a2,2,0,0,1,2,2v4A1.9,1.9,0,0,1,33.82,58.41Z"
                    fill-rule="evenodd" />
                  <rect x="43.93" y="50.42" width="36.07" height="7.99" rx="2" ry="2" />
                  <rect x="49.92" y="32.57" width="30.08" height="7.99" rx="2" ry="2" />
                  <path
                    d="M47.55,26.33l-2.12-2.12a1.44,1.44,0,0,0-2.12,0L30.08,37.32l-5.37-5.24a1.44,1.44,0,0,0-2.12,0L20.47,34.2a1.44,1.44,0,0,0,0,2.12l7.36,7.36a3,3,0,0,0,4.24,0L47.55,28.46A1.69,1.69,0,0,0,47.55,26.33Z"
                    fill-rule="evenodd" />
                </svg>
                Claim
              </a>
            </div>
        {% endif %}

      </div>
    </div>
    <button class="w-full py-4 text-sm font-semibold text-gray-900 flex gap-1 justify-center view-more">View more
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
        class="h-5 w-5 text-gray-400 fill-gray-400">
        <path fillRule="evenodd"
          d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
          clipRule="evenodd" />
      </svg>
    </button>
    <div
      class="more_detail_bountry !border-t-gray-200 hidden z-10 absolute divide-y divide-gray-200 rounded-b-lg bg-white shadow-[0_20px_30px_-15px_rgba(0,0,0,0.3)] w-full transition-all ease-in duration-500 p-6">
      <div class="flex justify-between py-2">
        <div class="truncate text-sm font-medium text-gray-900">Product</div>
        <div class="flex justify-between gap-1">
          {% if product.videoUrl %}
          <button class="appearance-none flex flex-none items-center cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-4 text-indigo-500" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
          {% endif %}
          <div class="flex-1">
            <a class="text-indigo-500 text-sm w-full block text-end" href="{{ url('product_detail', args=(product.slug,)) }}">{{
                product.name }}</a>
          </div>
        </div>
      </div>
      <div class="flex justify-between py-2">
        <div class="truncate text-sm font-medium text-gray-900">Initiative</div>
        <div class="max-w-[210px] flex">
          {% if challenge.initiative.videoUrl %}
          <button class="appearance-none flex flex-none items-center cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-4 text-indigo-500" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
          </button>
          {% endif %}
          <div>
            {% if challenge.initiative %}
            <a class="text-indigo-500 text-sm w-full block text-end"
                href="{{ url('initiative_detail', args=(product.slug, challenge.initiative.pk,)) }}">
                {{ challenge.initiative.name }}
            </a>
            {% else %}
            <span class="text-indigo-500 text-sm w-full block text-end"> None
            </span>
            {% endif %}

          </div>
        </div>
      </div>
      <div class="flex justify-between py-2">
        <div class="truncate text-sm font-medium text-gray-900">Challenge</div>
        <div>
          <a href="{{ url('challenge_detail', args=(product.slug, challenge.pk)) }}"
            class="text-indigo-500 text-sm w-full block text-end max-w-[210px]">{{ challenge.title }}</a>
        </div>
      </div>
      <div class="flex justify-between py-2">
        <div class="truncate text-sm font-medium text-gray-900">Priority</div>
        <div class="text-gray-500 text-sm">
          {{ CHALLENGE_PRIORITY[challenge.priority] }}
        </div>
      </div>
      {% if challenge.category %}
      <div class="flex justify-between py-2">
        <div class="truncate text-sm font-medium text-gray-900">Required skills</div>
        <div
          class="inline-flex flex-shrink-0 items-center rounded-full bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
          <span class="">
            {{ challenge.category }}
            {% if challenge.expertise %}
            (
            {% for item in challenge.expertise %}
            {{ item.name }}{% if item != challenge.expertise|last %}
            {{ ', ' }}
            {% endif %}
            {% endfor %}
            )
            {% endif %}
          </span>
        </div>
      </div>
      {% endif %}
    </div>
  </li>