{% extends 'base.html'  %}

{% block title   %}My Profile{% endblock  %}

{% block content   %}
    <form method="POST" id="forms" enctype="multipart/form-data" action="{% url 'profile' pk %}">
        {% csrf_token  %}
        <div class="flex flex-col lg:flex-row grow justify-center lg:pt-[50px] space-y-6 lg:space-y-0 lg:space-x-12">

            {% include 'talent/profile_picture.html'  %}

            <div class="flex flex-col grow lg:max-w-[668px] w-full">
                {% include 'talent/helper/profile_info.html'  %}
                {% include "talent/helper/skills.html"  %}
                {% include "talent/helper/social_links.html"  %}
            </div>
    </form>
{% endblock  %}
