<div class="pt-4 mt-4 border-t border-solid border-[#d8dee4] flex flex-col">
                    <a href="#" class="text-lg font-semibold text-gray-900">Achievements</a>
                    <div class="flex flex-wrap">
                        <div class="group relative mt-2.5 mr-2.5 last:mr-0 w-14 h-14" data-achievemnt="1">
                            <div
                                class="w-full h-full flex shrink-0 items-center justify-center relative z-[1] p-1 bg-white shadow-md rounded-md">
                                <img src="/static/assets/images/achievement-1.svg"
                                    class="w-full h-full object-contain object-center" alt="#">
                            </div>
                            <div
                                class="absolute -bottom-1.5 -right-1.5 z-[2] bg-gray-50 text-blue-400 rounded-lg text-xs px-1 py-0.5 border border-solid border-blue-400">
                                x3</div>
                            <div
                                class="hidden group-hover:block absolute z-[3] bottom-10 right-auto w-[280px] p-3 bg-white border border-solid border-[#d0d7de] shadow-md rounded-md">
                                <div
                                    class="h-20 w-20 flex shrink-0 items-center justify-center mx-auto bg-white shadow-md rounded-md">
                                    <img src="/static/assets/images/achievement-1.svg"
                                        class="w-full h-full object-contain object-center" alt="#">
                                </div>
                                <div class="pt-3">
                                    <div class="flex items-center border-b border-solid border-[#d0d7de] pb-3 mb-3">
                                        Created Challenges
                                        <div
                                            class="ml-3 bg-gray-50 text-blue-400 rounded-lg text-xs px-1 py-0.5 border border-solid border-blue-400">
                                            x3</div>
                                    </div>
                                    <div class="flex flex-col">
                                        <div class="text-[#656d76] text-xs mb-2">List of created Challenges</div>
                                        <div class="flex flex-col">
                                            <div
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500">
                                                Bronze and Silver unlocked
                                            </div>
                                            <a href="#"
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500 hover:text-blue-400 transition-all">
                                                Tweak "add product" logic
                                            </a>
                                            <a href="#"
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500 hover:text-blue-400 transition-all">
                                                UserInvitation, ProductInvitation and Contributor role
                                            </a>
                                            <a href="#"
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500 hover:text-blue-400 transition-all">
                                                Others
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group relative mt-2.5 mr-2.5 last:mr-0 w-14 h-14" data-achievemnt="2">
                            <div
                                class="w-full h-full flex shrink-0 items-center justify-center relative z-[1] p-1 bg-white shadow-md rounded-md">
                                <img src="/static/assets/images/achievement-2.svg"
                                    class="w-full h-full object-contain object-center" alt="#">
                            </div>
                            <div
                                class="absolute -bottom-1.5 -right-1.5 z-[2] bg-gray-50 text-blue-400 rounded-lg text-xs px-1 py-0.5 border border-solid border-blue-400">
                                x2</div>
                            <div
                                class="hidden group-focus:block group-hover:block absolute z-[3] bottom-10 right-auto w-[280px] p-3 bg-white border border-solid border-[#d0d7de] shadow-md rounded-md">
                                <div
                                    class="h-20 w-20 flex shrink-0 items-center justify-center mx-auto bg-white shadow-md rounded-md">
                                    <img src="/static/assets/images/achievement-2.svg"
                                        class="w-full h-full object-contain object-center" alt="#">
                                </div>
                                <div class="pt-3">
                                    <div class="flex items-center border-b border-solid border-[#d0d7de] pb-3 mb-3">
                                        Participate in Products <div
                                            class="ml-3 bg-gray-50 text-blue-400 rounded-lg text-xs px-1 py-0.5 border border-solid border-blue-400">
                                            x2</div>
                                    </div>
                                    <div class="flex flex-col">
                                        <div class="text-[#656d76] text-xs mb-2">List of participation in Products</div>
                                        <div class="flex flex-col">
                                            <div
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500">
                                                Bronze and Silver locked
                                            </div>
                                            <a href="#"
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500 hover:text-blue-400 transition-all">
                                                Tweak "add product" logic
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="group relative mt-2.5 mr-2.5 last:mr-0 w-14 h-14" data-achievemnt="3">
                            <div
                                class="w-full h-full flex shrink-0 items-center justify-center relative z-[1] p-1 bg-white shadow-md rounded-md">
                                <img src="/static/assets/images/achievement-3.svg"
                                    class="w-full h-full object-contain object-center" alt="#">
                            </div>
                            <div
                                class="absolute -bottom-1.5 -right-1.5 z-[2] bg-gray-50 text-blue-400 rounded-lg text-xs px-1 py-0.5 border border-solid border-blue-400">
                                x2</div>
                            <div
                                class="hidden group-focus:block group-hover:block absolute z-[3] bottom-10 -left-[134px] lg:right-auto w-[280px] p-3 bg-white border border-solid border-[#d0d7de] shadow-md rounded-md">
                                <div
                                    class="h-20 w-20 flex shrink-0 items-center justify-center mx-auto bg-white shadow-md rounded-md">
                                    <img src="/static/assets/images/achievement-2.svg"
                                        class="w-full h-full object-contain object-center" alt="#">
                                </div>
                                <div class="pt-3">
                                    <div class="flex items-center border-b border-solid border-[#d0d7de] pb-3 mb-3">
                                        Participate in Products <div
                                            class="ml-3 bg-gray-50 text-blue-400 rounded-lg text-xs px-1 py-0.5 border border-solid border-blue-400">
                                            x2</div>
                                    </div>
                                    <div class="flex flex-col">
                                        <div class="text-[#656d76] text-xs mb-2">List of participation in Products</div>
                                        <div class="flex flex-col">
                                            <div
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500">
                                                Bronze and Silver locked
                                            </div>
                                            <a href="#"
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500 hover:text-blue-400 transition-all">
                                                Tweak "add product" logic
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="group relative mt-2.5 mr-2.5 last:mr-0 w-14 h-14" data-achievemnt="4">
                            <div
                                class="w-full h-full flex shrink-0 items-center justify-center relative z-[1] p-1 bg-white shadow-md rounded-md">
                                <img src="/static/assets/images/achievement-4.svg"
                                    class="w-full h-full object-contain object-center" alt="#">
                            </div>
                            <div
                                class="absolute -bottom-1.5 -right-1.5 z-[2] bg-gray-50 text-blue-400 rounded-lg text-xs px-1 py-0.5 border border-solid border-blue-400">
                                x2</div>
                            <div
                                class="hidden group-focus:block group-hover:block absolute z-[3] bottom-10 right-auto w-[280px] p-3 bg-white border border-solid border-[#d0d7de] shadow-md rounded-md">
                                <div
                                    class="h-20 w-20 flex shrink-0 items-center justify-center mx-auto bg-white shadow-md rounded-md">
                                    <img src="/static/assets/images/achievement-2.svg"
                                        class="w-full h-full object-contain object-center" alt="#">
                                </div>
                                <div class="pt-3">
                                    <div class="flex items-center border-b border-solid border-[#d0d7de] pb-3 mb-3">
                                        Participate in Products <div
                                            class="ml-3 bg-gray-50 text-blue-400 rounded-lg text-xs px-1 py-0.5 border border-solid border-blue-400">
                                            x2</div>
                                    </div>
                                    <div class="flex flex-col">
                                        <div class="text-[#656d76] text-xs mb-2">List of participation in Products</div>
                                        <div class="flex flex-col">
                                            <div
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500">
                                                Bronze and Silver locked
                                            </div>
                                            <a href="#"
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500 hover:text-blue-400 transition-all">
                                                Tweak "add product" logic
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="group relative mt-2.5 mr-2.5 last:mr-0 w-14 h-14" data-achievemnt="5">
                            <div
                                class="w-full h-full flex shrink-0 items-center justify-center relative z-[1] p-1 bg-white shadow-md rounded-md">
                                <img src="/static/assets/images/achievement-2.svg"
                                    class="w-full h-full object-contain object-center" alt="#">
                            </div>
                            <div
                                class="absolute -bottom-1.5 -right-1.5 z-[2] bg-gray-50 text-blue-400 rounded-lg text-xs px-1 py-0.5 border border-solid border-blue-400">
                                x2</div>
                            <div
                                class="hidden group-focus:block group-hover:block absolute z-[3] bottom-10 right-auto w-[280px] p-3 bg-white border border-solid border-[#d0d7de] shadow-md rounded-md">
                                <div
                                    class="h-20 w-20 flex shrink-0 items-center justify-center mx-auto bg-white shadow-md rounded-md">
                                    <img src="/static/assets/images/achievement-2.svg"
                                        class="w-full h-full object-contain object-center" alt="#">
                                </div>
                                <div class="pt-3">
                                    <div class="flex items-center border-b border-solid border-[#d0d7de] pb-3 mb-3">
                                        Participate in Products <div
                                            class="ml-3 bg-gray-50 text-blue-400 rounded-lg text-xs px-1 py-0.5 border border-solid border-blue-400">
                                            x2</div>
                                    </div>
                                    <div class="flex flex-col">
                                        <div class="text-[#656d76] text-xs mb-2">List of participation in Products</div>
                                        <div class="flex flex-col">
                                            <div
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500">
                                                Bronze and Silver locked
                                            </div>
                                            <a href="#"
                                                class="relative my-1.5 pl-3 w-full truncate border-l border-dashed border-[#d0d7de]  text-xs text-gray-500 hover:text-blue-400 transition-all">
                                                Tweak "add product" logic
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>