{% extends 'base.html' %}

{% block title %}Capability Detail{% endblock %}

{% block content %}

<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
    {{ capability.name }}</h1>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl">
    {{ capability.description }}</p>

{% if capability.video_link %}
<div class="w-full h-[232px]">
    <iframe width="100%" height="100%" src="{{ capability.video_link }}" title="" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>
{% endif %}

{% if challenges %}
<div class="mt-5 sm:flex sm:items-center">
    <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Challenges</h1>
        <p class="mt-2 text-sm text-gray-700">A list of all the challenges that is related to this capability.</p>
    </div>
</div>
<div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-full divide-y divide-gray-300">
                <thead>
                    <tr>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Title</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Created by
                        </th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Product</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status
                        </th>
                        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                            <span class="sr-only">Link</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {% for challenge in challenges %}
                    <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                            {{ challenge.title }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                            <a href="{{ challenge.created_by.get_absolute_url() }}"
                                class="text-emerald-600 hover:text-emerald-900">{{ challenge.created_by }}</a></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                            <a href="{{ challenge.product.get_absolute_url() }}"
                                class="text-emerald-600 hover:text-emerald-900">{{ challenge.product }}</a></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                            {{ challenge.status }}</td>
                        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                            <a href="{{ challenge.get_absolute_url() }}"
                                class="text-indigo-600 hover:text-indigo-900">Visit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<p>This capability has no capability attached to it.</p>
{% endif %}

{% endblock %}
