{% extends 'base.html' %}

{% block title %}Challenge Detail{% endblock %}

{% block content %}

{% include 'toast.html' %}

<div class="flex flex-col">
    {% include 'product_management/partials/breadcrumbs_challenge_detail.html' %}
    <h2 class="mt-2.5 mb-4 w-full text-neutral-800 text-xl">{{ challenge.title }}</h2>
    <div class="space-y-3.5 text-sm text-black/[0.85]">
        {% if challenge.short_description %}
        <div class="my-2">
            <p>{{ challenge.short_description|linebreaks }}</p>
        </div>
        {% endif %}

        <div class="flex items-center mb-2">
            <p>{{ challenge.description|linebreaksbr|safe }}</p>
            {% if request.user.is_authenticated %}
            {% if request.user.person == challenge.created_by or challenge.can_delete_challenge(request.user.person) %}
            <div class="ml-auto">
                <a href="{{ url('update-challenge', args=(challenge.product.slug, challenge.pk,)) }}">
                    <button type="button"
                        class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-2 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Edit
                        Challenge</button>
                </a>
                <a href="{{ url('delete-challenge', args=(challenge.product.slug, challenge.pk,)) }}">
                    <button type="button"
                        class="focus:outline-none text-white bg-red-400 hover:bg-red-500 focus:ring-2 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Delete
                        Challenge</button>
                </a>
            </div>
            {% endif %}
            {% endif %}
        </div>

    </div>
    <div class="flex flex-col space-y-2.5 my-6">
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Created By:</strong>
            <a href="{{ challenge.created_by.get_absolute_url() }}" class="flex items-center ml-4">
                <div class="flex items-center justify-center shrink-0 w-8 h-8 mr-1.5">
                    <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                        src="{{ challenge.created_by.get_photo_url() }}" alt="Created By">
                </div>
                <div class="text-neutral-800">{{ challenge.created_by.get_full_name() }}</div>
            </a>
            <span>&nbsp;at {{ challenge.created_at|date }}</span>
        </div>
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Status:</strong>
            {% if current_user_created_claim_request %}
            <span class="font-bold ml-1">Claim Request Under Review</span>
            {% else %}
            <span class="font-bold ml-1">{{ challenge.get_status_display() }}</span>
            {% endif %}
        </div>
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Priority:</strong> <span class="text-green-400 ml-1">{{ challenge.get_priority_display() }}</span>
        </div>
    </div>

    <div class="flex flex-col">
        {% include 'product_management/partials/bounty_detail_table.html' %}
    </div>

    {% if challenge.attachment.exists() %}
    <div class="mt-4">
        {% with attachments=challenge.attachment.all() %}
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
            <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                {% include 'product_management/partials/attachments.html' %}
            </dd>
        </div>
        {% endwith %}
    </div>
    {% endif %}
</div>

{% endblock %}
