<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ static('styles/tailwind.css') }}">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ static('styles/styles.css') }}">

    <!-- Favicon stuff -->
    <link rel="icon" href="{{ static ('images/favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static ('images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static ('images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static ('images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ static ('images/favicon/site.webmanifest') }}">

    <title>Dashboard</title>

</head>

<body>
    <!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
    <!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
    <div class="min-h-full">
        <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
        <div id="mobile-menu-navbar" class="relative hidden z-40 lg:hidden" role="dialog" aria-modal="true">
            <!--
      Off-canvas menu backdrop, show/hide based on off-canvas menu state.

      Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
            <div class="fixed inset-0 bg-gray-600 bg-opacity-75"></div>

            <div class="fixed inset-0 z-40 flex">
                <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
      -->
                <div class="relative flex w-full max-w-xs flex-1 flex-col bg-white pb-4 pt-5">
                    <!--
          Close button, show/hide based on off-canvas menu state.

          Entering: "ease-in-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in-out duration-300"
            From: "opacity-100"
            To: "opacity-0"
        -->
                    <div class="absolute right-0 top-0 -mr-12 pt-2">
                        <button type="button" _="on click add .hidden to #mobile-menu-navbar"
                            class="relative ml-1 flex h-10 w-10 items-center justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Close sidebar</span>
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>

                    <div class="flex flex-shrink-0 items-center px-4">
                        <img class="h-8 w-auto" src="{{ static('images/logo.svg') }}" alt="OpenUnited Logo">
                    </div>
                    <div class="mt-5 h-0 flex-1 overflow-y-auto">
                        <nav class="mt-6 px-3" _="on click from <button/> in me
                                    remove .bg-gray-200 .text-gray-900 from <button/> in me
                                    add .text-gray-700 .hover:bg-gray-50 .hover:text-gray-900 to <button/> in me
                                    add .hidden to #mobile-menu-navbar
                                    tell the target
                                        add .bg-gray-200 .text-gray-900">
                            <div class="space-y-1">
                                <!-- Current: "bg-gray-200 text-gray-900", Default: "text-gray-700 hover:bg-gray-50 hover:text-gray-900" -->
                                <button hx-get="{{ url('dashboard-home') }}" hx-target="#dashboard-tabs"
                                    hx-swap="innerHTML"
                                    class="w-full bg-gray-200 text-gray-900 group flex items-center rounded-md px-2 py-2 text-sm font-medium"
                                    aria-current="page">
                                    <!-- Current: "text-gray-500", Default: "text-gray-400 group-hover:text-gray-500" -->
                                    <svg class="text-gray-500 mr-3 h-6 w-6 flex-shrink-0" fill="none"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                    </svg>
                                    Home
                                </button>
                                <button hx-get="{{ url('manage-bounties') }}" hx-target="#dashboard-tabs"
                                    hx-swap="innerHTML"
                                    class="w-full text-gray-700 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-2 py-2 text-sm font-medium">
                                    <svg class="text-gray-400 group-hover:text-gray-500 mr-3 h-6 w-6 flex-shrink-0"
                                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                                    </svg>
                                    My bounties
                                </button>
                                <button _="on click
                                        toggle between .rotate-90 and .text-gray-400 on #side-arrow-for-expandable-menu-mobile
                                        then toggle .hidden on #sub-menu-1-mobile" type="button" class="w-full text-gray-700 hover:bg-gray-50 hover:text-gray-900 group flex items-center
                                        rounded-md px-2 py-2 text-sm font-medium" aria-controls="sub-menu-1-mobile"
                                    aria-expanded="false">
                                    <!-- Expanded: "rotate-90 text-gray-500", Collapsed: "text-gray-400" -->
                                    <svg id="side-arrow-for-expandable-menu-mobile"
                                        class="text-gray-400 mr-3 h-6 w-6 shrink-0" viewBox="0 0 20 20"
                                        fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    Products
                                </button>
                                <!-- Expandable link section, show/hide based on state. -->
                                <ul _="on click from <a/> in me
                                 remove .bg-gray-50 from <a/> in me
                                 add .hover:bg-gray-50 to <a/> in me
                                 tell the target
                                    add .bg-gray-50" class="hidden mt-1 px-2" id="sub-menu-1-mobile">
                                    {% if products %}
                                    {% for product in products %}
                                    <li>
                                        <!-- TODO: Maybe this anchor tag can be converted to a button -->
                                        <a hx-get="{{ url('dashboard-product-detail', args=(product.slug,)) }}"
                                            hx-target="#dashboard-tabs" hx-swap="innerHTML"
                                            class="cursor-pointer hover:bg-gray-50 block rounded-md py-2 pr-2 pl-9 text-sm leading-6 text-gray-700">{{ product.name }}</a>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <li>
                                        <a href="#"
                                            class="hover:bg-gray-50 block rounded-md py-2 pr-2 pl-9 text-sm leading-6 text-gray-700">No
                                            product is found.</a>
                                    </li>
                                    {% endif %}
                                </ul>

                            </div>

                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="hidden lg:fixed lg:inset-y-0 lg:flex lg:w-64 lg:flex-col lg:border-r lg:border-gray-200 lg:bg-gray-100 lg:pb-4 lg:pt-5">
            <div class="flex flex-shrink-0 items-center px-6">
                <a href="{{ url('home') }}">
                    <img class="h-6 w-auto" src="{{ static('images/logo.svg') }}" alt="OpenUnited Logo">
                </a>
            </div>
            <div class="mt-5 flex h-0 flex-1 flex-col overflow-y-auto pt-1">
                <!-- Sidebar Search -->
                <!--
                <div class="mt-5 px-3">
                    <label for="search" class="sr-only">Search</label>
                    <div class="relative mt-1 rounded-md shadow-sm">
                        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                            aria-hidden="true">
                            <svg class="h-4 w-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                        <input type="text" name="search" id="search"
                            class="block w-full rounded-md border-0 py-1.5 pl-9 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                            placeholder="Search">
                    </div>
                </div>
                -->
                <!-- Navigation -->
                <nav class="mt-6 px-3" _="on click from <button/> in me
                                    remove .bg-gray-200 .text-gray-900 from <button/> in me
                                    add .text-gray-700 .hover:bg-gray-50 .hover:text-gray-900 to <button/> in me
                                    tell the target
                                        add .bg-gray-200 .text-gray-900">
                    <div class="space-y-1">
                        <!-- Current: "bg-gray-200 text-gray-900", Default: "text-gray-700 hover:bg-gray-50 hover:text-gray-900" -->
                        <button hx-get="{{ url('dashboard-home') }}" hx-target="#dashboard-tabs" hx-swap="innerHTML"
                            class="w-full bg-gray-200 text-gray-900 group flex items-center rounded-md px-2 py-2 text-sm font-medium"
                            aria-current="page">
                            <!-- Current: "text-gray-500", Default: "text-gray-400 group-hover:text-gray-500" -->
                            <svg class="text-gray-500 mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                            </svg>
                            Home
                        </button>
                        <button hx-get="{{ url('manage-bounties') }}" hx-target="#dashboard-tabs" hx-swap="innerHTML"
                            class="w-full text-gray-700 hover:bg-gray-50 hover:text-gray-900 group flex items-center rounded-md px-2 py-2 text-sm font-medium">
                            <svg class="text-gray-400 group-hover:text-gray-500 mr-3 h-6 w-6 flex-shrink-0" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                            </svg>
                            My bounties
                        </button>
                        <button _="on click
                                        toggle between .rotate-90 and .text-gray-400 on #side-arrow-for-expandable-menu
                                        then toggle .hidden on #sub-menu-1" type="button" class="w-full text-gray-700 hover:bg-gray-50 hover:text-gray-900 group flex items-center
                            rounded-md px-2 py-2 text-sm font-medium" aria-controls="sub-menu-1" aria-expanded="false">
                            <!-- Expanded: "rotate-90 text-gray-500", Collapsed: "text-gray-400" -->
                            <svg id="side-arrow-for-expandable-menu" class="text-gray-400 mr-3 h-6 w-6 shrink-0"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                    clip-rule="evenodd" />
                            </svg>
                            Products
                        </button>
                        <!-- Expandable link section, show/hide based on state. -->
                        <ul _="on click from <a/> in me
                                 remove .bg-gray-50 from <a/> in me
                                 add .hover:bg-gray-50 to <a/> in me
                                 tell the target
                                    add .bg-gray-50" class="hidden mt-1 px-2" id="sub-menu-1">
                            {% if products %}
                            {% for product in products %}
                            <li>
                                <!-- TODO: Maybe this anchor tag can be converted to a button -->
                                <a hx-get="{{ url('dashboard-product-detail', args=(product.slug,)) }}"
                                    hx-target="#dashboard-tabs" hx-swap="innerHTML"
                                    class="cursor-pointer hover:bg-gray-50 block rounded-md py-2 pr-2 pl-9 text-sm leading-6 text-gray-700">{{ product.name }}</a>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li>
                                <a href="javascript:;"
                                    class="hover:bg-gray-50 block rounded-md py-2 pr-2 pl-9 text-sm leading-6 text-gray-700">No product is found.</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
        <!-- Main column -->
        <div class="flex flex-col lg:pl-64">
            <!-- Search header -->
            <div class="sticky top-0 z-10 flex h-16 flex-shrink-0 border-b border-gray-200 bg-white lg:hidden">
                <!-- Sidebar toggle, controls the 'sidebarOpen' sidebar state. -->
                <button type="button" _="on click remove .hidden from #mobile-menu-navbar"
                    class="border-r border-gray-200 px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-purple-500 lg:hidden">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
                    </svg>
                </button>
                <div class="flex flex-1 justify-between px-4 sm:px-6 lg:px-8">
                    <!-- Search input is not necessary right now
                    <div class="flex flex-1">
                        <form class="flex w-full md:ml-0" action="#" method="GET">
                            <label for="search-field" class="sr-only">Search</label>
                            <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center">
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <input id="search-field" name="search-field"
                                    class="block h-full w-full border-transparent py-2 pl-8 pr-3 text-gray-900 focus:border-transparent focus:outline-none focus:ring-0 focus:placeholder:text-gray-400 sm:text-sm"
                                    placeholder="Search" type="search">
                            </div>
                        </form>
                    </div>
                    -->
                    <div class="flex items-center">
                        <!-- Profile dropdown -->
                        <div class="relative ml-3">
                            <div>
                                <button type="button" _="on click toggle .hidden on #mobile-navbar-dropdown-menu end"
                                    class="relative flex max-w-xs items-center rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2"
                                    id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                    <span class="absolute -inset-1.5"></span>
                                    <span class="sr-only">Open user menu</span>
                                    <img class="h-8 w-8 rounded-full" src="{{ person.get_photo_url() }}"
                                        alt="Profile Picture">
                                </button>
                            </div>

                            <!--
              Dropdown menu, show/hide based on menu state.

              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
                            <div class="absolute hidden z-10 mt-2 w-48 origin-top-right divide-y divide-gray-200 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
                                id="mobile-navbar-dropdown-menu">
                                <div class="py-1" role="none">
                                    <a href="{{ url('profile', args=(request.user.person.pk,) ) }}"
                                        class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                                        id="options-menu-item-1">Your Profile</a>
                                    <a href="{{ url('portfolio', args=(request.user.username,) ) }}"
                                        class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1"
                                        id="options-menu-item-2">Visit Portfolio</a>
                                </div>
                                <div class="py-1" role="none">
                                    <form id="logout-form" method="post" action="{{ url('log_out') }}">
                                        {% csrf_token %}
                                        <button type="submit" class="text-gray-700 block px-4 py-2 text-sm">Log
                                            out</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <main class="flex-1">
                <!-- Main content -->
                <div id="dashboard-tabs">
                    {% include 'product_management/dashboard/dashboard_home.html' %}
                </div>
            </main>
        </div>
    </div>
    <script src="{{ static('scripts/htmx.ajax.js') }}"></script>
    <script src="{{ static('scripts/searchable_dropdown.js') }}"></script>

    <script src="https://unpkg.com/htmx.org@1.9.4"
        integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>

</body>

</html>
