{% extends 'product_management/product_detail_base_with_macro.html' %}

{% block title %}Product - Summary{% endblock %}
{% block product_content %}

{% include 'toast.html' %}

<div class="flex flex-col">
    <h2 class="text-xl md:text-2xl font-semibold tracking-tight text-gray-900">About {{ product.name  }}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10 mt-3">
        <div class="flex flex-col w-full">
            <div class="flex flex-col gap-y-1.5 md:gap-y-2.5 text-sm leading-6 text-gray-700 pr-10 md:pr-0">
                <div>
                    <p id="productFullDescription">{{ product.full_description }}</p>
                </div>
                <button  id="read_more_btn_0" onclick="readMoreFunction(0)"
                    class="appearance-none transition-all delay-600 text-blue-400 hover:text-blue-400/[0.85] mr-auto text-xs"> Read More</a>

                    <!-- TODO: add product owner logic here -->
                    {% if can_modify_product %}
                    <a href="{{ url('product-dashboard', args=(product.slug, 5)) }}">
                        <button type="button"
                            class="w-full rounded-l-md border-0 py-1.5 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                            Edit Settings
                        </button>
                    </a>
                    {% endif %}
            </div>
        </div>
        <div class="w-full h-[232px]">
            {% if product.video_url %}
            <iframe width="100%" height="100%" src="{{ product.video_url }}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            {% else %}
            <div class="w-full h-full bg-gray-200 inline-flex items-center">
                <span class="text-sm font-medium text-center">The
                    video of your product will be shown here when you provide a URL.
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="flex border-y border-solid border-gray-300 mt-3 mb-4 pt-4 pb-5 font-semibold text-sm md:text-base">
        {% set challenge_count = challenges|length %}
        {% if challenge_count == 0 %}
        <p class="transition-all delay-600 text-red-400 hover:text-red-400/[0.85]">No available challenge is
            found.</p>
        {% elif challenge_count == 1 %}
        <a href="{{ url('product_challenges', args=(product_slug,)) }}"
            class="transition-all delay-600 text-blue-400 hover:text-blue-400/[0.85]">1
            Active Challenge </a>
        {% else %}
        <a href="{{ url('product_challenges', args=(product_slug,)) }}"
            class="transition-all delay-600 text-blue-400 hover:text-blue-400/[0.85]">{{ challenge_count }}
            Active Challenges</a>
        {% endif %}
    </div>
    <div>
        <h3 class="text-xl text-gray-900 font-bold mb-3">Product Tree</h3>

        <div class="">
              {% include "product_tree/index.html" %}
          </div>

    </div>
</div>

<script>
    var data = {
        "index":0,
        "textElementId":"productFullDescription",
        "visibleWords":30,
    }
    preSetup(data)

</script>

{% endblock %}
