<div class="pt-6 text-gray-700 text-lg leading-6 font-semibold">Ideas Tab</div>
{% if ideas|length %}
<ul role="list" class="divide-y divide-gray-100">
    {% for idea in ideas %}
    <li class="flex flex-col justify-between gap-y-4 py-5">
        <a href="{{ url('product_idea_detail', args=(product_slug, idea.idea_obj.pk,)) }}">
            <div class="flex flex-col gap-y-2">
                <div class="flex items-start justify-between gap-x-4 xl:gap-x-6">
                    <h3 class="text-sm font-semibold leading-6 text-gray-900">
                        {{ idea.idea_obj.title }}
                    </h3>
                    <div class="flex items-center justify-center shrink-0 w-6 h-6">
                        <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                            src="{{ idea.idea_obj.person.get_photo_url() }}" alt="Idea Owner">
                    </div>
                </div>
                <div class="mt-1 flex flex-col gap-y-2 text-xs leading-5 text-gray-500 ideas-list__text">
                    {{ idea.idea_obj.description|safe }}
                </div>
            </div>
        </a>
        {% if request.user.is_authenticated %}
        <div class="flex grow items-center justify-start text-sm font-medium leading-6 text-gray-900">
            <div class="heart mr-2.5 ml-0.5">
                <input type="checkbox" class="heart__checkbox"
                {% if idea.user_has_voted %} checked {% endif %}
                hx-post="{{ url('cast-vote-for-idea', args=(idea.idea_obj.pk,)) }}"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-target="#vote-count-{{idea.idea_obj.pk}}"/>
                <div class="heart__icon"></div>
            </div>
            <div class="pb-1">
                <span>Votes: </span>
                <span id="vote-count-{{ idea.idea_obj.pk }}">{{ idea.num_votes }}</span>
            </div>

        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="flex flex-col text-center items-center mt-5">
    <div class="flex items-center justify-center w-[184px] h-[152px] mb-2">
        <img class="w-full h-full" src="{{ static('images/empty.svg') }}" alt="Empty Icon">
    </div>
    <div class="text-xs leading-5 text-gray-500">The ideas list is empty</div>
</div>
{% endif %}
