<div class="flex flex-col">
    <div class="max-w-full w-full text-center mx-auto text-sm text-black/[0.85] mb-8 underline underline-offset-2">
        Let's start with your first name and email address.
    </div>
    <div class="space-y-6 mb-0">
        {% if wizard.form.email.errors %}
        <div
            class="w-fit mx-auto flex items-center px-3 py-1.5 py-2.5 rounded-md border border-solid border-[#F5222D] text-sm text-black/[0.85] bg-[#f5222d]/[0.08]">
            <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-3">
                <img src="{{ static('images/error.svg') }}" alt="Error Icon">
            </span>
            {{ wizard.form.email.errors }}
        </div>
        {% endif %}

        <div>
            <label for="{{ wizard.form.full_name.id_for_label }}"
                class="block text-sm font-medium leading-6 text-gray-900">
                {{ wizard.form.full_name.label }}
            </label>
            <div class="mt-2">
                {{ wizard.form.full_name }}
            </div>
        </div>

        <div>
            <label for="{{ wizard.form.email.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900">
                {{ wizard.form.email.label }}
            </label>
            <div class="mt-2">
                {{ wizard.form.email }}
            </div>
        </div>

        <div>
            <label for="{{ wizard.form.preferred_name.id_for_label }}"
                class="block text-sm font-medium leading-6 text-gray-900">
                {{ wizard.form.preferred_name.label }}
            </label>
            <div class="mt-2">
                {{ wizard.form.preferred_name }}
            </div>
        </div>

        <button type="submit"
            class="flex w-full justify-center rounded-md bg-[#1890ff] px-3 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm transition-all hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#1890ff]">
            Send Verification Code
        </button>

    </div>

</div>