<div class="flex flex-col">
    <div class="space-y-6 mb-0">
        {% set password_field_errors = wizard.form.password.errors %}
        {% set non_field_errors = wizard.form.non_field_errors() %}
        {% if password_field_errors or non_field_errors %}
        <div
            class="w-fit mx-auto flex items-center px-3 py-1.5 py-2.5 rounded-md border border-solid border-[#F5222D] text-sm text-black/[0.85] bg-[#f5222d]/[0.08]">
            <span class="w-4 h-4 flex shrink-0 items-center justify-center mr-3">
                <img src="{{ static('images/error.svg') }}" alt="Error Icon">
            </span>
            <ul>
                {% for error in non_field_errors|list + password_field_errors|list %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div
            class="w-fit mx-auto text-center flex items-center px-3 py-1.5 py-2.5 rounded-md border border-solid border-[#00B400] text-sm text-black/[0.85] bg-[#DBFFDB]">
            Email verified! Please set your username and password.
        </div>
        {% endif %}

        <div>
            <label for="{{ wizard.form.username.id_for_label }}"
                class="block text-sm font-medium leading-6 text-gray-900">{{ wizard.form.username.label }}</label>
            <div class="mt-2">
                {{ wizard.form.username }}
            </div>
        </div>

        <div>
            <label for="{{ wizard.form.password.id_for_label }}"
                class="block text-sm font-medium leading-6 text-gray-900">{{ wizard.form.password.label }}</label>
            <!-- Note that the below password field is assigned to an id in security/forms.py
                which will be used in Javascript to check the password strength-->
            <div class="mt-2">
                {{ wizard.form.password }}
            </div>

            <div class="flex flex-col mt-3">
                <ul id="password-strength-list" class="medium w-full grid grid-cols-4 gap-[3px]">
                    <li class="h-1 bg-[#c4c4c4]"></li>
                    <li class="h-1 bg-[#c4c4c4]"></li>
                    <li class="h-1 bg-[#c4c4c4]"></li>
                    <li class="h-1 bg-[#c4c4c4]"></li>
                </ul>
                <div id="password-checker-result" class="text-[10px] leading-3 title-medium mt-1 text-right"></div>
            </div>
        </div>

        <div>
            <label for="{{ wizard.form.password_confirm.id_for_label }}"
                class="block text-sm font-medium leading-6 text-gray-900">{{ wizard.form.password_confirm.label }}</label>
            <div class="mt-2">
                {{ wizard.form.password_confirm }}
            </div>
        </div>

        <button type="submit"
            class="flex w-full justify-center rounded-md bg-[#1890ff] px-3 py-2.5 text-sm font-semibold leading-6 text-white shadow-sm transition-all hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#1890ff]">
            Submit
        </button>

    </div>
</div>

<script>
    const PASSWORD_CRITERIA = [
        /^(?=.{8,})/, // At least 8 characters
        /(?=.*[A-Z])/, // At least one uppercase letter
        /(?=.*[a-z])/, // At least one lowercase letter
        /(?=.*\d)/, // At least one digit
        /(?=.*[!@#$%^&*()_+\[\]{};':"\\|,.<>/?])/ // At least one special character
    ];

    const colorCode = "bg-[#38f32f]"
    const passwordStrengthList = document.getElementById("password-strength-list");
    const passwordStrength = document.getElementById("password-checker-result")
    const listItemCount = passwordStrengthList.childElementCount;
    const passwordField = document.getElementById("password-checker-field");

    passwordField.addEventListener("input", () => {
        const password = passwordField.value;
        let score = 0;

        if (password === "") {
            for (let i = 0; i < listItemCount; i++) {
                passwordStrengthList.children[i].classList.remove(colorCode);
            }
            return;
        }

        for (const criteria of PASSWORD_CRITERIA) {
            if (criteria.test(password)) {
                score += 1;
            }
        }

        // Ensure the score is within the range of 1 to listItemCount
        score = Math.min(score, listItemCount);

        if (score <= 1) {
            passwordStrength.innerHTML = "weak"
        } else if (score > 1 && score < 3) {
            if (password.length > 6) {
                passwordStrength.innerHTML = "medium"
            }
        } else {
            if (password.length > 8) {
                passwordStrength.innerHTML = "strong"
            }
        }

        for (let i = 0; i < listItemCount; i++) {
            if (i < score) {
                passwordStrengthList.children[i].classList.add(colorCode);
            } else {
                passwordStrengthList.children[i].classList.remove(colorCode);
            }
        }
    });
</script>