<div class="flex justify-between w-full mb-2 mt-2">
    {% include "product_tree/components/sub_header/search.html"  %}
    <div>
        {% if product_slug %}
            {% url "product_management:product-area" product_slug as node_url %}
            {% with add_node_url=node_url %}
                {% include "product_tree/components/sub_header/add_product_button.html"  %}
            {% endwith  %}
        {% else %}
            {% url "canopy:add-node-root" product_tree.pk as node_url %}
            {% with add_node_url=node_url %}
                {% include "product_tree/components/sub_header/add_product_button.html"  %}
            {% endwith  %}
        {% endif  %}

        {% include "product_tree/components/sub_header/tooltip.html"  %}
    </div>
</div>
