

<div id="dropzone" class="dropzone shadow appearance-none border rounded w-full my-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    <div class="dz-message" data-dz-message>
    </div>
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />
</div>

<div id="existing-images" class="hidden">
    {% for attachment in product_area_attachment %}
        <div class="existing-image" data-id="{{ attachment.attachment.id }}">
            <img src="/media/{{ attachment.attachment }}" alt="{{ attachment.attachment.file.name }}" >
            <input type="hidden" class="delete_attachment_id" value="{{ attachment.attachment.id }}">
            <input type="hidden" class="file_size" value="{{ attachment.attachment.file.size }}">
            <input type="hidden" class="delete_attachment_url" value="{{ url('delete_product_area_attachment', args=(product_slug, attachment.attachment.pk,) )}}">
        </div>
    {% endfor %}
</div>


<script>
    Dropzone.autoDiscover = false;
    const csrfToken = "{{ csrf_token }}"

    new Dropzone("#dropzone",  {
        headers: {'X-CSRFToken': csrfToken},
        url: "{{ url('product_area_attachment', args=(product_slug, form.instance.pk,) )}}",
        addRemoveLinks: true,
        method: "POST",
        params: 'file_upload',
        dictFileTooBig: "File is too big.",
        dictDefaultMessage: "Drag and Drop files here to upload",
        autoProcessQueue: true,
        //acceptedFiles: '.png, .jpg, .gif, .jpeg',
        uploadMultiple: false,
        clickable: true,
        init: function () {
            var thisDropzone = this 
            var existingImages = document.querySelectorAll('.existing-image');
            let callback = null; 
            let crossOrigin = "anonymous"; 
            let resizeThumbnail = false; 
           
            existingImages.forEach(function(image) {
                const fileNames = ["jpg", "png", "png", "gif"];
                var url = image.querySelector('img').src
                var deleteURL = image.querySelector('.delete_attachment_url').value
                var size = image.querySelector('.file_size').value
                var attachmentId = image.querySelector('.delete_attachment_id').value
                
                var fileExtension = url.split('.').pop();
                const isImage = fileNames.some(fileName => fileName === fileExtension);
                var mockFile = { name: image.querySelector('img').alt,   size: size, accepted: true };

                if (isImage){
                    thisDropzone.displayExistingFile(mockFile, url, callback, crossOrigin, resizeThumbnail);
                    mockFile.previewElement.classList.add("dz-success");
                    mockFile.previewElement.classList.add("dz-complete"); 
                }
                else{
                    thisDropzone.displayExistingFile(mockFile, "{{ static('images/file_image.png') }}", callback, crossOrigin, resizeThumbnail);
                    mockFile.previewElement.classList.add("dz-success");
                    mockFile.previewElement.classList.add("dz-complete"); 
                }
                var removeButton = mockFile.previewElement.querySelector('.dz-remove');
                if (removeButton) {
                    removeButton.setAttribute('data-url-delete', deleteURL);                   
                    removeButton.setAttribute('data-id', attachmentId);                   
                }
            });
        },
        error: function(file, response) {
            if (file.xhr) {
                showNotification({
                    "message": response.message,
                    "displayTime": 3000,
                })
                this.removeFile(file);
            }
        },
        removedfile: function(file) {
            var deleteURL = file.previewElement.querySelector('.dz-remove').getAttribute('data-url-delete');
            var dataId = file.previewElement.querySelector('.dz-remove').getAttribute('data-id');
            if (dataId){
                fetch(deleteURL, {
                    method: 'DELETE',
                    headers: {'X-CSRFToken': csrfToken}
                }).then(response => {
                    if (response.ok) {
                        file.previewElement.parentNode.removeChild(file.previewElement);
                    }
                    else{
                        response.json().then(data => {
                            showNotification({
                                "message": data["message"],
                                "displayTime": 3000,
                            })
                        })
                    }
                })
            } 
            else {
                file.previewElement.parentNode.removeChild(file.previewElement);
            }

        },

    })

</script>