{% if bounty_data %}

<div class="mt-4 w-full">
    <h2 class="mt-1 mb-4 w-full text-neutral-800 text-xl font-semibold leading-7 text-indigo-600">Bounties</h2>
    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 gap-4">
        {% for elem in bounty_data %}
            {% with elem=elem  %}
                {% include "product_management/bounty/helper/small_card.html"  %}
            {% endwith  %}
        {% endfor  %}
    </div>

</div>

{% if does_have_permission %}
<p>
    <a class="inline-block" href=" {{ url 'create-bounty' challenge.product.slug, challenge.pk,  }}">
        <button class="p-4 rounded-md bg-indigo-600 mt-4 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
            type="button">Add Bounty</button>
    </a>
</p>
{% endif  %}

{% else %}
<p class="text-sm italic text-red-600">This challenge has no bounty associated with it.</p>

{% if does_have_permission %}
<p>
    <a class="inline-block" href=" {{ url 'create-bounty' challenge.product.slug, challenge.pk,  }}">
        <button class="p-4 rounded-md bg-indigo-600 mt-4 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
            type="button">
            Create a bounty for this</button>
    </a>
</p>
{% endif  %}

{% endif  %}
