<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- tailwind version 3.3.2 -->
    <script src="https://cdn.tailwindcss.com?plugins=line-clamp"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/styles/choices.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/treeselectjs@0.9.2/dist/treeselectjs.css" />
    <link rel="stylesheet" href="{{ static('styles/styles.css') }}">
    <link rel="stylesheet" href="{{ static('styles/star-rating.css') }}">    

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <div class="flex flex-col min-h-screen max-w-full overflow-hidden">
    {% include 'header.html' %}

    <main class="mx-auto flex flex-col w-full max-w-7xl px-4 py-6 lg:px-8 flex-1 relative z-[1]">
      {% block content %}{% endblock %}
    </main>
    <div class="pointer-events-none fixed inset-x-0 bottom-0 px-6 pb-6 hidden">
      <div class="pointer-events-auto ml-auto max-w-xl rounded-xl bg-white p-6 shadow-lg ring-1 ring-gray-900/10">
        <p class="text-sm leading-6 text-gray-900">This website uses cookies to supplement a balanced diet and
          provide a
          much deserved reward to the senses after consuming bland but nutritious meals. Accepting our cookies
          is
          optional
          but recommended, as they are delicious. See our <a href="#" class="font-semibold text-indigo-600">cookie
            policy</a>.</p>
        <div class="mt-4 flex items-center gap-x-5">
          <button type="button"
            class="rounded-md bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm transition-all delay-600 hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Accept
            all</button>
          <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Reject all</button>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}

  </div>

    <!-- https://github.com/Choices-js/Choices -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js@9.0.1/public/assets/scripts/choices.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4"
    integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous">
</script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script type="module" src="{{ static('scripts/main.js') }}"></script>

</body>

</html>