{% extends 'base_html.html' %}

{% block title %}Enterprise Customers{% endblock %}

{% block content %}

<h1>OpenUnited for Enterprise Customers</h1>
<p>OpenUnited is a platform that connects digital talent and work in a
    unique way. Specific skills are proven on high-quality open source products, and once work is verified, these
    talented contributors are eligible to work for companies on matching paid tasks. Through OpenUnited,
    "important but not fun or urgent right now" work that companies struggle to complete becomes treasured tasks for
    digital talent around the globe. Companies do not pay for "hours worked" but rather payment is made only when tasks
    are successfully completed. Companies are also able to provide incentives that reflect the value of tasks, in a way
    that has never before been possible. Additionally, the OpenUnited ecosystem dynamics mean that companies
    are supporting the sustainability of the open source ecosystem, when work on commercial products is completed
    through OpenUnited. If you are interested in working with OpenUnited to scale your talent or to turn your
    commercial products into open products, please email <a
        href="mailto:contact@openunited.com">contact@openunited.com</a></p>

{% endblock %}