{% extends 'product_management/product_detail_base.html'  %}

{% block title   %}Product - Challenges{% endblock  %}
{% block product_content   %}
{% set TYPES_COLORS = {
    challenge_status.DRAFT: "bg-gray-50 text-gray-700 border-gray-700", 
    challenge_status.BLOCKED: "bg-yellow-50 text-yellow-700 border-yellow-700" ,
    challenge_status.ACTIVE: "bg-green-50 text-green-700 border-green-700",
    challenge_status.COMPLETED: "bg-blue-50 text-blue-700 border-blue-700", 
    challenge_status.CANCELLED: "bg-amber-50 text-amber-700 border-abmer-700",
}%}

<div class="relative sm:rounded-lg flex flex-col">
    <a class="mb-6 float-right w-max self-end" href="{{ url 'challenge_authoring:create' product.slug,  }}">
        <button type="button"
            class="rounded-md bg-indigo-50 ml-2 px-3.5 py-2.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100">
            Create Challenge
        </button>
    </a>

    {% if challenges|length > 0 %}
    <ul role="list" class="grid-cols-1 grid sm:grid-cols-2 gap-x-6 gap-y-8 xl:gap-x-8">
        {% for challenge in challenges %}
        <li class="overflow-hidden rounded-xl border border-gray-200 flex flex-col">
            <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 px-6 py-4">
                <div class="text-sm font-medium leading-6 text-gray-900"><a href="{{ url 'product_management:challenge-detail' product_slug, challenge.id  }}">{{ challenge.title  }}</a></div>
            </div>
            <div class="divide-y divide-gray-100 px-6 text-sm leading-6 flex flex-col justify-between h-full">
                <div class="flex py-3 text-gray-500">
                    {{ challenge|call:get_short_description  }}
                </div>
                <div class="flex justify-end gap-x-4 py-3">
                    <div class="flex items-start gap-2">
                        <span class="bg-gray-200 rounded-[16px] py-1 px-2 text-xs text-gray-700">
                            {{ challenge.priority  }}
                        </span>
                        <div class="rounded-[16px] py-1 px-2 text-xs font-medium border {{ TYPES_COLORS[challenge.status]  }}">
                            {{ challenge.status  }}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor  %}
    </ul>


    
    {% else %}

    <p>This product has no active challenges</p>

    {% endif  %}
</div>

{% endblock  %}