{% load static %}
<div class="mr-4 mt-4">
  <label for="{{ id }}"
    class="inline-block text-sm font-medium leading-6 text-gray-900 mb-2">Expertise</label>

  <select id="{{ id }}" name="expertise" class="w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600">
      <option value="">All</option>
      {% with skills=expertises depth=0 %}
          {% include "product_management/bounty/helper/skill_expertise_tree.html" %}
      {% endwith %}
  </select>
</div>
