{% if can_modify_product %}
    <div class="flex gap-3 items-center view-node-group">
      <button type="button" class="add_node w-5 h-5"
          onclick="add_new_form(event, {{ id }})"
          trigger="create_node_{{ id }}"
          hx-target="#li_{{ id }}_ul_child"
          hx-swap="afterbegin"
          {% if product_slug %}
              hx-get="{% url product-area product_slug,   %}"
          {% else %}
              hx-get="{% url canopy:add-node id,  %}"
          {% endif  %}
          hx-vals='{"margin_left":"{{ margin_left or 0  }}","has_post":"{{ True }}", "parent_id":"{{ id }}","depth": "{{ depth }}" }'>
          <img src="{% static 'images/add.svg' %}" class="" alt="#">
      </button>

      <button type="button"
              class="edit_node w-5 h-5"
              hx-target="#li_node_{{ id }}"
              trigger="update_node_{{ id }}"
              {% if product_slug %}
                  hx-get="{% url product-area-update product_slug, id,   %}"
              {% else %}
                  hx-get="{% url canopy:update-node id,  %}"
              {% endif  %}
              hx-vals='{"margin_left":"{{ margin_left or 0  }}", "depth": "{{ depth }}" }'
              onclick="event|call:preventDefault">
          <img src="{% static 'images/edit_icon.svg' %}" class="edit" alt="#">
      </button>

        <button onclick="deleteNode(event, '{% url canopy:delete-node id,  %}', {{ id }})">
          <img src="{% static 'images/delete.svg' %}" class="" alt="#">
        </button>
    </div>
{% endif  %}

<script>
  function deleteNode(event, url, id){
      event|call:preventDefault
      showConfirm({}).then(async function(){
          htmxRequest({
            url: url,
            method: 'DELETE',
            target: `#li_node_${id}`
          }).then(({event, data}) => {
              const parentButton = document.getElementById(`toggleVisibility_${data.parent_id}`)
              if (parentButton && data.parent_child_count<=1){
                parentButton.classList.add("hidden");
              }
              event.detail.target|call:remove
              showNotification({type: typeSuccess, message:data.message})
          }).catch(({event, data}) => {
              showNotification({message:data.error})
          });
      })
  }

  function add_new_form(event, id){
      const childUl = document.getElementById(`li_${id}_ul_child`)
      if (childUl.classList.contains('hidden')) {
        childUl.classList.remove("hidden")
        const icon = childUl.closest("li").querySelector(".icon-arrow");
        icon.setAttribute("data-icon","circle-chevron-down");
      }
  }
</script>
