{% if bounty_data %}

<div class="mt-4 w-full">      
    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 gap-4">
        {% for elem in bounty_data %}
            {% with elem=elem %}
                {% include "product_management/bounty/helper/small_card.html" %}
            {% endwith %}
        {% endfor %}
    </div>

</div>

{% if does_have_permission %}
<p>
    <a class="inline-block" href=" {{ url('create-bounty', args=(challenge.product.slug, challenge.pk,)) }}">
        <button class="p-4 rounded-md bg-indigo-600 mt-4 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
            type="button">Add Bounty</button>
    </a>
</p>
{% endif %}

{% else %}
<p class="text-sm italic text-red-600">This challenge has no bounty associated with it.</p>

{% if does_have_permission %}
<p>
    <a class="inline-block" href=" {{ url('create-bounty', args=(challenge.product.slug, challenge.pk,)) }}">
        <button class="p-4 rounded-md bg-indigo-600 mt-4 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
            type="button">
            Create a bounty for this</button>
    </a>
</p>
{% endif %}

{% endif %}




<script>
    document.addEventListener('htmx:confirm', function (event) {
        if (event.detail.elt.getAttribute('claim-bounty')) {
            event.preventDefault()
            claimConfirm(event, "{{ url('terms-of-use') }}")
        }
    })

    document.addEventListener('htmx:confirm', function (event) {
        if (event.detail.elt.getAttribute('claim-bounty')) {
            event.preventDefault()
            claimConfirm(event, "{{ url('terms-of-use') }}")
        }
    })
    document.addEventListener('htmx:responseError', function(event) {
        if (event.detail.elt.getAttribute('claim-bounty')) {
          showNotification({message: JSON.parse(event.detail.xhr.response).errors.expected_finish_date})
        }
      });

    {#
    document.addEventListener('htmx:afterRequest', function (event) {
        if (event.detail.xhr.responseURL.indexOf('bounty-claim') !== -1) {
            var response = JSON.parse(event.detail.xhr.responseText);
            if (event.detail.xhr.status === 200) {
                const tdTag = event.target.closest("td")
                event.target.classList.add("hidden")
                const visibleButtonCount = tdTag.querySelectorAll('a:not([class*="hidden"]').length;
                if (visibleButtonCount == 0) {
                    tdTag.innerHTML = "No action is available for this bounty.";
                    tdTag.classList.remove("hidden")
                }
            }
        }
    });
    #}
</script>



