{% if challenge.bounty_set.all() %}
<div class="mb-2.5 font-medium text-sm text-black/[0.85]">Bounty</div>

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Skill
                </th>
                <th scope="col" class="px-6 py-3">
                    Expertise
                </th>
                <th scope="col" class="px-6 py-3">
                    Points
                </th>
                <th scope="col" class="px-6 py-3">
                    Claimed
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for bounty in challenge.bounty_set.all() %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ bounty.skill }}
                </th>
                <td class="px-6 py-4">
                    {{ bounty.get_expertise_as_str() }}
                </td>
                <td class="px-6 py-4">
                    {{ bounty.points }}
                </td>
                <td class="px-6 py-4">
                    {% if is_claimed %}
                        Assigned to <a href={{ claimed_by.get_absolute_url() }} class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ claimed_by }}</a>
                    {% elif current_user_created_claim_request %}
                    <p>You have created a claim request for this bounty.</p>
                    {% else %}
                    <button type="button" hx-get="{{ url('bounty-claim') }}" hx-target="#bounty-claim-modal"
                        hx-swap="innerHTML" name="claim-button" value="claim-button"
                        class="appearance-none w-fit flex items-center justify-center rounded-md bg-blue-400 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-400/[0.85] focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400/[0.85] transition-all">
                        Claim
                    </button>
                    {% endif %}
                </td>
                <td class="px-6 py-4">
                    <div class="flex">
                        <a href="{{ url('update-bounty', args=(bounty.id,)) }}"
                            class="cursor-pointer font-medium text-blue-600 mr-4 hover:underline">Edit</a>
                        <a hx-get="{{ url('delete-bounty', args=(bounty.id,)) }}"
                            hx-confirm="Are you sure to delete this bounty?"
                            class="cursor-pointer font-medium text-red-600 hover:underline">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% else %}
<p class="text-lg text-bold text-red-700">This challenge has no bounty associated with it.</p>
<a href="{{ url('create-bounty') }}"><button class="w-6/12 justify-center rounded-md bg-indigo-600 mt-4 px-3 py-2 text-sm
                                        font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline
                                        focus-visible:outline-2 focus-visible:outline-offset-2
                                        focus-visible:outline-indigo-600" type="button">Create a bounty for this
        challenge</button></a>
{% endif %}