{% load static %}
<nav class="mx-auto flex max-w-7xl items-center justify-between lg:justify-start px-4 pt-6 pb-4 lg:px-8 border-b border-slate-900/5 relative"
    aria-label="Global">
    <div class="hidden lg:flex lg:gap-x-12 relative z-[2]">
        <a href="{% url 'product_management:bounty-list' %}" class="text-sm font-semibold leading-6 text-gray-900">
            Claim a Bounty
        </a>
        <a href="{% url 'marketing:about' %}" class="text-sm font-semibold leading-6 text-gray-900">
            About
        </a>
    </div>
    <div class="flex justify-start lg:justify-center grow w-full h-8 lg:inset-x-0 lg:absolute z-[1]">
        <a href="{% url 'index' %}" class="-m-1.5 p-1.5">
            <span class="sr-only">OpenUnited</span>
            <img class="h-8 w-auto" src="{% static 'images/logo.svg' %}" alt="OpenUnited Logo">
        </a>
    </div>
    <div class="flex lg:hidden">
        <button type="button" _="on click add .menu-open to #mobile-menu-wrap end"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 btn-open-menu">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
    </div>
    <div class="hidden lg:flex lg:items-center lg:justify-end lg:gap-x-5 relative z-[2] ml-auto">
        {% include "partials/user_menu.html" %}
    </div>

    <div id="mobile-menu-wrap" class="lg:hidden menu-wrap" role="dialog" aria-modal="true">
        <div class="fixed inset-y-0 w-full z-10 menu-overlay"></div>
        <div class="fixed inset-y-0 z-[11] overflow-y-auto bg-white px-4 py-6 sm:max-w-sm w-full sm:ring-1 sm:ring-gray-900/10 menu">
            <div class="flex items-center justify-between">
                <a href="{% url 'index' %}" class="-m-1.5 p-1.5">
                    <span class="sr-only">OpenUnited</span>
                </a>
                <button _="on click remove .menu-open from #mobile-menu-wrap" type="button"
                    class="appearance-none -m-2.5 rounded-md p-2.5 text-gray-700 focus-visible:outline-none btn-close-menu">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        type="button" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            {% include "partials/user_menu_mobile.html" %}

            <ul class="space-y-5 flex flex-col pt-4 sm:pt-[30%] pb-10">
                <li class="flex">
                    <a href="{% url 'product_management:bounty-list' %}" class="text-sm font-semibold leading-6 text-gray-900">
                        Explore Bounties
                    </a>
                </li>
                <li class="flex">
                    <a href="{% url 'marketing:about' %}" class="text-sm font-semibold leading-6 text-gray-900">
                        About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
