<div class="relative pb-10">
    <a href="{{ url('create-contributor-agreement-template', args=(product.slug,)) }}">
        <button
            type="button"
            class="absolute right-0 items-center justify-center rounded-md bg-blue-400 px-3 py-2
                text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-blue-500">
            Add Contributor Agreement Template
        </button>
    </a>
</div>

{% if contributor_agreement_templates %}
<div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
        <p class="mt-2 text-md text-gray-700">A list of contributor agreement templates created for this product.</p>
    </div>
</div>
<table class="min-w-full divide-y divide-gray-300 mt-5">
    <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Title</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Effective from</th>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Created By</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Created At</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                <span class="sr-only">Visit</span>
            </th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
        {% for contributor_agreement in contributor_agreement_templates %}
        <tr>
            <td class="max-w-xs px-3 py-4 text-sm text-gray-500">
                {{ contributor_agreement.title }}
            </td>
            <td class="max-w-xs px-3 py-4 text-sm text-gray-500">
                {{ contributor_agreement.effective_date }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                {{ contributor_agreement.created_by }}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                {{ contributor_agreement.created_at|date }}
            </td>
            <td>
                <a href="{{ url('contributor-agreement-template-detail', args=(product.slug, contributor_agreement.id,)) }}"
                    class="font-medium text-sm text-blue-600 hover:underline">
                    View
                </a>
                <!-- <a href="#" class="font-medium text-sm text-blue-600 hover:underline ml-2">
                    Edit
                </a> -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="mt-5 italic ml-2">Currently, there are no contributor agreement templates for this product.</p>
{% endif  %}
