{% import "talent/helper/macro_fun.html" as macros_fun %}

<button id="dropdownSearchButton_{{index}}" onclick="document.getElementById('dropdownSearch_{{index}}').classList.toggle('hidden')" data-dropdown-toggle="dropdownSearch_{{index}}" data-dropdown-placement="bottom" 
        class="flex items-center block w-full px-2 py-1.5 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-indigo-500 flex justify-between" type="button">
        <div>
            Expertises(<span id="selected_counter_{{index}}" class="text-indigo-500 font-bold">
                {% if empty_form %}
                    0
                {% else %}
                    {{person_skill_form.instance.expertise.count()}}
                {% endif %}
            </span> selected) 
        </div>
    <i id="view_more_{{pk}}_icon" class="fa fa-chevron-down w-3 h-3 text-gray-500"></i>
</button>
<div id="dropdownSearch_{{index}}" class="mt-2 absolute z-10 hidden bg-white rounded-lg shadow dropdownSearch">
    <div class="p-3">
        <label for="input-group-search_{{index}}" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <i class="fa fa-search w-4 h-4 text-gray-500" aria-hidden="true"></i>
            </div>
            <input type="text" id="input-group-search_{{index}}" onkeyup="searchFunc(event, {{index}})" class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg focus:border-indigo-500" placeholder="Search user">
        </div>
    </div>

    <ul id="ul_expertise_{{index}}" class="max-h-48 px-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton_{{index}}">
        {% if empty_form %}
            {% set selected_expertise_ids = [] %}
            {% set filtered_expertises = [] %}
        {% else %}
            {% set selected_expertise_ids = person_skill_form.instance.expertise.all()|get_ids %}
            {% set filtered_expertises = expertises|expertise_filter(person_skill_form.instance.skill.pk) %}
        {% endif %}

        {{ macros_fun.expertise_filter_tree(filtered_expertises,selected_expertise_ids,  index, 0) }}
    </ul>

    <a onclick="addExpertise(event, {{index}})" class="flex items-center justify-center p-3 text-sm font-medium  border border-gray-200 rounded-b-lg cursor-pointer">
        Apply 
    </a>
</div>
    

<script>
    function searchFunc(event, index){
        var dropdownMenu = document.getElementById(`dropdownSearch_${index}`);
        var searchInput = document.getElementById(`input-group-search_${index}`);

        const searchTerm = searchInput.value.toLowerCase();
        const items = dropdownMenu.querySelectorAll('li');
        items.forEach((item) => {
            item.removeAttribute("has_parent");
        })
        items.forEach((item) => {
          const text = item.textContent.toLowerCase();
          const children = item.querySelectorAll('li');
          const checkbox = item.querySelector('input[type="checkbox"]');
      
          if (text.includes(searchTerm)) {
            item.classList.remove("hidden");
            children.forEach((child) => {
                child.classList.remove("hidden");
                child.setAttribute("has_parent", true);
            });
  
          } else if (!item.getAttribute("has_parent")) {
            item.classList.add("hidden");
          }
        });
    }
      
    function addExpertise(event, index){
        const expertiseContainer = document.getElementById(`ul_expertise_${index}`)
        const checkedCheckboxes = expertiseContainer.querySelectorAll('input[type="checkbox"]:checked');
        const expertiseElement = document.getElementById(`id_skills-${index}-expertise`);
        while (expertiseElement.firstChild) {
            expertiseElement.removeChild(expertiseElement.firstChild);
          }
        checkedCheckboxes.forEach((checkbox) => {
            const option = document.createElement('option');
            const nodeId = checkbox.getAttribute("id")
            option.value = nodeId;
            option.textContent = nodeId;
            option.selected = true
           document.getElementById(`id_skills-${index}-expertise`).appendChild(option);
        })

        document.getElementById(`dropdownSearch_${index}`).classList.add("hidden")
        document.getElementById(`selected_counter_${index}`).textContent = checkedCheckboxes.length;
    }

    
</script>
