{% import "talent/helper/macro_fun.html" as macros_fun %}
{{ person_skill_formset.management_form }}

<div class="mt-4 pt-2">
    <label  class="text-lg text-black/[0.85] mb-4 inline-flex font-semibold">Skills & Expertise</label>
    <div class="grid grid-cols-1 md:grid-cols-2 sm:grid-cols-3 gap-4 gap-y-6" id="person_skill_container">
        {% for person_skill_form in person_skill_formset %}
            <input type="hidden" name="skills-{{loop.index0}}-id" value="{{ person_skill_form.instance.pk }}" class="row">
            <div id="id_skills-{{ loop.index0 }}-container" class="relative bg-white border border-gray-200 p-4 rounded-md shadow-md">
                <button onclick="deleteSkill(event, {{loop.index0}})" class="mb-2 absolute top-0.5 right-1 text-gray-500 hover:text-gray-700 focus:outline-none" id="close-btn-{{ person_skill_form.instance.pk }}">
                    <i class="fa-solid fa-trash-can text-gray-500"></i>
                </button>
                
                <div class="mt-2">
                    <select id="id_skills-{{ loop.index0 }}-skill" hx-get="{{ url('profile', args=(pk,)) }}" hx-vals='{"index":"{{ loop.index0 }}"}'
                            name="skills-{{ loop.index0 }}-skill" hx-trigger="change" hx-target="#ul_expertise_{{ loop.index0 }}"
                            class="focus-visible:outline-transparent w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        {{ macros_fun.skill_filter_tree(skills, person_skill_form.instance.skill.id, False) }}
                    </select>
                </div>
                <div id="td_{{ loop.index0 }}-exxpertise" class="mt-4">
                    {% with index=loop.index0 %}
                        {% include "talent/helper/expertises.html" %}
                    {% endwith %}
                    <select class="hidden" id="id_skills-{{ loop.index0 }}-expertise" name="skills-{{ loop.index0 }}-expertise" multiple>
                        {% for expertise in person_skill_form.instance.expertise.all() %}
                            <option value="{{ expertise.pk }}" selected>{{ expertise.pk }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mt-4">
                    {% if person_skill_form.DELETE %}
                        <input type="checkbox" class="hidden" data-delete-id="" name="skills-{{ loop.index0 }}-DELETE" id="id_skills-{{ loop.index0 }}-DELETE">
                    {% endif %}
                </div>
            </div>
            
        {% endfor %}
    </div>
    
    <br>

    <div class="w-full mb-4 text-left">
        <button type="button"
            hx-get="{{ url('profile',args=(pk,))}}"
            hx-vals='{"empty_form":"True"}'
            id="add_more_button"
            hx-target="#person_skill_container" class="bg-indigo-600 text-white py-2 px-4 rounded focus:outline-none"
            hx-swap="beforeend">Add Skills & Expertise
        </button>
    </div>
</div>

<script>
function deleteSkill(event, index){
    event.preventDefault()
    showConfirm({}).then(function(){
        document.getElementById(`id_skills-${index}-DELETE`).checked=true
        document.getElementById(`id_skills-${index}-container`).classList.add("hidden")
    })
}
document.addEventListener('htmx:afterSwap', function(event) {
    const gridContainer = document.getElementById("person_skill_container");
    if (gridContainer) {
        var index = gridContainer.querySelectorAll('.row').length - 1;
        var placeholderElements = event.target.querySelectorAll('*');

        placeholderElements.forEach(function(element) {
            Array.from(element.attributes).forEach(function(attr) {
                if (attr.value.includes('{{__prefix__}}')) {
                    var newAttributeValue = attr.value.replace(/{{__prefix__}}/g, index);
                    element.setAttribute(attr.name, newAttributeValue);
                }
            });
        });
        
        var totalFormCount = document.getElementById("id_skills-TOTAL_FORMS");
        totalFormCount.value = parseInt(totalFormCount.value) + 1;
    }
});

</script>