{% if show_share_button %}

<input type="hidden" class="form-input w-full" id="sharable_link" value="{{sharable_link}}" readonly>

<button onclick="copyReferralLink()" class="relative inline-block btn btn-outline-info  transition-all duration-300 ease-linear text-indigo-600 rounded bg-white border border-indigo-600 px-4 transition-all ease-linear duration-100 hover:bg-indigo-600 hover:text-white">
    <i class="fa fa-share-alt" aria-hidden="true"></i> Share link
    <span id="myTooltip" class="tooltiptext absolute w-28 bg-black text-white text-center rounded-md py-1 bottom-full left-1/2 transform -translate-x-1/2 mb-2 opacity-0 transition-opacity duration-300">
        Copy to clipboard
    </span>
</button>

<style>
    .btn:hover .tooltiptext {
        opacity: 1;
    }
</style>
{% endif %}
