<li class="overflow-hidden rounded-xl border border-light-indigo shadow-md">
    <div class="flex items-center gap-x-4 border-b border-light-indigo bg-light-indigo p-4">
        <a href="/{{ challenge_listing.product.owner  }}/{{ challenge_listing.product.slug  }}/challenges/{{ challenge_listing['publishedId']  }}"
            class="text-lg font-medium leading-6 text-indigo-600">{{ challenge_listing["title"]  }}</a>
    </div>
    <div class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
        <div class="py-3">
            <div class="w-full truncate text-gray-500">
                {{ challenge_listing.short_description  }}
            </div>
        </div>
        <div class="py-3">
            <div class="w-full font-semibold text-gray-500">Product</div>
            <div class="flex justify-between gap-x-2">
                {% if challenge_listing.product.videoUrl %}
                <button class="appearance-none flex flex-none items-center cursor-pointer">
                    <img src="/static/assets/images/play.svg" class="w-[14px] h-[15px]" alt="#">
                </button>
                {% endif  %}
                <div class="flex-1">
                    <a class="text-indigo-500"
                        href="{% url product-tree challenge_listing.product.slug,   %}">{{ challenge_listing.product.name  }}
                    </a>
                </div>
            </div>
        </div>
        {% if challenge_listing.initiative %}
        <div class="py-3">
            <div class="w-full font-semibold text-gray-500">Initiative</div>
            <div class="flex justify-between gap-x-2">
                {% if challenge_listing.initiative.videoUrl %}
                <button class="appearance-none flex flex-none items-center cursor-pointer">
                    <img src="/static/assets/images/play.svg" class="w-[14px] h-[15px]" alt="#" />
                </button>
                {% endif  %}
                <div class="flex-1">
                    <a class="text-indigo-500"
                        href="/{{ challenge_listing.product.owner  }}/{{ challenge_listing.product.slug  }}/initiatives/{{ challenge_listing.initiative.id  }}">
                        {{ challenge_listing.initiative.name  }}
                    </a>
                </div>
            </div>
        </div>
        {% endif  %}
        <div class="flex gap-x-4 py-3">
            <div class="font-semibold text-gray-500">Priority</div>
            <div class="text-gray-500">
                {{ challenge_listing.priority  }}
            </div>
        </div>
        <div class="flex gap-x-4 py-3">
            <div class="font-semibold text-gray-500">Status</div>
            <div class="text-gray-500">

                {% if challenge_listing.status  == 'Claimed' %}
                    Claimed by <a class="text-indigo-500" href=""</a>
                {% else %}
                    {{ challenge_listing.status  }}
                {% endif  %}


            </div>
        </div>
        {% if challenge_listing.category %}
        <div class="py-3">
            <div class="font-semibold text-gray-500 mb-1">Required skills</div>
            <div>
                <span class="text-gray-600 text-xs bg-gray-100 p-1">
                    {{ challenge_listing.category  }}
                    {% if challenge_listing.expertise %}
                    (
                    {% for item in challenge_listing.expertise %}
                    {{ item.name  }}{% if item != challenge_listing.expertise|last %}
                    {{ ', '  }}
                    {% endif  %}
                    {% endfor  %}
                    )
                    {% endif  %}
                </span>
            </div>
        </div>
        {% endif  %}
    </div>
</li>
