{% extends 'base.html'  %}

{% block title   %}Contribution Agreement Detail{% endblock  %}

{% block content   %}

{% include 'toast.html'  %}

<div class="flex flex-col">
    {% include 'product_management/partials/breadcrumbs_contributor_agreement_template.html'  %}
    <div class="space-y-3.5 text-sm text-black/[0.85]">
        {% if contributor_agreement_template.content %}
        <div class="my-2">
            {% autoescape off  %}
            <p>{{ contributor_agreement_template.content  }}</p>
            {% endautoescape  %}
        </div>
        {% endif  %}
    </div>
    <div class="flex flex-col space-y-2.5 my-6">
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Title:</strong>
            <span class="ml-2">{{ contributor_agreement_template.title  }}</span>
        </div>
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Effective Date:</strong>
            <span class="ml-2">{{ contributor_agreement_template.effective_date|date  }}</span>
        </div>
        <div class="flex items-center text-xs text-black/[0.85]">
            <strong>Created By: </strong>
            <a href="{{ contributor_agreement_template.created_by|call:get_absolute_url  }}" class="flex items-center ml-4">
                <div class="flex items-center justify-center shrink-0 w-8 h-8 mr-1.5">
                    <img class="w-full h-full rounded-full bg-gray-50 ring-2 ring-white"
                        src="{{ contributor_agreement_template.created_by|call:get_photo_url  }}" alt="Created By">
                </div>
                <div class="text-neutral-800">{{ contributor_agreement_template.created_by|call:get_full_name  }}</div>
            </a>
            <span>&nbsp;at {{ contributor_agreement_template.created_at|date  }}</span>
        </div>
    </div>

</div>

{% endblock  %}
