{% extends 'product_management/product_detail_base.html'  %}

{% block title   %}Product - Challenges{% endblock  %}
{% block product_content   %}

<div class="relative sm:rounded-lg flex flex-col">
    <a class="mb-6 float-right w-max self-end" href="{% url 'challenge_authoring:create' product_slug=product.slug %}">
        <button type="button"
            class="rounded-md bg-indigo-50 ml-2 px-3.5 py-2.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100">
            Create Challenge
        </button>
    </a>

    {% if challenges %}
    <ul role="list" class="grid-cols-1 grid sm:grid-cols-2 gap-x-6 gap-y-8 xl:gap-x-8">
        {% for challenge in challenges %}
        <li class="overflow-hidden rounded-xl border border-gray-200 flex flex-col">
            <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6">
                <div class="text-sm font-medium leading-6 text-gray-900">{{ challenge.title }}</div>
                <div class="rounded-[16px] py-1 px-2 text-xs font-medium border {{ challenge.status_color }}">
                    {{ challenge.status }}
                </div>
            </div>
            <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
                <div class="flex justify-between gap-x-4 py-3">
                    <dt class="text-gray-500">Created by</dt>
                    <dd class="text-gray-700">{{ challenge.created_by.username }}</dd>
                </div>
                {% if challenge.has_bounty %}
                <div class="flex justify-between gap-x-4 py-3">
                    <dt class="text-gray-500">Bounty Points</dt>
                    <dd class="text-gray-700">{{ challenge.bounty_points }}</dd>
                </div>
                {% endif %}
            </dl>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>This product has no active challenges</p>
    {% endif %}
</div>

{% endblock  %}