name: Runs Tests

on:
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        playwright install
    - run: python manage.py test
    - name: Run end to end tests
      run: |
        python manage.py test e2e
      env:
        DJANGO_SETTINGS_MODULE: openunited.settings.development
        DJANGO_SECRET_KEY: 123456789
    - name: Lint with Black (Check)
      # We are installing Black with requirements.txt
      run: black --check .